tmp
node_modules
jspm_packages
bower_components
build
deploy
cfg/aws-keys.json
.DS_Store
sprite-maker/node_modules
sprite-maker/team_data
sprite-maker/output
sprite-maker/players
sprite-maker/.DS_Store
