[class^='sprite-'], [class*=' sprite-'] { background-image:url('../img/Albania-260.jpg'); background-size:130px 3770px; width:260px; height:260px; }
.sprite-Alban_Hoxha { background-position:0 0; }
.sprite-Amir_Abrashi { background-position:0 -130px; }
.sprite-Amir_Rrahmani { background-position:0 -260px; }
.sprite-Andi_Lila { background-position:0 -390px; }
.sprite-Ansi_Agolli { background-position:0 -520px; }
.sprite-Arlind_Ajeti { background-position:0 -650px; }
.sprite-Armando_Sadiku { background-position:0 -780px; }
.sprite-Bekim_Balaj { background-position:0 -910px; }
.sprite-Berat_Djimsiti { background-position:0 -1040px; }
.sprite-Burim_Kukeli { background-position:0 -1170px; }
.sprite-Elseid_Hysaj { background-position:0 -1300px; }
.sprite-Ergys_Kae { background-position:0 -1430px; }
.sprite-Ermir_Lenjani { background-position:0 -1560px; }
.sprite-Etrit_Berisha { background-position:0 -1690px; }
.sprite-Frdric_Veseli { background-position:0 -1820px; }
.sprite-Hamdi_Salihi { background-position:0 -1950px; }
.sprite-Herolind_Shala { background-position:0 -2080px; }
.sprite-Ledian_Memushaj { background-position:0 -2210px; }
.sprite-Liridon_Latifi { background-position:0 -2340px; }
.sprite-Lorik_Cana { background-position:0 -2470px; }
.sprite-Migjen_Basha { background-position:0 -2600px; }
.sprite-Milot_Rashica { background-position:0 -2730px; }
.sprite-Mrgim_Mavraj { background-position:0 -2860px; }
.sprite-Naser_Aliji { background-position:0 -2990px; }
.sprite-Odise_Roshi { background-position:0 -3120px; }
.sprite-Orges_Shehi { background-position:0 -3250px; }
.sprite-Shklzen_Gashi { background-position:0 -3380px; }
.sprite-Sokol_ikalleshi { background-position:0 -3510px; }
.sprite-Taulant_Xhaka { background-position:0 -3640px; }
