[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Albania-180.jpg'); background-size:540px 450px; }
.sprite-Hamdi_Salihi { background-position:0 0; width:90px; height:90px; }
.sprite-Taulant_Xhaka { background-position:-90px 0; width:90px; height:90px; }
.sprite-Amir_Rrahmani { background-position:0 -90px; width:90px; height:90px; }
.sprite-Andi_Lila { background-position:-90px -90px; width:90px; height:90px; }
.sprite-Ansi_Agolli { background-position:-180px 0; width:90px; height:90px; }
.sprite-Arlind_Ajeti { background-position:-180px -90px; width:90px; height:90px; }
.sprite-Armando_Sadiku { background-position:0 -180px; width:90px; height:90px; }
.sprite-Bekim_Balaj { background-position:-90px -180px; width:90px; height:90px; }
.sprite-Berat_Djimsiti { background-position:-180px -180px; width:90px; height:90px; }
.sprite-Burim_Kukeli { background-position:-270px 0; width:90px; height:90px; }
.sprite-Elseid_Hysaj { background-position:-270px -90px; width:90px; height:90px; }
.sprite-Ergys_Kae { background-position:-270px -180px; width:90px; height:90px; }
.sprite-Ermir_Lenjani { background-position:0 -270px; width:90px; height:90px; }
.sprite-Etrit_Berisha { background-position:-90px -270px; width:90px; height:90px; }
.sprite-Frdric_Veseli { background-position:-180px -270px; width:90px; height:90px; }
.sprite-Amir_Abrashi { background-position:-270px -270px; width:90px; height:90px; }
.sprite-Herolind_Shala { background-position:-360px 0; width:90px; height:90px; }
.sprite-Ledian_Memushaj { background-position:-360px -90px; width:90px; height:90px; }
.sprite-Liridon_Latifi { background-position:-360px -180px; width:90px; height:90px; }
.sprite-Lorik_Cana { background-position:-360px -270px; width:90px; height:90px; }
.sprite-Migjen_Basha { background-position:0 -360px; width:90px; height:90px; }
.sprite-Milot_Rashica { background-position:-90px -360px; width:90px; height:90px; }
.sprite-Mrgim_Mavraj { background-position:-180px -360px; width:90px; height:90px; }
.sprite-Naser_Aliji { background-position:-270px -360px; width:90px; height:90px; }
.sprite-Odise_Roshi { background-position:-360px -360px; width:90px; height:90px; }
.sprite-Orges_Shehi { background-position:-450px 0; width:90px; height:90px; }
.sprite-Rey_Manaj { background-position:-450px -90px; width:90px; height:90px; }
.sprite-Shklzen_Gashi { background-position:-450px -180px; width:90px; height:90px; }
.sprite-Sokol_ikalleshi { background-position:-450px -270px; width:90px; height:90px; }
.sprite-Alban_Hoxha { background-position:-450px -360px; width:58.5px; height:58.5px; }
