[class^='sprite-'], [class*=' sprite-'] { background-image:url('../img/Albania-140.jpg'); width:140px; height:140px; }
.sprite-Alban_Hoxha { background-position:0 0; }
.sprite-Amir_Abrashi { background-position:0 -140px; }
.sprite-Amir_Rrahmani { background-position:0 -280px; }
.sprite-Andi_Lila { background-position:0 -420px; }
.sprite-Ansi_Agolli { background-position:0 -560px; }
.sprite-Arlind_Ajeti { background-position:0 -700px; }
.sprite-Armando_Sadiku { background-position:0 -840px; }
.sprite-Bekim_Balaj { background-position:0 -980px; }
.sprite-Berat_Djimsiti { background-position:0 -1120px; }
.sprite-Burim_Kukeli { background-position:0 -1260px; }
.sprite-Elseid_Hysaj { background-position:0 -1400px; }
.sprite-Ergys_Kae { background-position:0 -1540px; }
.sprite-Ermir_Lenjani { background-position:0 -1680px; }
.sprite-Etrit_Berisha { background-position:0 -1820px; }
.sprite-Frdric_Veseli { background-position:0 -1960px; }
.sprite-Hamdi_Salihi { background-position:0 -2100px; }
.sprite-Herolind_Shala { background-position:0 -2240px; }
.sprite-Ledian_Memushaj { background-position:0 -2380px; }
.sprite-Liridon_Latifi { background-position:0 -2520px; }
.sprite-Lorik_Cana { background-position:0 -2660px; }
.sprite-Migjen_Basha { background-position:0 -2800px; }
.sprite-Milot_Rashica { background-position:0 -2940px; }
.sprite-Mrgim_Mavraj { background-position:0 -3080px; }
.sprite-Naser_Aliji { background-position:0 -3220px; }
.sprite-Odise_Roshi { background-position:0 -3360px; }
.sprite-Orges_Shehi { background-position:0 -3500px; }
.sprite-Shklzen_Gashi { background-position:0 -3640px; }
.sprite-Sokol_ikalleshi { background-position:0 -3780px; }
.sprite-Taulant_Xhaka { background-position:0 -3920px; }
