[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Albania-260.jpg'); background-size:780px 650px; }
.sprite-Hamdi_Salihi { background-position:0 0; width:130px; height:130px; }
.sprite-Taulant_Xhaka { background-position:-130px 0; width:130px; height:130px; }
.sprite-Amir_Rrahmani { background-position:0 -130px; width:130px; height:130px; }
.sprite-Andi_Lila { background-position:-130px -130px; width:130px; height:130px; }
.sprite-Ansi_Agolli { background-position:-260px 0; width:130px; height:130px; }
.sprite-Arlind_Ajeti { background-position:-260px -130px; width:130px; height:130px; }
.sprite-Armando_Sadiku { background-position:0 -260px; width:130px; height:130px; }
.sprite-Bekim_Balaj { background-position:-130px -260px; width:130px; height:130px; }
.sprite-Berat_Djimsiti { background-position:-260px -260px; width:130px; height:130px; }
.sprite-Burim_Kukeli { background-position:-390px 0; width:130px; height:130px; }
.sprite-Elseid_Hysaj { background-position:-390px -130px; width:130px; height:130px; }
.sprite-Ergys_Kae { background-position:-390px -260px; width:130px; height:130px; }
.sprite-Ermir_Lenjani { background-position:0 -390px; width:130px; height:130px; }
.sprite-Etrit_Berisha { background-position:-130px -390px; width:130px; height:130px; }
.sprite-Frdric_Veseli { background-position:-260px -390px; width:130px; height:130px; }
.sprite-Amir_Abrashi { background-position:-390px -390px; width:130px; height:130px; }
.sprite-Herolind_Shala { background-position:-520px 0; width:130px; height:130px; }
.sprite-Ledian_Memushaj { background-position:-520px -130px; width:130px; height:130px; }
.sprite-Liridon_Latifi { background-position:-520px -260px; width:130px; height:130px; }
.sprite-Lorik_Cana { background-position:-520px -390px; width:130px; height:130px; }
.sprite-Migjen_Basha { background-position:0 -520px; width:130px; height:130px; }
.sprite-Milot_Rashica { background-position:-130px -520px; width:130px; height:130px; }
.sprite-Mrgim_Mavraj { background-position:-260px -520px; width:130px; height:130px; }
.sprite-Naser_Aliji { background-position:-390px -520px; width:130px; height:130px; }
.sprite-Odise_Roshi { background-position:-520px -520px; width:130px; height:130px; }
.sprite-Orges_Shehi { background-position:-650px 0; width:130px; height:130px; }
.sprite-Rey_Manaj { background-position:-650px -130px; width:130px; height:130px; }
.sprite-Shklzen_Gashi { background-position:-650px -260px; width:130px; height:130px; }
.sprite-Sokol_ikalleshi { background-position:-650px -390px; width:130px; height:130px; }
.sprite-Alban_Hoxha { background-position:-650px -520px; width:84.5px; height:84.5px; }
