[class^='sprite-'], [class*=' sprite-'] { background-image:url('../img/Belgium-140.jpg'); width:140px; height:140px; }
.sprite-Axel_Witsel { background-position:0 0; }
.sprite-Bjrn_Engels { background-position:0 -140px; }
.sprite-Christian_Benteke { background-position:0 -280px; }
.sprite-Dedryck_Boyata { background-position:0 -420px; }
.sprite-Divock_Origi { background-position:0 -560px; }
.sprite-Dries_Mertens { background-position:0 -700px; }
.sprite-Eden_Hazard { background-position:0 -840px; }
.sprite-Guillaume_Gillet { background-position:0 -980px; }
.sprite-Jan_Vertonghen { background-position:0 -1120px; }
.sprite-Jason_Denayer { background-position:0 -1260px; }
.sprite-JeanFranois_Gillet { background-position:0 -1400px; }
.sprite-Jordan_Lukaku { background-position:0 -1540px; }
.sprite-Kevin_De_Bruyne { background-position:0 -1680px; }
.sprite-Kevin_Mirallas { background-position:0 -1820px; }
.sprite-Marouane_Fellaini { background-position:0 -1960px; }
.sprite-Michy_Batshuayi { background-position:0 -2100px; }
.sprite-Mousa_Dembl { background-position:0 -2240px; }
.sprite-Nacer_Chadli { background-position:0 -2380px; }
.sprite-Nicolas_Lombaerts { background-position:0 -2520px; }
.sprite-Radja_Nainggolan { background-position:0 -2660px; }
.sprite-Romelu_Lukaku { background-position:0 -2800px; }
.sprite-Simon_Mignolet { background-position:0 -2940px; }
.sprite-Thibaut_Courtois { background-position:0 -3080px; }
.sprite-Thomas_Meunier { background-position:0 -3220px; }
.sprite-Thomas_Vermaelen { background-position:0 -3360px; }
.sprite-Thorgan_Hazard { background-position:0 -3500px; }
.sprite-Toby_Alderweireld { background-position:0 -3640px; }
.sprite-Vincent_Kompany { background-position:0 -3780px; }
.sprite-Yannick_FerreiraCarrasco { background-position:0 -3920px; }
