[class^='sprite-'], [class*=' sprite-'] { background-image:url('../img/Belgium-120.jpg'); width:120px; height:120px; }
.sprite-Axel_Witsel { background-position:0 0; }
.sprite-Bjrn_Engels { background-position:0 -120px; }
.sprite-Christian_Benteke { background-position:0 -240px; }
.sprite-Dedryck_Boyata { background-position:0 -360px; }
.sprite-Divock_Origi { background-position:0 -480px; }
.sprite-Dries_Mertens { background-position:0 -600px; }
.sprite-Eden_Hazard { background-position:0 -720px; }
.sprite-Guillaume_Gillet { background-position:0 -840px; }
.sprite-Jan_Vertonghen { background-position:0 -960px; }
.sprite-Jason_Denayer { background-position:0 -1080px; }
.sprite-JeanFranois_Gillet { background-position:0 -1200px; }
.sprite-Jordan_Lukaku { background-position:0 -1320px; }
.sprite-Kevin_De_Bruyne { background-position:0 -1440px; }
.sprite-Kevin_Mirallas { background-position:0 -1560px; }
.sprite-Marouane_Fellaini { background-position:0 -1680px; }
.sprite-Michy_Batshuayi { background-position:0 -1800px; }
.sprite-Mousa_Dembl { background-position:0 -1920px; }
.sprite-Nacer_Chadli { background-position:0 -2040px; }
.sprite-Nicolas_Lombaerts { background-position:0 -2160px; }
.sprite-Radja_Nainggolan { background-position:0 -2280px; }
.sprite-Romelu_Lukaku { background-position:0 -2400px; }
.sprite-Simon_Mignolet { background-position:0 -2520px; }
.sprite-Thibaut_Courtois { background-position:0 -2640px; }
.sprite-Thomas_Meunier { background-position:0 -2760px; }
.sprite-Thomas_Vermaelen { background-position:0 -2880px; }
.sprite-Thorgan_Hazard { background-position:0 -3000px; }
.sprite-Toby_Alderweireld { background-position:0 -3120px; }
.sprite-Vincent_Kompany { background-position:0 -3240px; }
.sprite-Yannick_FerreiraCarrasco { background-position:0 -3360px; }
