[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Czech Republic-260.jpg'); background-size:780px 650px; width:260px; height:260px; }
.sprite-Michal_Kadlec { background-position:0 0; }
.sprite-Boek_Dokal { background-position:-130px 0; }
.sprite-Daniel_Pudil { background-position:0 -130px; }
.sprite-David_Lafata { background-position:-130px -130px; }
.sprite-David_Limbersk { background-position:-260px 0; }
.sprite-David_Pavelka { background-position:-260px -130px; }
.sprite-Jan_Kovak { background-position:0 -260px; }
.sprite-Jaroslav_Plail { background-position:-130px -260px; }
.sprite-Ji_Skalk { background-position:-260px -260px; }
.sprite-Josef_ural { background-position:-390px 0; }
.sprite-Ladislav_Krej { background-position:-390px -130px; }
.sprite-Luk_Mareek { background-position:-390px -260px; }
.sprite-Marek_Such { background-position:0 -390px; }
.sprite-Matj_Vydra { background-position:-130px -390px; }
.sprite-Daniel_Kol { background-position:-260px -390px; }
.sprite-Milan_koda { background-position:-390px -390px; }
.sprite-Ondej_Zahustel { background-position:-520px 0; }
.sprite-Patrik_Schick { background-position:-520px -130px; }
.sprite-Pavel_Kadebek { background-position:-520px -260px; }
.sprite-Petr_ech { background-position:-520px -390px; }
.sprite-Roman_Hubnk { background-position:0 -520px; }
.sprite-Theodor_Gebre_Selassie { background-position:-130px -520px; }
.sprite-Tom_Koubek { background-position:-260px -520px; }
.sprite-Tom_Necid { background-position:-390px -520px; }
.sprite-Tom_Rosick { background-position:-520px -520px; }
.sprite-Tom_Sivok { background-position:-650px 0; }
.sprite-Tom_Vaclk { background-position:-650px -130px; }
.sprite-Vladimr_Darida { background-position:-650px -260px; }
