[class^='sprite-'], [class*=' sprite-'] { background-image:url('../img/England-90.jpg'); width:90px; height:90px; }
.sprite-Jack_Wilshere { background-position:0 0; }
.sprite-Adam_Lallana { background-position:-90px 0; }
.sprite-Chris_Smalling { background-position:0 -90px; }
.sprite-Daniel_Sturridge { background-position:-90px -90px; }
.sprite-Danny_Drinkwater { background-position:-180px 0; }
.sprite-Danny_Rose { background-position:-180px -90px; }
.sprite-Dele_Alli { background-position:0 -180px; }
.sprite-Eric_Dier { background-position:-90px -180px; }
.sprite-Fabian_Delph { background-position:-180px -180px; }
.sprite-Fraser_Forster { background-position:-270px 0; }
.sprite-Gary_Cahill { background-position:-270px -90px; }
.sprite-Harry_Kane { background-position:-270px -180px; }
.sprite-Andros_Townsend { background-position:0 -270px; }
.sprite-James_Milner { background-position:-90px -270px; }
.sprite-Jamie_Vardy { background-position:-180px -270px; }
.sprite-Joe_Hart { background-position:-270px -270px; }
.sprite-John_Stones { background-position:-360px 0; }
.sprite-Jordan_Henderson { background-position:-360px -90px; }
.sprite-Kyle_Walker { background-position:-360px -180px; }
.sprite-Nathaniel_Clyne { background-position:-360px -270px; }
.sprite-Raheem_Sterling { background-position:0 -360px; }
.sprite-Ross_Barkley { background-position:-90px -360px; }
.sprite-Ryan_Bertrand { background-position:-180px -360px; }
.sprite-Tom_Heaton { background-position:-270px -360px; }
.sprite-Wayne_Rooney { background-position:-360px -360px; }
