[class^='sprite-'], [class*=' sprite-'] { background-image:url('../img/Germany-120.jpg'); width:120px; height:120px; }
.sprite-Antonio_Rdiger { background-position:0 0; }
.sprite-Bastian_Schweinsteiger { background-position:0 -120px; }
.sprite-Benedikt_Hwedes { background-position:0 -240px; }
.sprite-Bernd_Leno { background-position:0 -360px; }
.sprite-Christoph_Kramer { background-position:0 -480px; }
.sprite-Emre_Can { background-position:0 -600px; }
.sprite-Ilkay_Gndogan { background-position:0 -720px; }
.sprite-Jerome_Boateng { background-position:0 -840px; }
.sprite-Jonas_Hector { background-position:0 -960px; }
.sprite-Jonathan_Tah { background-position:0 -1080px; }
.sprite-Joshua_Kimmich { background-position:0 -1200px; }
.sprite-Julian_Draxler { background-position:0 -1320px; }
.sprite-Karim_Bellarabi { background-position:0 -1440px; }
.sprite-Kevin_Trapp { background-position:0 -1560px; }
.sprite-Leroy_San { background-position:0 -1680px; }
.sprite-Lukas_Podolski { background-position:0 -1800px; }
.sprite-Manuel_Neuer { background-position:0 -1920px; }
.sprite-MarcAndr_ter_Stegen { background-position:0 -2040px; }
.sprite-Marco_Reus { background-position:0 -2160px; }
.sprite-Mario_Gtze { background-position:0 -2280px; }
.sprite-Mats_Hummels { background-position:0 -2400px; }
.sprite-Matthias_Ginter { background-position:0 -2520px; }
.sprite-Mesut_zil { background-position:0 -2640px; }
.sprite-RonRobert_Zieler { background-position:0 -2760px; }
.sprite-Sami_Khedira { background-position:0 -2880px; }
.sprite-Sebastian_Rudy { background-position:0 -3000px; }
.sprite-Shkodran_Mustafi { background-position:0 -3120px; }
.sprite-Thomas_Mller { background-position:0 -3240px; }
.sprite-Toni_Kroos { background-position:0 -3360px; }
