[class^='sprite-'], [class*=' sprite-'] { background-image:url('../img/Germany-140.jpg'); width:140px; height:140px; }
.sprite-Antonio_Rdiger { background-position:0 0; }
.sprite-Bastian_Schweinsteiger { background-position:0 -140px; }
.sprite-Benedikt_Hwedes { background-position:0 -280px; }
.sprite-Bernd_Leno { background-position:0 -420px; }
.sprite-Christoph_Kramer { background-position:0 -560px; }
.sprite-Emre_Can { background-position:0 -700px; }
.sprite-Ilkay_Gndogan { background-position:0 -840px; }
.sprite-Jerome_Boateng { background-position:0 -980px; }
.sprite-Jonas_Hector { background-position:0 -1120px; }
.sprite-Jonathan_Tah { background-position:0 -1260px; }
.sprite-Joshua_Kimmich { background-position:0 -1400px; }
.sprite-Julian_Draxler { background-position:0 -1540px; }
.sprite-Karim_Bellarabi { background-position:0 -1680px; }
.sprite-Kevin_Trapp { background-position:0 -1820px; }
.sprite-Leroy_San { background-position:0 -1960px; }
.sprite-Lukas_Podolski { background-position:0 -2100px; }
.sprite-Manuel_Neuer { background-position:0 -2240px; }
.sprite-MarcAndr_ter_Stegen { background-position:0 -2380px; }
.sprite-Marco_Reus { background-position:0 -2520px; }
.sprite-Mario_Gtze { background-position:0 -2660px; }
.sprite-Mats_Hummels { background-position:0 -2800px; }
.sprite-Matthias_Ginter { background-position:0 -2940px; }
.sprite-Mesut_zil { background-position:0 -3080px; }
.sprite-RonRobert_Zieler { background-position:0 -3220px; }
.sprite-Sami_Khedira { background-position:0 -3360px; }
.sprite-Sebastian_Rudy { background-position:0 -3500px; }
.sprite-Shkodran_Mustafi { background-position:0 -3640px; }
.sprite-Thomas_Mller { background-position:0 -3780px; }
.sprite-Toni_Kroos { background-position:0 -3920px; }
