[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Republic of Ireland-180.jpg'); background-size:540px 450px; width:180px; height:180px; }
.sprite-John_OShea { background-position:0 0; }
.sprite-Aiden_McGeady { background-position:-90px 0; }
.sprite-Ciaran_Clark { background-position:0 -90px; }
.sprite-Cyrus_Christie { background-position:-90px -90px; }
.sprite-Darren_Randolph { background-position:-180px 0; }
.sprite-Daryl_Murphy { background-position:-180px -90px; }
.sprite-David_Forde { background-position:0 -180px; }
.sprite-David_Meyler { background-position:-90px -180px; }
.sprite-Eunan_OKane { background-position:-180px -180px; }
.sprite-Glenn_Whelan { background-position:-270px 0; }
.sprite-Harry_Arter { background-position:-270px -90px; }
.sprite-James_McCarthy { background-position:-270px -180px; }
.sprite-James_McClean { background-position:0 -270px; }
.sprite-Jeff_Hendrick { background-position:-90px -270px; }
.sprite-Anthony_Pilkington { background-position:-180px -270px; }
.sprite-Jon_Walters { background-position:-270px -270px; }
.sprite-Kevin_Doyle { background-position:-360px 0; }
.sprite-Marc_Wilson { background-position:-360px -90px; }
.sprite-Richard_Keogh { background-position:-360px -180px; }
.sprite-Robbie_Brady { background-position:-360px -270px; }
.sprite-Robbie_Keane { background-position:0 -360px; }
.sprite-Seamus_Coleman { background-position:-90px -360px; }
.sprite-Shane_Duffy { background-position:-180px -360px; }
.sprite-Shane_Long { background-position:-270px -360px; }
.sprite-Shay_Given { background-position:-360px -360px; }
.sprite-Stephen_Quinn { background-position:-450px 0; }
.sprite-Stephen_Ward { background-position:-450px -90px; }
.sprite-Wes_Hoolahan { background-position:-450px -180px; }
