[class^='sprite-'], [class*=' sprite-'] { background-image:url('../img/Romania-140.jpg'); width:140px; height:140px; }
.sprite-Adrian_Popa { background-position:0 0; }
.sprite-Adrian_Ropotan { background-position:0 -140px; }
.sprite-Alexandru_Maxim { background-position:0 -280px; }
.sprite-Alexandru_Mel { background-position:0 -420px; }
.sprite-Alin_Toca { background-position:0 -560px; }
.sprite-Bogdan_Stancu { background-position:0 -700px; }
.sprite-Ciprian_Marica { background-position:0 -840px; }
.sprite-Ciprian_Ttruanu { background-position:0 -980px; }
.sprite-Claudiu_Keeru { background-position:0 -1120px; }
.sprite-Cosmin_Moi { background-position:0 -1260px; }
.sprite-Costel_Pantilimon { background-position:0 -1400px; }
.sprite-Cristian_Spunaru { background-position:0 -1540px; }
.sprite-Denis_Alibec { background-position:0 -1680px; }
.sprite-Drago_Grigore { background-position:0 -1820px; }
.sprite-Florin_Andone { background-position:0 -1960px; }
.sprite-Florin_Tnase { background-position:0 -2100px; }
.sprite-Gabriel_Torje { background-position:0 -2240px; }
.sprite-Ioan_Hora { background-position:0 -2380px; }
.sprite-Lszl_Sepsi { background-position:0 -2520px; }
.sprite-Lucian_Snmrtean { background-position:0 -2660px; }
.sprite-Mihai_Pintilii { background-position:0 -2800px; }
.sprite-Nicolae_Stanciu { background-position:0 -2940px; }
.sprite-Ovidiu_Hoban { background-position:0 -3080px; }
.sprite-Raul_Rusescu { background-position:0 -3220px; }
.sprite-Rzvan_Ra { background-position:0 -3360px; }
.sprite-Silviu_Lung { background-position:0 -3500px; }
.sprite-Steliano_Filip { background-position:0 -3640px; }
.sprite-Valeric_Gman { background-position:0 -3780px; }
.sprite-Vlad_Chiriche { background-position:0 -3920px; }
