[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Russia-240.jpg'); background-size:720px 600px; width:240px; height:240px; }
.sprite-Guilherme { background-position:0 0; }
.sprite-Alan_Dzagoev { background-position:-120px 0; }
.sprite-Aleksandr_Kokorin { background-position:0 -120px; }
.sprite-Aleksei_Berezutski { background-position:-120px -120px; }
.sprite-Alexander_Golovin { background-position:-240px 0; }
.sprite-Alexander_Samedov { background-position:-240px -120px; }
.sprite-Alexey_Ionov { background-position:0 -240px; }
.sprite-Artur_Yusupov { background-position:-120px -240px; }
.sprite-Artyom_Dzyuba { background-position:-240px -240px; }
.sprite-Denis_Cheryshev { background-position:-360px 0; }
.sprite-Denis_Glushakov { background-position:-360px -120px; }
.sprite-Dmitri_Kombarov { background-position:-360px -240px; }
.sprite-Dmitri_Tarasov { background-position:0 -360px; }
.sprite-Dmitri_Torbinsky { background-position:-120px -360px; }
.sprite-Fyodor_Smolov { background-position:-240px -360px; }
.sprite-Aleksandr_Kerzhakov { background-position:-360px -360px; }
.sprite-Igor_Akinfeev { background-position:-480px 0; }
.sprite-Igor_Denisov { background-position:-480px -120px; }
.sprite-Igor_Smolnikov { background-position:-480px -240px; }
.sprite-Oleg_Ivanov { background-position:-480px -360px; }
.sprite-Oleg_Kuzmin { background-position:0 -480px; }
.sprite-Oleg_Shatov { background-position:-120px -480px; }
.sprite-Pavel_Mamaev { background-position:-240px -480px; }
.sprite-Roman_Neustdter { background-position:-360px -480px; }
.sprite-Roman_Shirokov { background-position:-480px -480px; }
.sprite-Sergei_Ignashevich { background-position:-600px 0; }
.sprite-Stanislav_Kritsyuk { background-position:-600px -120px; }
.sprite-Vasili_Berezutski { background-position:-600px -240px; }
.sprite-Yuri_Lodygin { background-position:-600px -360px; }
.sprite-Yuri_Zhirkov { background-position:-600px -480px; }
