[class^='sprite-'], [class*=' sprite-'] { background-image:url('../img/Russia-140.jpg'); width:140px; height:140px; }
.sprite-Alan_Dzagoev { background-position:0 0; }
.sprite-Aleksandr_Kerzhakov { background-position:0 -140px; }
.sprite-Aleksandr_Kokorin { background-position:0 -280px; }
.sprite-Aleksei_Berezutski { background-position:0 -420px; }
.sprite-Alexander_Golovin { background-position:0 -560px; }
.sprite-Alexander_Samedov { background-position:0 -700px; }
.sprite-Alexey_Ionov { background-position:0 -840px; }
.sprite-Artur_Yusupov { background-position:0 -980px; }
.sprite-Artyom_Dzyuba { background-position:0 -1120px; }
.sprite-Denis_Cheryshev { background-position:0 -1260px; }
.sprite-Denis_Glushakov { background-position:0 -1400px; }
.sprite-Dmitri_Kombarov { background-position:0 -1540px; }
.sprite-Dmitri_Tarasov { background-position:0 -1680px; }
.sprite-Dmitri_Torbinsky { background-position:0 -1820px; }
.sprite-Guilherme { background-position:0 -1960px; }
.sprite-Igor_Akinfeev { background-position:0 -2100px; }
.sprite-Igor_Denisov { background-position:0 -2240px; }
.sprite-Igor_Smolnikov { background-position:0 -2380px; }
.sprite-Oleg_Ivanov { background-position:0 -2520px; }
.sprite-Oleg_Kuzmin { background-position:0 -2660px; }
.sprite-Oleg_Shatov { background-position:0 -2800px; }
.sprite-Pavel_Mamaev { background-position:0 -2940px; }
.sprite-Roman_Neustdter { background-position:0 -3080px; }
.sprite-Roman_Shirokov { background-position:0 -3220px; }
.sprite-Sergei_Ignashevich { background-position:0 -3360px; }
.sprite-Stanislav_Kritsyuk { background-position:0 -3500px; }
.sprite-Vasili_Berezutsk { background-position:0 -3640px; }
.sprite-Yuri_Lodygin { background-position:0 -3780px; }
.sprite-Yuri_Zhirkov { background-position:0 -3920px; }
