[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Turkey-180.jpg'); background-size:540px 540px; width:180px; height:180px; }
.sprite-Mehmet_Topal { background-position:0 0; }
.sprite-Ahmet_alk { background-position:-90px 0; }
.sprite-Ali_aal_Vural { background-position:0 -90px; }
.sprite-Alper_Potuk { background-position:-90px -90px; }
.sprite-Arda_Turan { background-position:-180px 0; }
.sprite-Burak_Ylmaz { background-position:-180px -90px; }
.sprite-Caner_Erkin { background-position:0 -180px; }
.sprite-Cenk_Tosun { background-position:-90px -180px; }
.sprite-Emre_Mor { background-position:-180px -180px; }
.sprite-ener_zbayrakl { background-position:-270px 0; }
.sprite-Gkhan_Gnl { background-position:-270px -90px; }
.sprite-Gkhan_Tre { background-position:-270px -180px; }
.sprite-Hakan_alhanolu { background-position:0 -270px; }
.sprite-Hakan_Kadir_Balta { background-position:-90px -270px; }
.sprite-Harun_Tekin { background-position:-180px -270px; }
.sprite-Mahmut_Tekdemir { background-position:-270px -270px; }
.sprite-alar_Sync { background-position:-360px 0; }
.sprite-mer_Toprak { background-position:-360px -90px; }
.sprite-Mevlt_Erdin { background-position:-360px -180px; }
.sprite-Nuri_ahin { background-position:-360px -270px; }
.sprite-Olcay_ahan { background-position:0 -360px; }
.sprite-Onur_Kivrak { background-position:-90px -360px; }
.sprite-Ouzhan_zyakup { background-position:-180px -360px; }
.sprite-Ozan_Tufan { background-position:-270px -360px; }
.sprite-Seluk_nan { background-position:-360px -360px; }
.sprite-Semih_Kaya { background-position:-450px 0; }
.sprite-Serdar_Aziz { background-position:-450px -90px; }
.sprite-smail_Kyba { background-position:-450px -180px; }
.sprite-Volkan_Babacan { background-position:-450px -270px; }
.sprite-Volkan_en { background-position:-450px -360px; }
.sprite-Yasin_ztekin { background-position:0 -450px; }
.sprite-Yunus_Mall { background-position:-90px -450px; }
