[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Turkey-240.jpg'); background-size:720px 720px; width:240px; height:240px; }
.sprite-Mehmet_Topal { background-position:0 0; }
.sprite-Ahmet_alk { background-position:-120px 0; }
.sprite-Ali_aal_Vural { background-position:0 -120px; }
.sprite-Alper_Potuk { background-position:-120px -120px; }
.sprite-Arda_Turan { background-position:-240px 0; }
.sprite-Burak_Ylmaz { background-position:-240px -120px; }
.sprite-Caner_Erkin { background-position:0 -240px; }
.sprite-Cenk_Tosun { background-position:-120px -240px; }
.sprite-Emre_Mor { background-position:-240px -240px; }
.sprite-ener_zbayrakl { background-position:-360px 0; }
.sprite-Gkhan_Gnl { background-position:-360px -120px; }
.sprite-Gkhan_Tre { background-position:-360px -240px; }
.sprite-Hakan_alhanolu { background-position:0 -360px; }
.sprite-Hakan_Kadir_Balta { background-position:-120px -360px; }
.sprite-Harun_Tekin { background-position:-240px -360px; }
.sprite-Mahmut_Tekdemir { background-position:-360px -360px; }
.sprite-alar_Sync { background-position:-480px 0; }
.sprite-mer_Toprak { background-position:-480px -120px; }
.sprite-Mevlt_Erdin { background-position:-480px -240px; }
.sprite-Nuri_ahin { background-position:-480px -360px; }
.sprite-Olcay_ahan { background-position:0 -480px; }
.sprite-Onur_Kivrak { background-position:-120px -480px; }
.sprite-Ouzhan_zyakup { background-position:-240px -480px; }
.sprite-Ozan_Tufan { background-position:-360px -480px; }
.sprite-Seluk_nan { background-position:-480px -480px; }
.sprite-Semih_Kaya { background-position:-600px 0; }
.sprite-Serdar_Aziz { background-position:-600px -120px; }
.sprite-smail_Kyba { background-position:-600px -240px; }
.sprite-Volkan_Babacan { background-position:-600px -360px; }
.sprite-Volkan_en { background-position:-600px -480px; }
.sprite-Yasin_ztekin { background-position:0 -600px; }
.sprite-Yunus_Mall { background-position:-120px -600px; }
