[class^='sprite-'], [class*=' sprite-'] { background-image:url('../img/Wales-180.jpg'); background-size:90px 2610px; width:180px; height:180px; }
.sprite-Aaron_Ramsey { background-position:0 0; }
.sprite-Adam_Henley { background-position:0 -90px; }
.sprite-Adam_Matthews { background-position:0 -180px; }
.sprite-Andy_King { background-position:0 -270px; }
.sprite-Ashley_Richards { background-position:0 -360px; }
.sprite-Ashley_Williams { background-position:0 -450px; }
.sprite-Ben_Davies { background-position:0 -540px; }
.sprite-Chris_Gunter { background-position:0 -630px; }
.sprite-Danny_Ward { background-position:0 -720px; }
.sprite-David_Cotterill { background-position:0 -810px; }
.sprite-David_Edwards { background-position:0 -900px; }
.sprite-David_Vaughan { background-position:0 -990px; }
.sprite-Emyr_Huws { background-position:0 -1080px; }
.sprite-Gareth_Bale { background-position:0 -1170px; }
.sprite-George_Williams { background-position:0 -1260px; }
.sprite-Hal_RobsonKanu { background-position:0 -1350px; }
.sprite-James_Chester { background-position:0 -1440px; }
.sprite-James_Collins { background-position:0 -1530px; }
.sprite-Joe_Allen { background-position:0 -1620px; }
.sprite-Joe_Ledley { background-position:0 -1710px; }
.sprite-Jonathan_Williams { background-position:0 -1800px; }
.sprite-Neil_Taylor { background-position:0 -1890px; }
.sprite-OwainFon_Williams { background-position:0 -1980px; }
.sprite-Paul_Dummett { background-position:0 -2070px; }
.sprite-Sam_Vokes { background-position:0 -2160px; }
.sprite-Simon_Church { background-position:0 -2250px; }
.sprite-Tom_Bradshaw { background-position:0 -2340px; }
.sprite-Tom_Lawrence { background-position:0 -2430px; }
.sprite-Wayne_Hennessey { background-position:0 -2520px; }
