[class^='sprite-'], [class*=' sprite-'] { background-image:url('../img/Wales-240.jpg'); background-size:120px 3480px; width:240px; height:240px; }
.sprite-Aaron_Ramsey { background-position:0 0; }
.sprite-Adam_Henley { background-position:0 -120px; }
.sprite-Adam_Matthews { background-position:0 -240px; }
.sprite-Andy_King { background-position:0 -360px; }
.sprite-Ashley_Richards { background-position:0 -480px; }
.sprite-Ashley_Williams { background-position:0 -600px; }
.sprite-Ben_Davies { background-position:0 -720px; }
.sprite-Chris_Gunter { background-position:0 -840px; }
.sprite-Danny_Ward { background-position:0 -960px; }
.sprite-David_Cotterill { background-position:0 -1080px; }
.sprite-David_Edwards { background-position:0 -1200px; }
.sprite-David_Vaughan { background-position:0 -1320px; }
.sprite-Emyr_Huws { background-position:0 -1440px; }
.sprite-Gareth_Bale { background-position:0 -1560px; }
.sprite-George_Williams { background-position:0 -1680px; }
.sprite-Hal_RobsonKanu { background-position:0 -1800px; }
.sprite-James_Chester { background-position:0 -1920px; }
.sprite-James_Collins { background-position:0 -2040px; }
.sprite-Joe_Allen { background-position:0 -2160px; }
.sprite-Joe_Ledley { background-position:0 -2280px; }
.sprite-Jonathan_Williams { background-position:0 -2400px; }
.sprite-Neil_Taylor { background-position:0 -2520px; }
.sprite-OwainFon_Williams { background-position:0 -2640px; }
.sprite-Paul_Dummett { background-position:0 -2760px; }
.sprite-Sam_Vokes { background-position:0 -2880px; }
.sprite-Simon_Church { background-position:0 -3000px; }
.sprite-Tom_Bradshaw { background-position:0 -3120px; }
.sprite-Tom_Lawrence { background-position:0 -3240px; }
.sprite-Wayne_Hennessey { background-position:0 -3360px; }
