[class^='sprite-'], [class*=' sprite-'] { background-image:url('../img/Wales-140.jpg'); width:140px; height:140px; }
.sprite-Aaron_Ramsey { background-position:0 0; }
.sprite-Adam_Henley { background-position:0 -140px; }
.sprite-Adam_Matthews { background-position:0 -280px; }
.sprite-Andy_King { background-position:0 -420px; }
.sprite-Ashley_Richards { background-position:0 -560px; }
.sprite-Ashley_Williams { background-position:0 -700px; }
.sprite-Ben_Davies { background-position:0 -840px; }
.sprite-Chris_Gunter { background-position:0 -980px; }
.sprite-Danny_Ward { background-position:0 -1120px; }
.sprite-David_Cotterill { background-position:0 -1260px; }
.sprite-David_Edwards { background-position:0 -1400px; }
.sprite-David_Vaughan { background-position:0 -1540px; }
.sprite-Emyr_Huws { background-position:0 -1680px; }
.sprite-Gareth_Bale { background-position:0 -1820px; }
.sprite-George_Williams { background-position:0 -1960px; }
.sprite-Hal_RobsonKanu { background-position:0 -2100px; }
.sprite-James_Chester { background-position:0 -2240px; }
.sprite-James_Collins { background-position:0 -2380px; }
.sprite-Joe_Allen { background-position:0 -2520px; }
.sprite-Joe_Ledley { background-position:0 -2660px; }
.sprite-Jonathan_Williams { background-position:0 -2800px; }
.sprite-Neil_Taylor { background-position:0 -2940px; }
.sprite-OwainFon_Williams { background-position:0 -3080px; }
.sprite-Paul_Dummett { background-position:0 -3220px; }
.sprite-Sam_Vokes { background-position:0 -3360px; }
.sprite-Simon_Church { background-position:0 -3500px; }
.sprite-Tom_Bradshaw { background-position:0 -3640px; }
.sprite-Tom_Lawrence { background-position:0 -3780px; }
.sprite-Wayne_Hennessey { background-position:0 -3920px; }
