.player-gradient-container{
		background:#333;
	}
	.player-photo-container .player-number{
		background:#333;
	}
	.player-header h2{
		color: #333;
	}

*[data-teamname='England']{
	.player-gradient-container{
		background:#652D2D;
	}
	.player-photo-container .player-number{
		background:#BB3030;
	}
	.player-header h2{
		color: #BB3030;
	}
}

*[data-teamname='France']{
	.player-gradient-container{
		background:#1D2351;
	}
	.player-photo-container .player-number{
		background:#303EBB;
	}
	.player-header h2{
		color: #303EBB;
	}
}

*[data-teamname='Germany']{
	.player-gradient-container{
		background:linear-gradient(200deg, #262626 0%, #550909 50%, #B2B294 100%);
	}
	.player-photo-container .player-number{
		background:#240000;
	}
	.player-header h2{
		color: #240000;
	}
}