.player-gradient-container{
		background:#333;
	}
	.player-photo-container .player-number{
		background:#333;
	}
	.player-header h2{
		color: #333;
	}

*[data-teamname='France']{
	$mainColor1 : #2E4D6A;
	$mainColor2 : #1D5AB0;
	$gradientColor : #8D90A5;

	.player-gradient-container{
		background:$gradientColor;
	}
	.player-photo-container .player-number{
		background:$mainColor2;
	}
	.player-header h2{
		color: $mainColor2;
	}
	.team-divider{
		.divider-1{
			background:$mainColor1;
		}
		.divider-2{
			background:$mainColor2;
		}
	}

	.team-kits,.team-meta li,.team-meta{
		border-color:$mainColor2 !important;
	}
}
*[data-teamname='England']{
	$mainColor1 : #1C58BA;
	$mainColor2 : #F2F2F2;
	$gradientColor : #93A1B8;

	.player-gradient-container{
		background:$gradientColor;
	}
	.player-photo-container .player-number{
		background:$mainColor1;
	}
	.player-header h2{
		color: $mainColor1;
	}
	.team-divider{
		.divider-1{
			background:$mainColor1;
		}
		.divider-2{
			background:$mainColor2;
		}
	}

	.team-kits,.team-meta li,.team-meta{
		border-color:$mainColor1 !important;
	}
}

*[data-teamname='Germany']{
	$mainColor1 : #000;
	$mainColor2 : #eee;
	$gradientColor : #A76B6B;

	.player-gradient-container{
		background:$gradientColor;
	}
	.player-photo-container .player-number{
		background:$mainColor1;
	}
	.player-header h2{
		color: $mainColor1;
	}
	.team-divider{
		.divider-1{
			background:$mainColor1;
		}
		.divider-2{
			background:$mainColor2;
		}
	}

	.team-kits,.team-meta li,.team-meta{
		border-color:$mainColor1 !important;
	}
}

*[data-teamname='Belgium']{
	$mainColor1 : #DE0003;
	$mainColor2 : #F5B500;
	$gradientColor : #C07778;

	.player-gradient-container{
		background:$gradientColor;
	}
	.player-photo-container .player-number{
		background:$mainColor1;
	}
	.player-header h2{
		color: $mainColor1;
	}
	.team-divider{
		.divider-1{
			background:$mainColor1;
		}
		.divider-2{
			background:$mainColor2;
		}
	}

	.team-kits,.team-meta li,.team-meta{
		border-color:$mainColor2 !important;
	}
}

*[data-teamname='Italy']{
	$mainColor1 : #1D93E2;
	$mainColor2 : #EAF4FF;
	$gradientColor : #89BBDD;

	.player-gradient-container{
		background:$gradientColor;
	}
	.player-photo-container .player-number{
		background:$mainColor1;
	}
	.player-header h2{
		color: $mainColor1;
	}
	.team-divider{
		.divider-1{
			background:$mainColor1;
		}
		.divider-2{
			background:$mainColor2;
		}
	}

	.team-kits,.team-meta li,.team-meta{
		border-color:$mainColor1 !important;
	}
}

*[data-teamname='Sweden']{
	$mainColor1 : #0071C7;
	$mainColor2 : #EBC02F;
	$gradientColor : #9D9564;

	.player-gradient-container{
		background:$gradientColor;
	}
	.player-photo-container .player-number{
		background:$mainColor1;
	}
	.player-header h2{
		color: $mainColor1;
	}
	.team-divider{
		.divider-1{
			background:$mainColor1;
		}
		.divider-2{
			background:$mainColor2;
		}
	}

	.team-kits,.team-meta li,.team-meta{
		border-color:$mainColor1 !important;
	}
}


