@import "fonts";
@import "palette";
@import "mq";
@import "general";
// @import "share";
@import "colors";
@import "teams";

$lightYellow: #FFF8E9;

.interactive *{
	box-sizing: border-box;
}

.interactive{
	-webkit-font-smoothing:antialiased;
	color:#333;
	overflow:hidden;
}
#sketch-container{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:0;
	opacity:0.1;
	.sketch-block{
		width:150px;
		height:150px;
		position: absolute;
		background-image:url(assets/imgs/sketch-sprite.jpg);
		background-size:100%;
		background-repeat: no-repeat;
	}
}
#quicknav-container{
	position: absolute;
	right:10px;
	width:160px;
}
#quicknav{
	position: fixed;
	width:160px;
	height:auto;
	box-shadow:0 0 4px rgba(0,0,0,0.2);
	background:#fff;
	z-index:9;
	padding:12px 8px;
	bottom:10px;
	opacity:0;
	transition: opacity 0.4s;
	select{
		top:0;
		bottom:0;
		left:0;
		right:0;
		opacity:0;
		position: absolute;
		font-size:16px;
		background:#fff;
		width:100%;
		height:100%;
	}
	p{
		font-size:12px;
		display: inline-block;
		margin-top:0;
		font-family:$f-sans-serif-text;
		font-weight:bold;
		vertical-align: middle;
		margin-bottom:0;
	}
	img{
		width:24px;
		display: inline-block;
		vertical-align: middle;
	}
}

#interactive-header{
	padding-top:1px;
	background-color:#333;
	background-image:url(assets/imgs/chalkboard_mobile.jpg);
	background-size:cover;
	margin:0 -10px;
	padding:0 10px;
	position: relative;
	// cursor:url(assets/imgs/crayon.png), crosshair;
	h3{
		font-family:$f-serif-headline;
		font-size:30px;
		color:#ADA89E;
		margin:0;
		font-weight:bold;
		line-height:1em;
	}
	h1{
		font-family:$f-serif-headline;
		font-size:45px;
		margin-bottom:0;
		margin-top:6px;
		line-height: 1em;
		color:$lightYellow;
		max-width:620px;
	}
	h2{
		font-weight:100;
		font-family:$f-serif-headline;
		margin-top:18px;
		margin-bottom:0;
		color:$lightYellow;
		opacity:0.8;
		font-size:24px;
		line-height: 1.2em;
		max-width:620px;
	}
	h4{
		color:#6F6B62;
	    font-size: 12px;
	    font-family: Guardian Egyptian Web;
	    line-height: 18px;
	    margin: 0;
	    opacity: 0.8;
	    margin-top: 9px;
		a{
			color:#89857A;
		}
	}

	canvas{
		position: absolute;
		width:100%;
		height:100%;
		opacity:0.2;
	}
}

#share-buttons{
	margin-top:12px;
	button{
		width:30px;
		height:30px;
		border:1px solid #89857A;
		border-radius:40px;
		background-color:transparent;
		background-position:center;
		background-size:80%;
		background-repeat:no-repeat;
		cursor:pointer;
		outline:none;
		&.share-twitter{
			background-image:url(assets/imgs/twitter.svg);
		}
		&.share-facebook{
			background-image:url(assets/imgs/facebook.svg);
		}
		&.share-email{
			background-image:url(assets/imgs/mail.svg);
		}
		&:hover{
			background-color:rgba(100,100,100,0.2);
		}
	}
}

#header-wrapper{
	padding-top:24px;
	position: relative;
}
#teams-menu-divider{
	height:8px;
	background:url(assets/imgs/divider-line-mobile.png);
	margin-left:-10px;
	margin-right:-10px;
	margin-top:36px;
	background-size: auto 100%;
}
#teams-menu{
	background:rgba(255,255,255,0.1);
	margin:0 -10px 0;
	overflow-x:scroll;
	-webkit-overflow-scrolling: touch;
	padding:5px 0;
	position: relative;
	&:after{
		width:60px;
		height:100%;
		position: absolute;
		top:0;
		right:0;
		content:'';
		display:none;
	}
	.groupLabel{
	    color:$lightYellow;
	    display: inline-block;
	    margin-top: -4px;
	    font-size: 12px;
	    font-family:$f-sans-serif-text;
	    opacity:0.4;
	    margin-left:30px;
	    display: none;
	    &:nth-child(2){
	    	margin-left:0;
	    }
	}
	.new-group{
		margin-left:28px;
		&:nth-child(3){
			margin-left:0;
			&:after{
				display:none;
			}
		}
		&:after{
			position: absolute;
			content: '';
			display: block;
			left: -16px;
			width: 1px;
			background: rgba(255, 255, 255, 0.25);
			bottom: 10px;
			top: 10px;
		}
	}
}

#teams-strip{
	margin-left:10px;
	width:1740px;
	p{
		font-family:$f-sans-serif-text;
		color:$lightYellow;
		font-weight:bold;
		font-size:12px;
		display:inline-block;
		margin-right:10px;
	}
}

#teams-strip button{
	// border: 1px solid $lightYellow;
	border:none;
	border-radius:24px;
	background:transparent;
	font-family:$f-sans-serif-text;
	color:$lightYellow;
	font-size:12px;
	height:30px;
	padding: 0 5px;
	position:relative;
	outline:none;
	margin-right:0;
	cursor:pointer;
	&.active-team{
		&:before{
			position: absolute;
			display: block;
			content:'';
			background: url(assets/imgs/marker-2.png);
			top:-4px;
			left:-4px;
			right:-4px;
			bottom:-4px;
			background-size:100% 100%;
		}
	}
	&:hover{
		&:before{
			background-image:url(assets/imgs/marker-2.png);
			position: absolute;
			display: block;
			content:'';
			top:-4px;
			left:-4px;
			right:-4px;
			bottom:-4px;
			background-size:100% 100%;
		}
		
	}
	&[data-buttonname="Wales"]{
		margin-right:32px;
		&:after{
			position: absolute;
			content: '';
			display: block;
			right: -16px;
			width: 1px;
			background: rgba(255, 255, 255, 0.25);
			bottom: 10px;
			top: 10px;
		}
	}
}

.interactive-container{
	position: relative;
}

.team-container{
	position: relative;
	h3{
		font-size:36px;
		font-family:$f-serif-headline;
		line-height:1em;
		margin-bottom:36px;
		margin-top:6px;
	}

	.team-divider{
		width:100%;
		.divider-1{
			height:8px;
		    background-image: url(assets/imgs/flag-mask-1.png);
			background-size: 100% 100%;
		}
		.divider-2{
			height:8px;
			background-image: url(assets/imgs/flag-mask-2.png);
			background-size: 100% 100%;
		}
	}

	.teaminfo-container{
		max-width:620px;
		position: relative;
	}

	.team-meta{
		padding:0;
		margin:0 0 12px;
		font-size:0;
		width:calc(50% - 2px);
		float:left;
		li{
			font-family:$f-sans-serif-text;
			color: #333;
			list-style: none;
			font-size:12px;
			line-height:14px;
			display:inline-block;
			width:calc(50% - 2px);
			font-weight:bold;
			vertical-align: top;
			padding-top:3px;
			border-top:1px solid;
			strong{
				display:block;
				color:#767676;
				font-weight:normal;
			}
			&.team-meta-group{
				margin-left:2px;
			}
			&.team-meta-manager{
				margin-top:21px;
			}
			&.team-meta-nextmatch{
				margin-top:21px;
				margin-left:2px;
			}
			ul{
				margin:0;
				padding:0;
				
				li{
					color:#767676;
					font-weight:normal;
					width:auto;
					margin-right:4px;
					display: inline;
					&:after{
						content:', '
					}
					&:first-child{
						width:auto;
					}
					&:last-child{
						width:auto;
						margin:0;
						border:none;
						padding:0;
						&:after{
							content:''
						}
					}
				}
			}
		}
	}

	.team-kits{
		height:auto;
		border-top:1px solid;
		font-size:0;
		margin-bottom:24px;
		width:50%;
		float:left;
		padding-top:4px;
		margin-left:2px;
		.team-kit{
			width:50%;
			display:inline-block;
			text-align: center;
			img{
				width:100%;
			}
		}
	}

	.team-credit{
		font-style:italic;
		color:#8E8E8E;
	}

	h4{
		text-transform: uppercase;
		font-size:12px;
		font-family:$f-sans-serif-text;
		color:#bebebe;
		line-height:1em;
		margin:24px 0 6px;
		& + p{
			margin-top:0;
		}
	}
	h5{
		font-size:18px;
		font-family:$f-serif-headline;
		margin:0 0 12px;
	}
	p{
		line-height:1.5em
	}
	.team-description{
		clear:both;
	}
}

.teamplayers-container{
	.position-container{
		margin-top:12px;
		text-align: center;
		font-size:0;
		&:after{
			clear:both;
			display:block;
			content:'';
		}
	}
}

.player-outer-container{
	width:33%;
	display:inline-block;
	vertical-align:top;
	margin-bottom:12px;
}

.player-container{
	width:90px;
	height:auto;
	min-height:120px;
	margin:0 auto;
	.player-name{
		font-family:$f-sans-serif-text;
		font-size:12px;
		text-align: center;
		margin:6px 0 0;
		line-height: 1em;
	}
}

.player-specialty{
	font-family:$f-sans-serif-text;
	display: block;
	opacity:0.6;
	font-weight:bold;
	font-size:12px;
}

.player-photo-container{
	position: relative;
	width:100% !important;
	transition:transform 0.15s linear;

	.player-gradient-container{
		border-radius:9999px;
	}
	.player-photo{
		width:100% !important;
		padding-bottom:100%;
		margin:0 auto;
		height:0 !important;
		border-radius:9999px;
		mix-blend-mode: screen;
		filter:contrast(1.25) grayscale(0.95) brightness(1.1);
		-webkit-filter:contrast(1.25) grayscale(0.95) brightness(1.1);
	}
	.player-number{
		width:30px;
		height:30px;
		border-radius:40px;
		border:2px solid #fff;
		position:absolute;
		bottom:0;
		left:0;
		color:#fff;
		font-family:$f-serif-headline;
		font-weight:bold;
		text-align: center;
		padding-top:6px;
		line-height:1em;
		font-size:16px;
		z-index:1;
	}
	&:after{
		position: absolute;
		content:'';
	    top: -3px;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-image: url(assets/imgs/circle-1.png);
	    background-size:100% 100%;
	    display: none;
	    z-index:0;
	}
}

.special-player{
	&:after{
		display:block;
		transform: scale(1.15);
	}
}

.marker-highlighter{
	display:none;
}
#teams-container{
	padding-top:18px;
	padding-bottom:42px;
}
#teams-container, #interactive-header{
	transition:opacity 0.25s ease;
}

.detail-panel-opened{
	#teams-container, #interactive-header{
		opacity:0.4;
	}
}

#detail-overlay-container{
	background:#fff;
	position: fixed;
	top:0;
	bottom:0;
	left:100%;
	width:calc(100% - 20px);
	max-width:460px;
	box-shadow:-2px 0 6px rgba(0,0,0,0.2);
	transition:transform 0.25s ease;
	transform:translateX(5%);
	z-index:10;
	&.opened{
		transform:translateX(-100%);
		&:before{
		    width: 20px;
		    height: 100%;
		    display: block;
		    content: '';
		    position: absolute;
		    left: -20px;
		}
	}
	.detail-player-container .player-specialty{
		margin-bottom:6px;
		font-size:14px;
	}
	.player-photo-container .player-photo{
		filter:contrast(1.25) grayscale(0.25) brightness(1.1);
		-webkit-filter:contrast(1.25) grayscale(0.25) brightness(1.1);
	}
}
#detail-scroll-area{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
}
.close-overlay-btn{
	width:44px;
	height:44px;
	background-color:#333;
	background-image: url(assets/imgs/arrow.svg);
	border-radius:9999px;
	position: absolute;
	bottom:40px;
	left:-14px;
	background-size:60%;
	background-repeat:no-repeat;
	background-position:center;
	transform:rotate(180deg);
}
.detail-container{
	position: relative;
	width:100%;
	padding:20px 10px 0 40px;
	font-size:16px;
	line-height:1.5em;
}

.detail-player-container{
	margin-bottom:30px;
	.player-primary-info{
		float:left;
		width:calc(100% - 100px)
	}
	h4{
		font-size:18px;
		font-family:$f-serif-headline;
		margin-bottom:12px;
		margin-top:6px;
		line-height: 1em;
	}
	ul{
		padding:0;
		margin:6px 0 0;
		font-size:0;
		
		li{
			list-style: none;
			display:inline-block;
			font-family:$f-sans-serif-text;
			font-size:12px;
			line-height:1em;
			color:#333;
			font-weight:bold;
			width:25%;
			vertical-align: top;
			margin-bottom:6px;
			strong{
				display:block;
				margin:0;
				color:#767676;
				font-weight:normal;
				margin-top:2px;
			}
		}
		.info-club{
			width:50%;
		}
		.info-rating{
			width:75%;
		}
	}
	p{
		clear:both;
		font-size:16px;
	}

	.player-photo-container{
		margin-right:10px;
		float:left;
		width:90px !important;
	}

	.player-specialty{
		font-size: 18px;
		line-height: 1em;
		margin-bottom: 24px;
	}

	.player-rating-container{
		position: relative;
		width:100%;
		font-size:0;
		display:block;
	}
	.mark-container{
		display: inline-block;
		vertical-align: top;
		margin-right:2px;
		.mark-container-rating{
			display:inline-block;
			min-width:13px;
			height:16px;
			background-color:#9F9D8F;
			color:#fff;
			font-size:11px;
			font-family:$f-serif-headline;
			font-weight:bold;
			border-radius:3px;
			text-align: center;
			line-height:1em;
			padding-top:3px;
		}
		.mark-container-match{
			display:block;
			font-size:11px;
			text-align: center;
			line-height:1em;
			width:13px;
			font-weight:normal;
			color:#9F9D8F;
		}
		&.not-played{
			.mark-container-rating{
				color:transparent;
				opacity:0.4;
			}
		}
		&:nth-child(3){
			margin-right:7px;
			position: relative;
			&:after{
				width:1px;
				height:16px;
				background-color:#ECECE9;
				position: absolute;
				display:block;
				content:'';
				right:-4px;
				top:0;
			}
		}
	}
}

@media(min-width:480px){
	#interactive-header{
		margin:0 -20px;
		padding:0 20px;

		h3{
			font-size:42px;
		}
		h1{
			font-size:54px;
		}
		h2{
			font-size:30px;
		}
		h4{
			font-size:14px;
		}
	}

	
	#teams-menu-divider{
		margin-left:-20px;
		margin-right:-20px;
	}
	#teams-menu{
		margin-left:-20px;
		margin-right:-20px;
	}
	#teams-strip{
		margin-left:20px;
	}
	#quicknav-container{
		right:20px;
	}
	.team-container{
		h3{
			font-size:42px;
		}
		h5{
			font-size:21px;
		}
		.team-meta{
			width: 50%;
			float:left;
			border-top:none;
			padding:0;
			margin-bottom:30px;
			li{	
				font-size:14px;
				line-height:18px;
				width:calc(50% - 20px);
				margin-right:20px;
				border-top:1px solid;
				padding-top:3px;
				&.team-meta-group{
					margin-left:0;
				}
				&.team-meta-manager{
					margin-top:18px;
				}
				&.team-meta-nextmatch{
					margin-top:18px;
					margin-left:0;
				}
				ul li{
					display:block;
					border:none;
					padding:0;
					&:after{
						content:'';
					}
					&:last-child{
						margin-top:0;
					}
				}
			}
		}
		.team-kits{
			height:auto;
			width:50%;
			float:right;
			margin-bottom:0;
			margin-left:0;
			.team-kit{
				padding-left:10px;
				padding-right:10px;
				img{
					max-width:120px;
					margin:0 auto;
				}
			} 
		}
		.team-description{
			clear:both;
			padding-top:1px;
			p:first-child{
				margin-top:0;
			}
		}
	}
	
	.player-outer-container{
		margin-bottom:6px;
	}
	.player-container{
		width:120px;
		min-height: 160px;
		position: relative;
		.player-name{
			font-size:14px;
		}
	}
	.player-photo-container{
		width:100%;
		.player-photo{
			width:100% !important;
			padding-bottom:100%;
		}
		.player-number{
			width:36px;
			height:36px;
			padding-top:9px;
		}
	}

	.marker-highlighter{
		display:block;
		position: absolute;
		right:-30px;
		bottom:0;
		p{
			margin:0;
			font-size:12px;
			font-family:$f-serif-headline;
			font-weight:bold;
			color:#bebebe;
		}
		.marker-arrow{
		    position: absolute;
		    bottom: 20px;
		    right:20px;
		    height: 48px;
		    width: 20px;
		    background-image:url(assets/imgs/marker-arrow.png);
		    background-size:100% 100%;
		    background-repeat:no-repeat;
		    transform:rotate(-24deg);
		}
	}

	.detail-player-container{
		h4{
			margin-top:12px;
			font-size:21px;
		}
		ul{
			margin-bottom:12px;
			margin-top:12px;
			li{
				font-size:14px;
			}
			.info-age,.info-club{
				width:40%;
			}
			.info-rating{
				width:60%;
			}
		}
		.player-primary-info{
			width:calc(100% - 130px)
		}
		.player-photo-container{
			width:120px !important;
		}
	}
	
}
@media(min-width:660px){
	#interactive-header{
		background-image:url(assets/imgs/chalkboard.jpg);
		h1{
			font-size:59px;
		}
		h2{
			font-size:36px;
		}
		h4{
			font-size:16px;
			width:calc(100% - 121px);
			float:right;
			margin-top:18px;
		}
	}
	#share-buttons{
		width:111px;
		margin-right:10px;
		float:left;
		border-right:1px solid #89857A;
	}
	#int-meta-container{
		overflow: hidden;
	}
	#teams-menu-divider{
		clear:both;
	}
	#header-wrapper{
		padding-top:36px;
	}
	.team-container{
		h3{
			font-size:48px;
		}
		.team-description{
			padding-top:18px;
			p{
				font-size:18px;
			}
		}
		.team-meta{
			li{
				font-size:16px;
				line-height:21px;
				&.team-meta-manager{
					margin-top:30px;
				}
				&.team-meta-nextmatch{
					margin-top:30px;
				}
			}
		}
	}
	.player-outer-container{
		width:25%;
	}
}
@media(min-width:740px){
	#interactive-header{
		&:before{
			width: 99999px;
		    height: 100%;
		    position: absolute;
		    top: 0;
		    content: '';
		    left: 100%;
		    background-color:#000;
		    background-image:url(assets/imgs/chalkboard.jpg);
		    background-position:left;
		}
		&:after{
			width: 99999px;
		    height: 100%;
		    position: absolute;
		    top: 0;
		    content: '';
		    background-color: #000;
		    right: 100%;
		    background-image:url(assets/imgs/chalkboard.jpg);
		    background-position:right;
		}
	}
	.player-outer-container{
		margin-bottom:12px;
	}
	.player-container{
		width:130px;
		min-height: 160px;
	}
	.player-photo-container{
		width:100%;
		.player-photo{
			width:100% !important;
			padding-bottom:100%;
		}
		.player-number{
			width:42px;
			height:42px;
			padding-top:12px;
			font-size:18px;
		}
	}

	.detail-player-container{
		.player-primary-info{
			width:calc(100% - 140px)
		}
		h4{
			font-size:24px;
		}
		.player-photo-container{
			width:130px !important;
		}
	} 
}

@media(min-width:980px){
	#header-wrapper{
		padding-top:42px;
	}
	#interactive-header p{
		font-size:24px;
	}
	#quicknav-container{
		width:220px
	}
	#quicknav{
		bottom: auto;
		top:20px;
		width:220px;
		img{
			display:none;
		}
		p{
			margin-bottom:12px;
			font-size:14px;
		}
		select{
			position: relative;
			opacity:1;
			font-size:14px;
			background:none;
		}
	}

	#teams-menu-divider{
		margin-left:0;
		margin-right:0;
		width:80px;
		margin-top:60px;
		background:url(assets/imgs/divider-line.png);
		background-size:100% 100%;
	}
	#teams-menu{
		background:transparent;
		margin-left:0;
		margin-right:-320px;
		padding-bottom:36px;
		padding-top:0;
		overflow: visible;
		max-width:620px;
		
		p{
			display:block;
			font-size:18px;
			margin:6px 0 12px;
			position:static;
		}
		.groupLabel{
			margin-left:0;
		}
		.new-group{
			margin-left:12px;
		}
	}

	#teams-strip{
		width:auto;
		margin:0;
		button{
			margin-bottom:0;
			font-size:16px;
			padding:0;
			margin-right:16px;
			&.active-team{
			}
			&[data-buttonname="Wales"]{
				&:after{
					
					right: -20px;
				}
			}

		}
	}
	#teams-container{
		max-width:620px;
	}
	#teams-container{
		padding-top:30px;
	}
	.team-container{
		margin-bottom:90px;
		
		h5{
			font-size:21px;
			margin:0 0 18px;
		}
	}
	.teamplayers-container{
		.position-container{
			margin-top:24px;
		}
	}
	#detail-box-container{
		position: absolute;
		right:20px;
		top:0;
		width:280px;
		transform:translateY(0);
		transition:transform 0.2s;
		padding-left:20px;

		h4{
			font-size:36px;
			font-weight:100;
			margin-bottom:12px;
			margin-top:0;
		}

		p{
			line-height: 1.5em;
			margin-bottom:0;
		}
		.detail-player-container{
			margin-bottom:0;
			.player-primary-info{
				width:100%;
			}
		}
		ul{
			li{
				vertical-align: top;
				margin-bottom:6px;
			}
			.info-club{
				width:31%;
			}
			.info-caps{
				width:31%;
			}
			.info-goals{
				width:31%;
			}
			.info-age{
				width:31%;
			}
			.info-rating{
				width:62%;
			}
		}

		.player-photo-container{
			display: none;
		}
		&:before{
			position: absolute;
			left:0;
			top:0;
			bottom:0;
			width:8px;
			background:url(assets/imgs/line-vert.png);
			display: block;
			background-size:100% 100%;
			content: '';
			background-repeat:no-repeat;
		}
	}
	.activePlayer .player-photo-container{
		&:after{
			display:block;
			transform:scale(1.15);
			background-image: url(assets/imgs/marker-1.png);
		}
		.player-gradient-container{
			background:#000;
			transition:background 0.5s;
		}
		.player-photo{
			filter:contrast(1.25) grayscale(0.25) brightness(1.1);
			-webkit-filter:contrast(1.25) grayscale(0.25) brightness(1.1);
		}
	}
	.activePlayer .special-player.player-photo-container:after{
		background-image: url(assets/imgs/circle-1.png);
	}
	.player-container{
			transform:none !important;
		}
	#header-wrapper{
		max-width:620px;
	}
	#line-container{
		position:absolute;
		left:-1000px;
		top:-1000px;
		#player-line{
			height:4px;
			width:30px;
			background-image:url(assets/imgs/line-hor.png);
			background-size:100% 100%;
		}
		#line-box{
			position: absolute;
			top:0;
			left:30px;
			width:200px;
			height:100px;
			&:before{
				content:'';
				display:block;
				width:8px;
				height:100%;
				position: absolute;
				top:0;
				bottom:0;
				left:0;
				background-image:url(assets/imgs/line-vert.png);
				background-repeat:no-repeat;
				background-size:100% 100%;
			}
			&:after{
				content:'';
				display:block;
				width:100%;
				height:8px;
				position: absolute;
				bottom:0;
				right:0;
				left:0;
				background-image:url(assets/imgs/line-hor.png);
				background-repeat:no-repeat;
				background-size:100% 100%;
			}
		}
	}
	.detail-panel-opened{
		#teams-container, #interactive-header{
			opacity:1;
		}
	}
}

@media(min-width:1140px){
	#interactive-header p{
		position: absolute;
		top:42px;
		left:-160px;
		font-size:20px;
	}
	#teams-menu{
		margin-right:0;
		p{
			position: static;
			font-size:20px;
		}
	}
	#teams-menu-divider{
		margin-top:90px;
	}
	#teams-container{
		margin-left:160px;
	}

	#header-wrapper{
		margin-left:160px;
		padding-top:30px;
	}
}

@media(min-width:1300px){
	#interactive-header p{
		left:-240px;
		font-size:24px;
	}
	#interactive-header h1{
		font-size:62px;
	}
	#interactive-header h2{
		font-size:40px;
	}
	#interactive-header h3{
		font-size:48px;
	}
	#teams-menu p{
		font-size:20px;
	}
	#teams-container{
		margin-left:240px;
	}
	.team-container{
		margin-bottom:120px;
	}
	#header-wrapper{
		margin-left:240px;
	}
	#detail-box-container{
		width:340px;
	}
}