[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Albania-180.jpg'); background-size:450px 450px; width:180px; height:180px; }
.sprite-Etrit_Berisha { background-position:0 0; }
.sprite-Alban_Hoxha { background-position:-90px 0; }
.sprite-Andi_Lila { background-position:0 -90px; }
.sprite-Ansi_Agolli { background-position:-90px -90px; }
.sprite-Arlind_Ajeti { background-position:-180px 0; }
.sprite-Armando_Sadiku { background-position:-180px -90px; }
.sprite-Bekim_Balaj { background-position:0 -180px; }
.sprite-Burim_Kukeli { background-position:-90px -180px; }
.sprite-Elseid_Hysaj { background-position:-180px -180px; }
.sprite-Ergys_Kae { background-position:-270px 0; }
.sprite-Ermir_Lenjani { background-position:-270px -90px; }
.sprite-Amir_Abrashi { background-position:-270px -180px; }
.sprite-Frdric_Veseli { background-position:0 -270px; }
.sprite-Ledian_Memushaj { background-position:-90px -270px; }
.sprite-Lorik_Cana { background-position:-180px -270px; }
.sprite-Migjen_Basha { background-position:-270px -270px; }
.sprite-Mrgim_Mavraj { background-position:-360px 0; }
.sprite-Naser_Aliji { background-position:-360px -90px; }
.sprite-Odise_Roshi { background-position:-360px -180px; }
.sprite-Orges_Shehi { background-position:-360px -270px; }
.sprite-Shklzen_Gashi { background-position:0 -360px; }
.sprite-Sokol_ikalleshi { background-position:-90px -360px; }
.sprite-Taulant_Xhaka { background-position:-180px -360px; }
