[class^='sprite-'], [class*=' sprite-'] { background-image:url('../img/Albania-240.jpg'); background-size:120px 3480px; width:240px; height:240px; }
.sprite-Alban_Hoxha { background-position:0 0; }
.sprite-Amir_Abrashi { background-position:0 -120px; }
.sprite-Amir_Rrahmani { background-position:0 -240px; }
.sprite-Andi_Lila { background-position:0 -360px; }
.sprite-Ansi_Agolli { background-position:0 -480px; }
.sprite-Arlind_Ajeti { background-position:0 -600px; }
.sprite-Armando_Sadiku { background-position:0 -720px; }
.sprite-Bekim_Balaj { background-position:0 -840px; }
.sprite-Berat_Djimsiti { background-position:0 -960px; }
.sprite-Burim_Kukeli { background-position:0 -1080px; }
.sprite-Elseid_Hysaj { background-position:0 -1200px; }
.sprite-Ergys_Kae { background-position:0 -1320px; }
.sprite-Ermir_Lenjani { background-position:0 -1440px; }
.sprite-Etrit_Berisha { background-position:0 -1560px; }
.sprite-Frdric_Veseli { background-position:0 -1680px; }
.sprite-Hamdi_Salihi { background-position:0 -1800px; }
.sprite-Herolind_Shala { background-position:0 -1920px; }
.sprite-Ledian_Memushaj { background-position:0 -2040px; }
.sprite-Liridon_Latifi { background-position:0 -2160px; }
.sprite-Lorik_Cana { background-position:0 -2280px; }
.sprite-Migjen_Basha { background-position:0 -2400px; }
.sprite-Milot_Rashica { background-position:0 -2520px; }
.sprite-Mrgim_Mavraj { background-position:0 -2640px; }
.sprite-Naser_Aliji { background-position:0 -2760px; }
.sprite-Odise_Roshi { background-position:0 -2880px; }
.sprite-Orges_Shehi { background-position:0 -3000px; }
.sprite-Shklzen_Gashi { background-position:0 -3120px; }
.sprite-Sokol_ikalleshi { background-position:0 -3240px; }
.sprite-Taulant_Xhaka { background-position:0 -3360px; }
