[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Albania-240.jpg'); background-size:720px 600px; width:240px; height:240px; }
.sprite-Frdric_Veseli { background-position:0 0; }
.sprite-Alban_Hoxha { background-position:-120px 0; }
.sprite-Amir_Rrahmani { background-position:0 -120px; }
.sprite-Andi_Lila { background-position:-120px -120px; }
.sprite-Ansi_Agolli { background-position:-240px 0; }
.sprite-Arlind_Ajeti { background-position:-240px -120px; }
.sprite-Armando_Sadiku { background-position:0 -240px; }
.sprite-Bekim_Balaj { background-position:-120px -240px; }
.sprite-Berat_Djimsiti { background-position:-240px -240px; }
.sprite-Burim_Kukeli { background-position:-360px 0; }
.sprite-Elseid_Hysaj { background-position:-360px -120px; }
.sprite-Ergys_Kae { background-position:-360px -240px; }
.sprite-Ermir_Lenjani { background-position:0 -360px; }
.sprite-Etrit_Berisha { background-position:-120px -360px; }
.sprite-Amir_Abrashi { background-position:-240px -360px; }
.sprite-Hamdi_Salihi { background-position:-360px -360px; }
.sprite-Herolind_Shala { background-position:-480px 0; }
.sprite-Ledian_Memushaj { background-position:-480px -120px; }
.sprite-Liridon_Latifi { background-position:-480px -240px; }
.sprite-Lorik_Cana { background-position:-480px -360px; }
.sprite-Migjen_Basha { background-position:0 -480px; }
.sprite-Milot_Rashica { background-position:-120px -480px; }
.sprite-Mrgim_Mavraj { background-position:-240px -480px; }
.sprite-Naser_Aliji { background-position:-360px -480px; }
.sprite-Odise_Roshi { background-position:-480px -480px; }
.sprite-Orges_Shehi { background-position:-600px 0; }
.sprite-Shklzen_Gashi { background-position:-600px -120px; }
.sprite-Sokol_ikalleshi { background-position:-600px -240px; }
.sprite-Taulant_Xhaka { background-position:-600px -360px; }
