[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Albania-180.jpg'); background-size:90px 2610px; width:180px; height:180px; }
.sprite-Alban_Hoxha { background-position:0 0; }
.sprite-Amir_Abrashi { background-position:0 -90px; }
.sprite-Amir_Rrahmani { background-position:0 -180px; }
.sprite-Andi_Lila { background-position:0 -270px; }
.sprite-Ansi_Agolli { background-position:0 -360px; }
.sprite-Arlind_Ajeti { background-position:0 -450px; }
.sprite-Armando_Sadiku { background-position:0 -540px; }
.sprite-Bekim_Balaj { background-position:0 -630px; }
.sprite-Berat_Djimsiti { background-position:0 -720px; }
.sprite-Burim_Kukeli { background-position:0 -810px; }
.sprite-Elseid_Hysaj { background-position:0 -900px; }
.sprite-Ergys_Kae { background-position:0 -990px; }
.sprite-Ermir_Lenjani { background-position:0 -1080px; }
.sprite-Etrit_Berisha { background-position:0 -1170px; }
.sprite-Frdric_Veseli { background-position:0 -1260px; }
.sprite-Hamdi_Salihi { background-position:0 -1350px; }
.sprite-Herolind_Shala { background-position:0 -1440px; }
.sprite-Ledian_Memushaj { background-position:0 -1530px; }
.sprite-Liridon_Latifi { background-position:0 -1620px; }
.sprite-Lorik_Cana { background-position:0 -1710px; }
.sprite-Migjen_Basha { background-position:0 -1800px; }
.sprite-Milot_Rashica { background-position:0 -1890px; }
.sprite-Mrgim_Mavraj { background-position:0 -1980px; }
.sprite-Naser_Aliji { background-position:0 -2070px; }
.sprite-Odise_Roshi { background-position:0 -2160px; }
.sprite-Orges_Shehi { background-position:0 -2250px; }
.sprite-Shklzen_Gashi { background-position:0 -2340px; }
.sprite-Sokol_ikalleshi { background-position:0 -2430px; }
.sprite-Taulant_Xhaka { background-position:0 -2520px; }
