[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Albania-260.jpg'); background-size:650px 650px; width:260px; height:260px; }
.sprite-Etrit_Berisha { background-position:0 0; }
.sprite-Alban_Hoxha { background-position:-130px 0; }
.sprite-Andi_Lila { background-position:0 -130px; }
.sprite-Ansi_Agolli { background-position:-130px -130px; }
.sprite-Arlind_Ajeti { background-position:-260px 0; }
.sprite-Armando_Sadiku { background-position:-260px -130px; }
.sprite-Bekim_Balaj { background-position:0 -260px; }
.sprite-Burim_Kukeli { background-position:-130px -260px; }
.sprite-Elseid_Hysaj { background-position:-260px -260px; }
.sprite-Ergys_Kae { background-position:-390px 0; }
.sprite-Ermir_Lenjani { background-position:-390px -130px; }
.sprite-Amir_Abrashi { background-position:-390px -260px; }
.sprite-Frdric_Veseli { background-position:0 -390px; }
.sprite-Ledian_Memushaj { background-position:-130px -390px; }
.sprite-Lorik_Cana { background-position:-260px -390px; }
.sprite-Migjen_Basha { background-position:-390px -390px; }
.sprite-Mrgim_Mavraj { background-position:-520px 0; }
.sprite-Naser_Aliji { background-position:-520px -130px; }
.sprite-Odise_Roshi { background-position:-520px -260px; }
.sprite-Orges_Shehi { background-position:-520px -390px; }
.sprite-Shklzen_Gashi { background-position:0 -520px; }
.sprite-Sokol_ikalleshi { background-position:-130px -520px; }
.sprite-Taulant_Xhaka { background-position:-260px -520px; }
