[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Austria-260.jpg'); background-size:650px 650px; width:260px; height:260px; }
.sprite-Marcel_Sabitzer { background-position:0 0; }
.sprite-Aleksandar_Dragovi { background-position:-130px 0; }
.sprite-Christian_Fuchs { background-position:0 -130px; }
.sprite-David_Alaba { background-position:-130px -130px; }
.sprite-Florian_Klein { background-position:-260px 0; }
.sprite-Gyrgy_Garics { background-position:-260px -130px; }
.sprite-Heinz_Lindner { background-position:0 -260px; }
.sprite-Jakob_Jantscher { background-position:-130px -260px; }
.sprite-Julian_Baumgartlinger { background-position:-260px -260px; }
.sprite-Kevin_Wimmer { background-position:-390px 0; }
.sprite-Lukas_Hinterseer { background-position:-390px -130px; }
.sprite-Marc_Janko { background-position:-390px -260px; }
.sprite-Alessandro_Schpf { background-position:0 -390px; }
.sprite-Marko_Arnautovic { background-position:-130px -390px; }
.sprite-Markus_Suttner { background-position:-260px -390px; }
.sprite-Martin_Harnik { background-position:-390px -390px; }
.sprite-Martin_Hinteregger { background-position:-520px 0; }
.sprite-Ramazan_zcan { background-position:-520px -130px; }
.sprite-Robert_Almer { background-position:-520px -260px; }
.sprite-Rubin_Okotie { background-position:-520px -390px; }
.sprite-Sebastian_Prdl { background-position:0 -520px; }
.sprite-Stefan_Ilsanker { background-position:-130px -520px; }
.sprite-Valentino_Lazaro { background-position:-260px -520px; }
.sprite-Zlatko_Junuzovic { background-position:-390px -520px; }
