[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Austria-180.jpg'); background-size:450px 450px; width:180px; height:180px; }
.sprite-Marc_Janko { background-position:0 0; }
.sprite-Aleksandar_Dragovi { background-position:-90px 0; }
.sprite-Christian_Fuchs { background-position:0 -90px; }
.sprite-David_Alaba { background-position:-90px -90px; }
.sprite-Florian_Klein { background-position:-180px 0; }
.sprite-Gyrgy_Garics { background-position:-180px -90px; }
.sprite-Heinz_Lindner { background-position:0 -180px; }
.sprite-Jakob_Jantscher { background-position:-90px -180px; }
.sprite-Julian_Baumgartlinger { background-position:-180px -180px; }
.sprite-Kevin_Wimmer { background-position:-270px 0; }
.sprite-Lukas_Hinterseer { background-position:-270px -90px; }
.sprite-Alessandro_Schpf { background-position:-270px -180px; }
.sprite-Marcel_Sabitzer { background-position:0 -270px; }
.sprite-Marko_Arnautovi { background-position:-90px -270px; }
.sprite-Markus_Suttner { background-position:-180px -270px; }
.sprite-Martin_Harnik { background-position:-270px -270px; }
.sprite-Martin_Hinteregger { background-position:-360px 0; }
.sprite-Ramazan_zcan { background-position:-360px -90px; }
.sprite-Robert_Almer { background-position:-360px -180px; }
.sprite-Rubin_Okotie { background-position:-360px -270px; }
.sprite-Sebastian_Prdl { background-position:0 -360px; }
.sprite-Stefan_Ilsanker { background-position:-90px -360px; }
.sprite-Zlatko_Junuzovi { background-position:-180px -360px; }
