[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Austria-240.jpg'); background-size:600px 600px; width:240px; height:240px; }
.sprite-Marc_Janko { background-position:0 0; }
.sprite-Aleksandar_Dragovi { background-position:-120px 0; }
.sprite-Christian_Fuchs { background-position:0 -120px; }
.sprite-David_Alaba { background-position:-120px -120px; }
.sprite-Florian_Klein { background-position:-240px 0; }
.sprite-Gyrgy_Garics { background-position:-240px -120px; }
.sprite-Heinz_Lindner { background-position:0 -240px; }
.sprite-Jakob_Jantscher { background-position:-120px -240px; }
.sprite-Julian_Baumgartlinger { background-position:-240px -240px; }
.sprite-Kevin_Wimmer { background-position:-360px 0; }
.sprite-Lukas_Hinterseer { background-position:-360px -120px; }
.sprite-Alessandro_Schpf { background-position:-360px -240px; }
.sprite-Marcel_Sabitzer { background-position:0 -360px; }
.sprite-Marko_Arnautovi { background-position:-120px -360px; }
.sprite-Markus_Suttner { background-position:-240px -360px; }
.sprite-Martin_Harnik { background-position:-360px -360px; }
.sprite-Martin_Hinteregger { background-position:-480px 0; }
.sprite-Ramazan_zcan { background-position:-480px -120px; }
.sprite-Robert_Almer { background-position:-480px -240px; }
.sprite-Rubin_Okotie { background-position:-480px -360px; }
.sprite-Sebastian_Prdl { background-position:0 -480px; }
.sprite-Stefan_Ilsanker { background-position:-120px -480px; }
.sprite-Zlatko_Junuzovi { background-position:-240px -480px; }
