[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Belgium-260.jpg'); background-size:130px 3770px; width:260px; height:260px; }
.sprite-Axel_Witsel { background-position:0 0; }
.sprite-Bjrn_Engels { background-position:0 -130px; }
.sprite-Christian_Benteke { background-position:0 -260px; }
.sprite-Dedryck_Boyata { background-position:0 -390px; }
.sprite-Divock_Origi { background-position:0 -520px; }
.sprite-Dries_Mertens { background-position:0 -650px; }
.sprite-Eden_Hazard { background-position:0 -780px; }
.sprite-Guillaume_Gillet { background-position:0 -910px; }
.sprite-Jan_Vertonghen { background-position:0 -1040px; }
.sprite-Jason_Denayer { background-position:0 -1170px; }
.sprite-JeanFranois_Gillet { background-position:0 -1300px; }
.sprite-Jordan_Lukaku { background-position:0 -1430px; }
.sprite-Kevin_De_Bruyne { background-position:0 -1560px; }
.sprite-Kevin_Mirallas { background-position:0 -1690px; }
.sprite-Marouane_Fellaini { background-position:0 -1820px; }
.sprite-Michy_Batshuayi { background-position:0 -1950px; }
.sprite-Mousa_Dembl { background-position:0 -2080px; }
.sprite-Nacer_Chadli { background-position:0 -2210px; }
.sprite-Nicolas_Lombaerts { background-position:0 -2340px; }
.sprite-Radja_Nainggolan { background-position:0 -2470px; }
.sprite-Romelu_Lukaku { background-position:0 -2600px; }
.sprite-Simon_Mignolet { background-position:0 -2730px; }
.sprite-Thibaut_Courtois { background-position:0 -2860px; }
.sprite-Thomas_Meunier { background-position:0 -2990px; }
.sprite-Thomas_Vermaelen { background-position:0 -3120px; }
.sprite-Thorgan_Hazard { background-position:0 -3250px; }
.sprite-Toby_Alderweireld { background-position:0 -3380px; }
.sprite-Vincent_Kompany { background-position:0 -3510px; }
.sprite-Yannick_FerreiraCarrasco { background-position:0 -3640px; }
