[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Belgium-240.jpg'); background-size:600px 600px; width:240px; height:240px; }
.sprite-Laurent_Ciman { background-position:0 0; }
.sprite-Axel_Witsel { background-position:-120px 0; }
.sprite-Christian_Kabasele { background-position:0 -120px; }
.sprite-Divock_Origi { background-position:-120px -120px; }
.sprite-Dries_Mertens { background-position:-240px 0; }
.sprite-Eden_Hazard { background-position:-240px -120px; }
.sprite-Jan_Vertonghen { background-position:0 -240px; }
.sprite-Jason_Denayer { background-position:-120px -240px; }
.sprite-JeanFranois_Gillet { background-position:-240px -240px; }
.sprite-Jordan_Lukaku { background-position:-360px 0; }
.sprite-Kevin_De_Bruyne { background-position:-360px -120px; }
.sprite-Christian_Benteke { background-position:-360px -240px; }
.sprite-Marouane_Fellaini { background-position:0 -360px; }
.sprite-Michy_Batshuayi { background-position:-120px -360px; }
.sprite-Mousa_Dembl { background-position:-240px -360px; }
.sprite-Radja_Nainggolan { background-position:-360px -360px; }
.sprite-Romelu_Lukaku { background-position:-480px 0; }
.sprite-Simon_Mignolet { background-position:-480px -120px; }
.sprite-Thibaut_Courtois { background-position:-480px -240px; }
.sprite-Thomas_Meunier { background-position:-480px -360px; }
.sprite-Thomas_Vermaelen { background-position:0 -480px; }
.sprite-Toby_Alderweireld { background-position:-120px -480px; }
.sprite-Yannick_FerreiraCarrasco { background-position:-240px -480px; }
