[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Belgium-240.jpg'); background-size:720px 600px; width:240px; height:240px; }
.sprite-Marouane_Fellaini { background-position:0 0; }
.sprite-Axel_Witsel { background-position:-120px 0; }
.sprite-Christian_Benteke { background-position:0 -120px; }
.sprite-Dedryck_Boyata { background-position:-120px -120px; }
.sprite-Divock_Origi { background-position:-240px 0; }
.sprite-Dries_Mertens { background-position:-240px -120px; }
.sprite-Eden_Hazard { background-position:0 -240px; }
.sprite-Guillaume_Gillet { background-position:-120px -240px; }
.sprite-Jan_Vertonghen { background-position:-240px -240px; }
.sprite-Jason_Denayer { background-position:-360px 0; }
.sprite-JeanFranois_Gillet { background-position:-360px -120px; }
.sprite-Jordan_Lukaku { background-position:-360px -240px; }
.sprite-Kevin_De_Bruyne { background-position:0 -360px; }
.sprite-Kevin_Mirallas { background-position:-120px -360px; }
.sprite-Bjrn_Engels { background-position:-240px -360px; }
.sprite-Michy_Batshuayi { background-position:-360px -360px; }
.sprite-Mousa_Dembl { background-position:-480px 0; }
.sprite-Nacer_Chadli { background-position:-480px -120px; }
.sprite-Nicolas_Lombaerts { background-position:-480px -240px; }
.sprite-Radja_Nainggolan { background-position:-480px -360px; }
.sprite-Romelu_Lukaku { background-position:0 -480px; }
.sprite-Simon_Mignolet { background-position:-120px -480px; }
.sprite-Thibaut_Courtois { background-position:-240px -480px; }
.sprite-Thomas_Meunier { background-position:-360px -480px; }
.sprite-Thomas_Vermaelen { background-position:-480px -480px; }
.sprite-Thorgan_Hazard { background-position:-600px 0; }
.sprite-Toby_Alderweireld { background-position:-600px -120px; }
.sprite-Vincent_Kompany { background-position:-600px -240px; }
.sprite-Yannick_FerreiraCarrasco { background-position:-600px -360px; }
