[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Belgium-260.jpg'); background-size:780px 650px; width:260px; height:260px; }
.sprite-Marouane_Fellaini { background-position:0 0; }
.sprite-Axel_Witsel { background-position:-130px 0; }
.sprite-Christian_Benteke { background-position:0 -130px; }
.sprite-Dedryck_Boyata { background-position:-130px -130px; }
.sprite-Divock_Origi { background-position:-260px 0; }
.sprite-Dries_Mertens { background-position:-260px -130px; }
.sprite-Eden_Hazard { background-position:0 -260px; }
.sprite-Guillaume_Gillet { background-position:-130px -260px; }
.sprite-Jan_Vertonghen { background-position:-260px -260px; }
.sprite-Jason_Denayer { background-position:-390px 0; }
.sprite-JeanFranois_Gillet { background-position:-390px -130px; }
.sprite-Jordan_Lukaku { background-position:-390px -260px; }
.sprite-Kevin_De_Bruyne { background-position:0 -390px; }
.sprite-Kevin_Mirallas { background-position:-130px -390px; }
.sprite-Bjrn_Engels { background-position:-260px -390px; }
.sprite-Michy_Batshuayi { background-position:-390px -390px; }
.sprite-Mousa_Dembl { background-position:-520px 0; }
.sprite-Nacer_Chadli { background-position:-520px -130px; }
.sprite-Nicolas_Lombaerts { background-position:-520px -260px; }
.sprite-Radja_Nainggolan { background-position:-520px -390px; }
.sprite-Romelu_Lukaku { background-position:0 -520px; }
.sprite-Simon_Mignolet { background-position:-130px -520px; }
.sprite-Thibaut_Courtois { background-position:-260px -520px; }
.sprite-Thomas_Meunier { background-position:-390px -520px; }
.sprite-Thomas_Vermaelen { background-position:-520px -520px; }
.sprite-Thorgan_Hazard { background-position:-650px 0; }
.sprite-Toby_Alderweireld { background-position:-650px -130px; }
.sprite-Vincent_Kompany { background-position:-650px -260px; }
.sprite-Yannick_FerreiraCarrasco { background-position:-650px -390px; }
