[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Belgium-180.jpg'); background-size:540px 450px; width:180px; height:180px; }
.sprite-Marouane_Fellaini { background-position:0 0; }
.sprite-Axel_Witsel { background-position:-90px 0; }
.sprite-Christian_Benteke { background-position:0 -90px; }
.sprite-Dedryck_Boyata { background-position:-90px -90px; }
.sprite-Divock_Origi { background-position:-180px 0; }
.sprite-Dries_Mertens { background-position:-180px -90px; }
.sprite-Eden_Hazard { background-position:0 -180px; }
.sprite-Guillaume_Gillet { background-position:-90px -180px; }
.sprite-Jan_Vertonghen { background-position:-180px -180px; }
.sprite-Jason_Denayer { background-position:-270px 0; }
.sprite-JeanFranois_Gillet { background-position:-270px -90px; }
.sprite-Jordan_Lukaku { background-position:-270px -180px; }
.sprite-Kevin_De_Bruyne { background-position:0 -270px; }
.sprite-Kevin_Mirallas { background-position:-90px -270px; }
.sprite-Bjrn_Engels { background-position:-180px -270px; }
.sprite-Michy_Batshuayi { background-position:-270px -270px; }
.sprite-Mousa_Dembl { background-position:-360px 0; }
.sprite-Nacer_Chadli { background-position:-360px -90px; }
.sprite-Nicolas_Lombaerts { background-position:-360px -180px; }
.sprite-Radja_Nainggolan { background-position:-360px -270px; }
.sprite-Romelu_Lukaku { background-position:0 -360px; }
.sprite-Simon_Mignolet { background-position:-90px -360px; }
.sprite-Thibaut_Courtois { background-position:-180px -360px; }
.sprite-Thomas_Meunier { background-position:-270px -360px; }
.sprite-Thomas_Vermaelen { background-position:-360px -360px; }
.sprite-Thorgan_Hazard { background-position:-450px 0; }
.sprite-Toby_Alderweireld { background-position:-450px -90px; }
.sprite-Vincent_Kompany { background-position:-450px -180px; }
.sprite-Yannick_FerreiraCarrasco { background-position:-450px -270px; }
