[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Belgium-180.jpg'); background-size:90px 2610px; width:180px; height:180px; }
.sprite-Axel_Witsel { background-position:0 0; }
.sprite-Bjrn_Engels { background-position:0 -90px; }
.sprite-Christian_Benteke { background-position:0 -180px; }
.sprite-Dedryck_Boyata { background-position:0 -270px; }
.sprite-Divock_Origi { background-position:0 -360px; }
.sprite-Dries_Mertens { background-position:0 -450px; }
.sprite-Eden_Hazard { background-position:0 -540px; }
.sprite-Guillaume_Gillet { background-position:0 -630px; }
.sprite-Jan_Vertonghen { background-position:0 -720px; }
.sprite-Jason_Denayer { background-position:0 -810px; }
.sprite-JeanFranois_Gillet { background-position:0 -900px; }
.sprite-Jordan_Lukaku { background-position:0 -990px; }
.sprite-Kevin_De_Bruyne { background-position:0 -1080px; }
.sprite-Kevin_Mirallas { background-position:0 -1170px; }
.sprite-Marouane_Fellaini { background-position:0 -1260px; }
.sprite-Michy_Batshuayi { background-position:0 -1350px; }
.sprite-Mousa_Dembl { background-position:0 -1440px; }
.sprite-Nacer_Chadli { background-position:0 -1530px; }
.sprite-Nicolas_Lombaerts { background-position:0 -1620px; }
.sprite-Radja_Nainggolan { background-position:0 -1710px; }
.sprite-Romelu_Lukaku { background-position:0 -1800px; }
.sprite-Simon_Mignolet { background-position:0 -1890px; }
.sprite-Thibaut_Courtois { background-position:0 -1980px; }
.sprite-Thomas_Meunier { background-position:0 -2070px; }
.sprite-Thomas_Vermaelen { background-position:0 -2160px; }
.sprite-Thorgan_Hazard { background-position:0 -2250px; }
.sprite-Toby_Alderweireld { background-position:0 -2340px; }
.sprite-Vincent_Kompany { background-position:0 -2430px; }
.sprite-Yannick_FerreiraCarrasco { background-position:0 -2520px; }
