[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Croatia-260.jpg'); background-size:650px 650px; width:260px; height:260px; }
.sprite-Ivan_Vargi { background-position:0 0; }
.sprite-Andrej_Kramari { background-position:-130px 0; }
.sprite-Danijel_Subai { background-position:0 -130px; }
.sprite-Darijo_Srna { background-position:-130px -130px; }
.sprite-Domagoj_Vida { background-position:-260px 0; }
.sprite-Duje_op { background-position:-260px -130px; }
.sprite-Gordon_Schildenfeld { background-position:0 -260px; }
.sprite-ime_Vrsaljko { background-position:-130px -260px; }
.sprite-Ivan_Perii { background-position:-260px -260px; }
.sprite-Ivan_Rakiti { background-position:-390px 0; }
.sprite-Ivan_Strini { background-position:-390px -130px; }
.sprite-Ante_ori { background-position:-390px -260px; }
.sprite-Lovre_Kalini { background-position:0 -390px; }
.sprite-Luka_Modri { background-position:-130px -390px; }
.sprite-Marcelo_Brozovi { background-position:-260px -390px; }
.sprite-Mario_Manduki { background-position:-390px -390px; }
.sprite-Marko_Pjaca { background-position:-520px 0; }
.sprite-Marko_Rog { background-position:-520px -130px; }
.sprite-Mateo_Kovai { background-position:-520px -260px; }
.sprite-Milan_Badelj { background-position:-520px -390px; }
.sprite-Nikola_Kalini { background-position:0 -520px; }
.sprite-Tin_Jedvaj { background-position:-130px -520px; }
.sprite-Vedran_orluka { background-position:-260px -520px; }
