[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Croatia-240.jpg'); background-size:600px 600px; width:240px; height:240px; }
.sprite-Ivan_Vargi { background-position:0 0; }
.sprite-Andrej_Kramari { background-position:-120px 0; }
.sprite-Danijel_Subai { background-position:0 -120px; }
.sprite-Darijo_Srna { background-position:-120px -120px; }
.sprite-Domagoj_Vida { background-position:-240px 0; }
.sprite-Duje_op { background-position:-240px -120px; }
.sprite-Gordon_Schildenfeld { background-position:0 -240px; }
.sprite-ime_Vrsaljko { background-position:-120px -240px; }
.sprite-Ivan_Perii { background-position:-240px -240px; }
.sprite-Ivan_Rakiti { background-position:-360px 0; }
.sprite-Ivan_Strini { background-position:-360px -120px; }
.sprite-Ante_ori { background-position:-360px -240px; }
.sprite-Lovre_Kalini { background-position:0 -360px; }
.sprite-Luka_Modri { background-position:-120px -360px; }
.sprite-Marcelo_Brozovi { background-position:-240px -360px; }
.sprite-Mario_Manduki { background-position:-360px -360px; }
.sprite-Marko_Pjaca { background-position:-480px 0; }
.sprite-Marko_Rog { background-position:-480px -120px; }
.sprite-Mateo_Kovai { background-position:-480px -240px; }
.sprite-Milan_Badelj { background-position:-480px -360px; }
.sprite-Nikola_Kalini { background-position:0 -480px; }
.sprite-Tin_Jedvaj { background-position:-120px -480px; }
.sprite-Vedran_orluka { background-position:-240px -480px; }
