[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Croatia-180.jpg'); background-size:540px 450px; width:180px; height:180px; }
.sprite-Ivan_Rakiti { background-position:0 0; }
.sprite-Alen_Halilovi { background-position:-90px 0; }
.sprite-Ante_ori { background-position:0 -90px; }
.sprite-Danijel_Subai { background-position:-90px -90px; }
.sprite-Darijo_Srna { background-position:-180px 0; }
.sprite-Domagoj_Antoli { background-position:-180px -90px; }
.sprite-Domagoj_Vida { background-position:0 -180px; }
.sprite-Dominik_Livakovi { background-position:-90px -180px; }
.sprite-Duje_aletaCar { background-position:-180px -180px; }
.sprite-Duje_op { background-position:-270px 0; }
.sprite-Gordon_Schildenfeld { background-position:-270px -90px; }
.sprite-ime_Vrsaljko { background-position:-270px -180px; }
.sprite-Ivan_Perii { background-position:0 -270px; }
.sprite-Andrej_Kramari { background-position:-90px -270px; }
.sprite-Ivan_Strini { background-position:-180px -270px; }
.sprite-Ivan_Vargi { background-position:-270px -270px; }
.sprite-Lovre_Kalini { background-position:-360px 0; }
.sprite-Luka_Modri { background-position:-360px -90px; }
.sprite-Marcelo_Brozovi { background-position:-360px -180px; }
.sprite-Mario_Manduki { background-position:-360px -270px; }
.sprite-Marko_Pjaca { background-position:0 -360px; }
.sprite-Marko_Rog { background-position:-90px -360px; }
.sprite-Mateo_Kovai { background-position:-180px -360px; }
.sprite-Milan_Badelj { background-position:-270px -360px; }
.sprite-Nikola_Kalini { background-position:-360px -360px; }
.sprite-Tin_Jedvaj { background-position:-450px 0; }
.sprite-Vedran_orluka { background-position:-450px -90px; }
