[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Czech Republic-180.jpg'); background-size:450px 450px; width:180px; height:180px; }
.sprite-Michal_Kadlec { background-position:0 0; }
.sprite-Boek_Dokal { background-position:-90px 0; }
.sprite-Daniel_Pudil { background-position:0 -90px; }
.sprite-David_Lafata { background-position:-90px -90px; }
.sprite-David_Limbersk { background-position:-180px 0; }
.sprite-David_Pavelka { background-position:-180px -90px; }
.sprite-Jaroslav_Plail { background-position:0 -180px; }
.sprite-Ji_Skalk { background-position:-90px -180px; }
.sprite-Josef_ural { background-position:-180px -180px; }
.sprite-Ladislav_Krej { background-position:-270px 0; }
.sprite-Marek_Such { background-position:-270px -90px; }
.sprite-Daniel_Kol { background-position:-270px -180px; }
.sprite-Milan_koda { background-position:0 -270px; }
.sprite-Pavel_Kadebek { background-position:-90px -270px; }
.sprite-Petr_ech { background-position:-180px -270px; }
.sprite-Roman_Hubnk { background-position:-270px -270px; }
.sprite-Theodor_Gebre_Selassie { background-position:-360px 0; }
.sprite-Tom_Koubek { background-position:-360px -90px; }
.sprite-Tom_Necid { background-position:-360px -180px; }
.sprite-Tom_Rosick { background-position:-360px -270px; }
.sprite-Tom_Sivok { background-position:0 -360px; }
.sprite-Tom_Vaclk { background-position:-90px -360px; }
.sprite-Vladimr_Darida { background-position:-180px -360px; }
