[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Czech Republic-240.jpg'); background-size:600px 600px; width:240px; height:240px; }
.sprite-Michal_Kadlec { background-position:0 0; }
.sprite-Boek_Dokal { background-position:-120px 0; }
.sprite-Daniel_Pudil { background-position:0 -120px; }
.sprite-David_Lafata { background-position:-120px -120px; }
.sprite-David_Limbersk { background-position:-240px 0; }
.sprite-David_Pavelka { background-position:-240px -120px; }
.sprite-Jaroslav_Plail { background-position:0 -240px; }
.sprite-Ji_Skalk { background-position:-120px -240px; }
.sprite-Josef_ural { background-position:-240px -240px; }
.sprite-Ladislav_Krej { background-position:-360px 0; }
.sprite-Marek_Such { background-position:-360px -120px; }
.sprite-Daniel_Kol { background-position:-360px -240px; }
.sprite-Milan_koda { background-position:0 -360px; }
.sprite-Pavel_Kadebek { background-position:-120px -360px; }
.sprite-Petr_ech { background-position:-240px -360px; }
.sprite-Roman_Hubnk { background-position:-360px -360px; }
.sprite-Theodor_Gebre_Selassie { background-position:-480px 0; }
.sprite-Tom_Koubek { background-position:-480px -120px; }
.sprite-Tom_Necid { background-position:-480px -240px; }
.sprite-Tom_Rosick { background-position:-480px -360px; }
.sprite-Tom_Sivok { background-position:0 -480px; }
.sprite-Tom_Vaclk { background-position:-120px -480px; }
.sprite-Vladimr_Darida { background-position:-240px -480px; }
