[class^='sprite-'], [class*=' sprite-'] { background-image:url('../img/England-260.jpg'); background-size:130px 3380px; width:260px; height:260px; }
.sprite-Adam_Lallana { background-position:0 0; }
.sprite-Andros_Townsend { background-position:0 -130px; }
.sprite-Chris_Smalling { background-position:0 -260px; }
.sprite-Daniel_Sturridge { background-position:0 -390px; }
.sprite-Danny_Drinkwater { background-position:0 -520px; }
.sprite-Danny_Rose { background-position:0 -650px; }
.sprite-Dele_Alli { background-position:0 -780px; }
.sprite-Eric_Dier { background-position:0 -910px; }
.sprite-Fabian_Delph { background-position:0 -1040px; }
.sprite-Fraser_Forster { background-position:0 -1170px; }
.sprite-Gary_Cahill { background-position:0 -1300px; }
.sprite-Harry_Kane { background-position:0 -1430px; }
.sprite-Jack_Wilshere { background-position:0 -1560px; }
.sprite-James_Milner { background-position:0 -1690px; }
.sprite-Jamie_Vardy { background-position:0 -1820px; }
.sprite-Joe_Hart { background-position:0 -1950px; }
.sprite-John_Stones { background-position:0 -2080px; }
.sprite-Jordan_Henderson { background-position:0 -2210px; }
.sprite-Kyle_Walker { background-position:0 -2340px; }
.sprite-Marcus_Rashford { background-position:0 -2470px; }
.sprite-Nathaniel_Clyne { background-position:0 -2600px; }
.sprite-Raheem_Sterling { background-position:0 -2730px; }
.sprite-Ross_Barkley { background-position:0 -2860px; }
.sprite-Ryan_Bertrand { background-position:0 -2990px; }
.sprite-Tom_Heaton { background-position:0 -3120px; }
.sprite-Wayne_Rooney { background-position:0 -3250px; }
