[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/England-260.jpg'); background-size:780px 650px; width:260px; height:260px; }
.sprite-James_Milner { background-position:0 0; }
.sprite-Adam_Lallana { background-position:-130px 0; }
.sprite-Chris_Smalling { background-position:0 -130px; }
.sprite-Daniel_Sturridge { background-position:-130px -130px; }
.sprite-Danny_Drinkwater { background-position:-260px 0; }
.sprite-Danny_Rose { background-position:-260px -130px; }
.sprite-Dele_Alli { background-position:0 -260px; }
.sprite-Eric_Dier { background-position:-130px -260px; }
.sprite-Fabian_Delph { background-position:-260px -260px; }
.sprite-Fraser_Forster { background-position:-390px 0; }
.sprite-Gary_Cahill { background-position:-390px -130px; }
.sprite-Harry_Kane { background-position:-390px -260px; }
.sprite-Jack_Wilshere { background-position:0 -390px; }
.sprite-Andros_Townsend { background-position:-130px -390px; }
.sprite-Jamie_Vardy { background-position:-260px -390px; }
.sprite-Joe_Hart { background-position:-390px -390px; }
.sprite-John_Stones { background-position:-520px 0; }
.sprite-Jordan_Henderson { background-position:-520px -130px; }
.sprite-Kyle_Walker { background-position:-520px -260px; }
.sprite-Marcus_Rashford { background-position:-520px -390px; }
.sprite-Nathaniel_Clyne { background-position:0 -520px; }
.sprite-Raheem_Sterling { background-position:-130px -520px; }
.sprite-Ross_Barkley { background-position:-260px -520px; }
.sprite-Ryan_Bertrand { background-position:-390px -520px; }
.sprite-Tom_Heaton { background-position:-520px -520px; }
.sprite-Wayne_Rooney { background-position:-650px 0; }
