[class^='sprite-'], [class*=' sprite-'] { background-image:url('../img/Germany-180.jpg'); background-size:90px 2610px; width:180px; height:180px; }
.sprite-Antonio_Rdiger { background-position:0 0; }
.sprite-Bastian_Schweinsteiger { background-position:0 -90px; }
.sprite-Benedikt_Hwedes { background-position:0 -180px; }
.sprite-Bernd_Leno { background-position:0 -270px; }
.sprite-Christoph_Kramer { background-position:0 -360px; }
.sprite-Emre_Can { background-position:0 -450px; }
.sprite-Ilkay_Gndogan { background-position:0 -540px; }
.sprite-Jerome_Boateng { background-position:0 -630px; }
.sprite-Jonas_Hector { background-position:0 -720px; }
.sprite-Jonathan_Tah { background-position:0 -810px; }
.sprite-Joshua_Kimmich { background-position:0 -900px; }
.sprite-Julian_Draxler { background-position:0 -990px; }
.sprite-Karim_Bellarabi { background-position:0 -1080px; }
.sprite-Kevin_Trapp { background-position:0 -1170px; }
.sprite-Leroy_San { background-position:0 -1260px; }
.sprite-Lukas_Podolski { background-position:0 -1350px; }
.sprite-Manuel_Neuer { background-position:0 -1440px; }
.sprite-MarcAndr_ter_Stegen { background-position:0 -1530px; }
.sprite-Marco_Reus { background-position:0 -1620px; }
.sprite-Mario_Gtze { background-position:0 -1710px; }
.sprite-Mats_Hummels { background-position:0 -1800px; }
.sprite-Matthias_Ginter { background-position:0 -1890px; }
.sprite-Mesut_zil { background-position:0 -1980px; }
.sprite-RonRobert_Zieler { background-position:0 -2070px; }
.sprite-Sami_Khedira { background-position:0 -2160px; }
.sprite-Sebastian_Rudy { background-position:0 -2250px; }
.sprite-Shkodran_Mustafi { background-position:0 -2340px; }
.sprite-Thomas_Mller { background-position:0 -2430px; }
.sprite-Toni_Kroos { background-position:0 -2520px; }
