[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Germany-260.jpg'); background-size:650px 650px; width:260px; height:260px; }
.sprite-Leroy_San { background-position:0 0; }
.sprite-Andr_Schrrle { background-position:-130px 0; }
.sprite-Bastian_Schweinsteiger { background-position:0 -130px; }
.sprite-Benedikt_Hwedes { background-position:-130px -130px; }
.sprite-Bernd_Leno { background-position:-260px 0; }
.sprite-Emre_Can { background-position:-260px -130px; }
.sprite-Jonas_Hector { background-position:0 -260px; }
.sprite-Joshua_Kimmich { background-position:-130px -260px; }
.sprite-Jrme_Boateng { background-position:-260px -260px; }
.sprite-Julian_Draxler { background-position:-390px 0; }
.sprite-Julian_Weigl { background-position:-390px -130px; }
.sprite-Antonio_Rdiger { background-position:-390px -260px; }
.sprite-Lukas_Podolski { background-position:0 -390px; }
.sprite-Manuel_Neuer { background-position:-130px -390px; }
.sprite-MarcAndr_ter_Stegen { background-position:-260px -390px; }
.sprite-Mario_Gomez { background-position:-390px -390px; }
.sprite-Mario_Gtze { background-position:-520px 0; }
.sprite-Mats_Hummels { background-position:-520px -130px; }
.sprite-Mesut_zil { background-position:-520px -260px; }
.sprite-Sami_Khedira { background-position:-520px -390px; }
.sprite-Shkodran_Mustafi { background-position:0 -520px; }
.sprite-Thomas_Mller { background-position:-130px -520px; }
.sprite-Toni_Kroos { background-position:-260px -520px; }
