[class^='sprite-'], [class*=' sprite-'] { background-image:url('../img/Germany-120.jpg'); width:120px; height:120px; }
.sprite-Leroy_San { background-position:0 0; }
.sprite-Antonio_Rdiger { background-position:-120px 0; }
.sprite-Benedikt_Hwedes { background-position:0 -120px; }
.sprite-Bernd_Leno { background-position:-120px -120px; }
.sprite-Christoph_Kramer { background-position:-240px 0; }
.sprite-Emre_Can { background-position:-240px -120px; }
.sprite-Ilkay_Gndogan { background-position:0 -240px; }
.sprite-Jerome_Boateng { background-position:-120px -240px; }
.sprite-Jonas_Hector { background-position:-240px -240px; }
.sprite-Jonathan_Tah { background-position:-360px 0; }
.sprite-Joshua_Kimmich { background-position:-360px -120px; }
.sprite-Julian_Draxler { background-position:-360px -240px; }
.sprite-Karim_Bellarabi { background-position:0 -360px; }
.sprite-Kevin_Trapp { background-position:-120px -360px; }
.sprite-Bastian_Schweinsteiger { background-position:-240px -360px; }
.sprite-Lukas_Podolski { background-position:-360px -360px; }
.sprite-Manuel_Neuer { background-position:-480px 0; }
.sprite-MarcAndr_ter_Stegen { background-position:-480px -120px; }
.sprite-Marco_Reus { background-position:-480px -240px; }
.sprite-Mario_Gtze { background-position:-480px -360px; }
.sprite-Mats_Hummels { background-position:0 -480px; }
.sprite-Matthias_Ginter { background-position:-120px -480px; }
.sprite-Mesut_zil { background-position:-240px -480px; }
.sprite-RonRobert_Zieler { background-position:-360px -480px; }
.sprite-Sami_Khedira { background-position:-480px -480px; }
.sprite-Sebastian_Rudy { background-position:-600px 0; }
.sprite-Shkodran_Mustafi { background-position:-600px -120px; }
.sprite-Thomas_Mller { background-position:-600px -240px; }
.sprite-Toni_Kroos { background-position:-600px -360px; }
