[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Germany-240.jpg'); background-size:600px 600px; width:240px; height:240px; }
.sprite-Leroy_San { background-position:0 0; }
.sprite-Andr_Schrrle { background-position:-120px 0; }
.sprite-Bastian_Schweinsteiger { background-position:0 -120px; }
.sprite-Benedikt_Hwedes { background-position:-120px -120px; }
.sprite-Bernd_Leno { background-position:-240px 0; }
.sprite-Emre_Can { background-position:-240px -120px; }
.sprite-Jonas_Hector { background-position:0 -240px; }
.sprite-Joshua_Kimmich { background-position:-120px -240px; }
.sprite-Jrme_Boateng { background-position:-240px -240px; }
.sprite-Julian_Draxler { background-position:-360px 0; }
.sprite-Julian_Weigl { background-position:-360px -120px; }
.sprite-Antonio_Rdiger { background-position:-360px -240px; }
.sprite-Lukas_Podolski { background-position:0 -360px; }
.sprite-Manuel_Neuer { background-position:-120px -360px; }
.sprite-MarcAndr_ter_Stegen { background-position:-240px -360px; }
.sprite-Mario_Gomez { background-position:-360px -360px; }
.sprite-Mario_Gtze { background-position:-480px 0; }
.sprite-Mats_Hummels { background-position:-480px -120px; }
.sprite-Mesut_zil { background-position:-480px -240px; }
.sprite-Sami_Khedira { background-position:-480px -360px; }
.sprite-Shkodran_Mustafi { background-position:0 -480px; }
.sprite-Thomas_Mller { background-position:-120px -480px; }
.sprite-Toni_Kroos { background-position:-240px -480px; }
