[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Germany-180.jpg'); background-size:450px 450px; width:180px; height:180px; }
.sprite-Leroy_San { background-position:0 0; }
.sprite-Andr_Schrrle { background-position:-90px 0; }
.sprite-Benedikt_Hwedes { background-position:0 -90px; }
.sprite-Bernd_Leno { background-position:-90px -90px; }
.sprite-Emre_Can { background-position:-180px 0; }
.sprite-Jonas_Hector { background-position:-180px -90px; }
.sprite-Jonathan_Tah { background-position:0 -180px; }
.sprite-Joshua_Kimmich { background-position:-90px -180px; }
.sprite-Jrme_Boateng { background-position:-180px -180px; }
.sprite-Julian_Draxler { background-position:-270px 0; }
.sprite-Julian_Weigl { background-position:-270px -90px; }
.sprite-Bastian_Schweinsteiger { background-position:-270px -180px; }
.sprite-Lukas_Podolski { background-position:0 -270px; }
.sprite-Manuel_Neuer { background-position:-90px -270px; }
.sprite-MarcAndr_ter_Stegen { background-position:-180px -270px; }
.sprite-Mario_Gomez { background-position:-270px -270px; }
.sprite-Mario_Gtze { background-position:-360px 0; }
.sprite-Mats_Hummels { background-position:-360px -90px; }
.sprite-Mesut_zil { background-position:-360px -180px; }
.sprite-Sami_Khedira { background-position:-360px -270px; }
.sprite-Shkodran_Mustafi { background-position:0 -360px; }
.sprite-Thomas_Mller { background-position:-90px -360px; }
.sprite-Toni_Kroos { background-position:-180px -360px; }
