[class^='sprite-'], [class*=' sprite-'] { background-image:url('../img/Germany-140.jpg'); width:140px; height:140px; }
.sprite-Leroy_San { background-position:0 0; }
.sprite-Antonio_Rdiger { background-position:-140px 0; }
.sprite-Benedikt_Hwedes { background-position:0 -140px; }
.sprite-Bernd_Leno { background-position:-140px -140px; }
.sprite-Christoph_Kramer { background-position:-280px 0; }
.sprite-Emre_Can { background-position:-280px -140px; }
.sprite-Ilkay_Gndogan { background-position:0 -280px; }
.sprite-Jerome_Boateng { background-position:-140px -280px; }
.sprite-Jonas_Hector { background-position:-280px -280px; }
.sprite-Jonathan_Tah { background-position:-420px 0; }
.sprite-Joshua_Kimmich { background-position:-420px -140px; }
.sprite-Julian_Draxler { background-position:-420px -280px; }
.sprite-Karim_Bellarabi { background-position:0 -420px; }
.sprite-Kevin_Trapp { background-position:-140px -420px; }
.sprite-Bastian_Schweinsteiger { background-position:-280px -420px; }
.sprite-Lukas_Podolski { background-position:-420px -420px; }
.sprite-Manuel_Neuer { background-position:-560px 0; }
.sprite-MarcAndr_ter_Stegen { background-position:-560px -140px; }
.sprite-Marco_Reus { background-position:-560px -280px; }
.sprite-Mario_Gtze { background-position:-560px -420px; }
.sprite-Mats_Hummels { background-position:0 -560px; }
.sprite-Matthias_Ginter { background-position:-140px -560px; }
.sprite-Mesut_zil { background-position:-280px -560px; }
.sprite-RonRobert_Zieler { background-position:-420px -560px; }
.sprite-Sami_Khedira { background-position:-560px -560px; }
.sprite-Sebastian_Rudy { background-position:-700px 0; }
.sprite-Shkodran_Mustafi { background-position:-700px -140px; }
.sprite-Thomas_Mller { background-position:-700px -280px; }
.sprite-Toni_Kroos { background-position:-700px -420px; }
