[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Germany-260.jpg'); background-size:130px 3770px; width:260px; height:260px; }
.sprite-Antonio_Rdiger { background-position:0 0; }
.sprite-Bastian_Schweinsteiger { background-position:0 -130px; }
.sprite-Benedikt_Hwedes { background-position:0 -260px; }
.sprite-Bernd_Leno { background-position:0 -390px; }
.sprite-Christoph_Kramer { background-position:0 -520px; }
.sprite-Emre_Can { background-position:0 -650px; }
.sprite-Ilkay_Gndogan { background-position:0 -780px; }
.sprite-Jerome_Boateng { background-position:0 -910px; }
.sprite-Jonas_Hector { background-position:0 -1040px; }
.sprite-Jonathan_Tah { background-position:0 -1170px; }
.sprite-Joshua_Kimmich { background-position:0 -1300px; }
.sprite-Julian_Draxler { background-position:0 -1430px; }
.sprite-Karim_Bellarabi { background-position:0 -1560px; }
.sprite-Kevin_Trapp { background-position:0 -1690px; }
.sprite-Leroy_San { background-position:0 -1820px; }
.sprite-Lukas_Podolski { background-position:0 -1950px; }
.sprite-Manuel_Neuer { background-position:0 -2080px; }
.sprite-MarcAndr_ter_Stegen { background-position:0 -2210px; }
.sprite-Marco_Reus { background-position:0 -2340px; }
.sprite-Mario_Gtze { background-position:0 -2470px; }
.sprite-Mats_Hummels { background-position:0 -2600px; }
.sprite-Matthias_Ginter { background-position:0 -2730px; }
.sprite-Mesut_zil { background-position:0 -2860px; }
.sprite-RonRobert_Zieler { background-position:0 -2990px; }
.sprite-Sami_Khedira { background-position:0 -3120px; }
.sprite-Sebastian_Rudy { background-position:0 -3250px; }
.sprite-Shkodran_Mustafi { background-position:0 -3380px; }
.sprite-Thomas_Mller { background-position:0 -3510px; }
.sprite-Toni_Kroos { background-position:0 -3640px; }
