[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Hungary-180.jpg'); background-size:540px 450px; width:180px; height:180px; }
.sprite-Krisztin_Nmeth { background-position:0 0; }
.sprite-Attila_Fiola { background-position:-90px 0; }
.sprite-Balzs_Megyeri { background-position:0 -90px; }
.sprite-Barnabs_Bese { background-position:-90px -90px; }
.sprite-dm_Gyurcs { background-position:-180px 0; }
.sprite-dm_Lang { background-position:-180px -90px; }
.sprite-dm_Nagy { background-position:0 -180px; }
.sprite-dm_Pintr { background-position:-90px -180px; }
.sprite-dm_Szalai { background-position:-180px -180px; }
.sprite-Dnes_Dibusz { background-position:-270px 0; }
.sprite-Dniel_Bde { background-position:-270px -90px; }
.sprite-Gbor_Kirly { background-position:-270px -180px; }
.sprite-Gerg_Kocsis { background-position:0 -270px; }
.sprite-Gerg_Lovrencsics { background-position:-90px -270px; }
.sprite-kos_Elek { background-position:-180px -270px; }
.sprite-Balzs_Dzsudzsk { background-position:-270px -270px; }
.sprite-Lszl_Kleinheisler { background-position:-360px 0; }
.sprite-Lszl_Lencse { background-position:-360px -90px; }
.sprite-Mihly_Korhut { background-position:-360px -180px; }
.sprite-Mt_Vida { background-position:-360px -270px; }
.sprite-Nemanja_Nikolic { background-position:0 -360px; }
.sprite-Pter_Gulcsi { background-position:-90px -360px; }
.sprite-Richrd_Guzmics { background-position:-180px -360px; }
.sprite-Roland_Juhsz { background-position:-270px -360px; }
.sprite-Roland_Sallai { background-position:-360px -360px; }
.sprite-Tams_Kdr { background-position:-450px 0; }
.sprite-Tams_Priskin { background-position:-450px -90px; }
.sprite-Zoltn_Gera { background-position:-450px -180px; }
.sprite-Zoltn_Stieber { background-position:-450px -270px; }
.sprite-Zsolt_Korcsmr { background-position:-450px -360px; }
