[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Hungary-260.jpg'); background-size:650px 650px; width:260px; height:260px; }
.sprite-kos_Elek { background-position:0 0; }
.sprite-Attila_Fiola { background-position:-130px 0; }
.sprite-Barnabs_Bese { background-position:0 -130px; }
.sprite-dm_Lang { background-position:-130px -130px; }
.sprite-dm_Nagy { background-position:-260px 0; }
.sprite-dm_Pintr { background-position:-260px -130px; }
.sprite-dm_Szalai { background-position:0 -260px; }
.sprite-Dnes_Dibusz { background-position:-130px -260px; }
.sprite-Dniel_Bde { background-position:-260px -260px; }
.sprite-Gbor_Kirly { background-position:-390px 0; }
.sprite-Gerg_Lovrencsics { background-position:-390px -130px; }
.sprite-Balzs_Dzsudzsk { background-position:-390px -260px; }
.sprite-Krisztin_Nmeth { background-position:0 -390px; }
.sprite-Lszl_Kleinheisler { background-position:-130px -390px; }
.sprite-Mihly_Korhut { background-position:-260px -390px; }
.sprite-Nemanja_Nikolic { background-position:-390px -390px; }
.sprite-Pter_Gulcsi { background-position:-520px 0; }
.sprite-Richrd_Guzmics { background-position:-520px -130px; }
.sprite-Roland_Juhsz { background-position:-520px -260px; }
.sprite-Tams_Kdr { background-position:-520px -390px; }
.sprite-Tams_Priskin { background-position:0 -520px; }
.sprite-Zoltn_Gera { background-position:-130px -520px; }
.sprite-Zoltn_Stieber { background-position:-260px -520px; }
