[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Hungary-240.jpg'); background-size:600px 600px; width:240px; height:240px; }
.sprite-kos_Elek { background-position:0 0; }
.sprite-Attila_Fiola { background-position:-120px 0; }
.sprite-Barnabs_Bese { background-position:0 -120px; }
.sprite-dm_Lang { background-position:-120px -120px; }
.sprite-dm_Nagy { background-position:-240px 0; }
.sprite-dm_Pintr { background-position:-240px -120px; }
.sprite-dm_Szalai { background-position:0 -240px; }
.sprite-Dnes_Dibusz { background-position:-120px -240px; }
.sprite-Dniel_Bde { background-position:-240px -240px; }
.sprite-Gbor_Kirly { background-position:-360px 0; }
.sprite-Gerg_Lovrencsics { background-position:-360px -120px; }
.sprite-Balzs_Dzsudzsk { background-position:-360px -240px; }
.sprite-Krisztin_Nmeth { background-position:0 -360px; }
.sprite-Lszl_Kleinheisler { background-position:-120px -360px; }
.sprite-Mihly_Korhut { background-position:-240px -360px; }
.sprite-Nemanja_Nikolic { background-position:-360px -360px; }
.sprite-Pter_Gulcsi { background-position:-480px 0; }
.sprite-Richrd_Guzmics { background-position:-480px -120px; }
.sprite-Roland_Juhsz { background-position:-480px -240px; }
.sprite-Tams_Kdr { background-position:-480px -360px; }
.sprite-Tams_Priskin { background-position:0 -480px; }
.sprite-Zoltn_Gera { background-position:-120px -480px; }
.sprite-Zoltn_Stieber { background-position:-240px -480px; }
