[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Iceland-260.jpg'); background-size:650px 650px; width:260px; height:260px; }
.sprite-Haukur_Heiar_Hauksson { background-position:0 0; }
.sprite-Alfred_Finnbogason { background-position:-130px 0; }
.sprite-Arnr_Ingvi_Traustason { background-position:0 -130px; }
.sprite-Aron_Gunnarsson { background-position:-130px -130px; }
.sprite-Birkir_Bjarnason { background-position:-260px 0; }
.sprite-Birkir_Mr_Svarsson { background-position:-260px -130px; }
.sprite-Eidur_Gudjohnsen { background-position:0 -260px; }
.sprite-Emil_Hallfredsson { background-position:-130px -260px; }
.sprite-gmundur_Kristinsson { background-position:-260px -260px; }
.sprite-Gylfi_Sigurdsson { background-position:-390px 0; }
.sprite-Hannes_Thr_Halldrsson { background-position:-390px -130px; }
.sprite-Ari_Freyr_Sklason { background-position:-390px -260px; }
.sprite-Hjrtur_Hermannsson { background-position:0 -390px; }
.sprite-Hrdur_Bjrgvin_Magnsson { background-position:-130px -390px; }
.sprite-Ingvar_Jnsson { background-position:-260px -390px; }
.sprite-Jhann_Berg_Gumundsson { background-position:-390px -390px; }
.sprite-Jn_Dadi_Bdvarsson { background-position:-520px 0; }
.sprite-Kolbeinn_Sigthrsson { background-position:-520px -130px; }
.sprite-Kri_rnason { background-position:-520px -260px; }
.sprite-Ragnar_Sigurdsson { background-position:-520px -390px; }
.sprite-Rnar_Mr_Sigurjnsson { background-position:0 -520px; }
.sprite-Sverrir_Ingi_Ingason { background-position:-130px -520px; }
.sprite-Thedr_Elmar_Bjarnason { background-position:-260px -520px; }
