[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Iceland-180.jpg'); background-size:450px 450px; width:180px; height:180px; }
.sprite-Haukur_Heiar_Hauksson { background-position:0 0; }
.sprite-Alfred_Finnbogason { background-position:-90px 0; }
.sprite-Arnr_Ingvi_Traustason { background-position:0 -90px; }
.sprite-Aron_Gunnarsson { background-position:-90px -90px; }
.sprite-Birkir_Bjarnason { background-position:-180px 0; }
.sprite-Birkir_Mr_Svarsson { background-position:-180px -90px; }
.sprite-Eidur_Gudjohnsen { background-position:0 -180px; }
.sprite-Emil_Hallfredsson { background-position:-90px -180px; }
.sprite-gmundur_Kristinsson { background-position:-180px -180px; }
.sprite-Gylfi_Sigurdsson { background-position:-270px 0; }
.sprite-Hannes_Thr_Halldrsson { background-position:-270px -90px; }
.sprite-Ari_Freyr_Sklason { background-position:-270px -180px; }
.sprite-Hjrtur_Hermannsson { background-position:0 -270px; }
.sprite-Hrdur_Bjrgvin_Magnsson { background-position:-90px -270px; }
.sprite-Ingvar_Jnsson { background-position:-180px -270px; }
.sprite-Jhann_Berg_Gumundsson { background-position:-270px -270px; }
.sprite-Jn_Dadi_Bdvarsson { background-position:-360px 0; }
.sprite-Kolbeinn_Sigthrsson { background-position:-360px -90px; }
.sprite-Kri_rnason { background-position:-360px -180px; }
.sprite-Ragnar_Sigurdsson { background-position:-360px -270px; }
.sprite-Rnar_Mr_Sigurjnsson { background-position:0 -360px; }
.sprite-Sverrir_Ingi_Ingason { background-position:-90px -360px; }
.sprite-Thedr_Elmar_Bjarnason { background-position:-180px -360px; }
