[class^='sprite-'], [class*=' sprite-'] { background-image:url('../img/Italy-260.jpg'); background-size:130px 3770px; width:260px; height:260px; }
.sprite-Alessandro_Florenzi { background-position:0 0; }
.sprite-Alessio_Cerci { background-position:0 -130px; }
.sprite-Andrea_Barzagli { background-position:0 -260px; }
.sprite-Andrea_Pirlo { background-position:0 -390px; }
.sprite-Andrea_Poli { background-position:0 -520px; }
.sprite-Angelo_Ogbonna { background-position:0 -650px; }
.sprite-Antonio_Candreva { background-position:0 -780px; }
.sprite-Claudio_Marchisio { background-position:0 -910px; }
.sprite-Domencio_Criscito { background-position:0 -1040px; }
.sprite-Eder { background-position:0 -1170px; }
.sprite-Franco_Vzquez { background-position:0 -1300px; }
.sprite-Gianlugi_Donnarumma { background-position:0 -1430px; }
.sprite-Gianluigi_Buffon { background-position:0 -1560px; }
.sprite-Giorgio_Chiellini { background-position:0 -1690px; }
.sprite-Graziano_Pell { background-position:0 -1820px; }
.sprite-Leonardo_Bonucci { background-position:0 -1950px; }
.sprite-Lorenzo_Insigne { background-position:0 -2080px; }
.sprite-Manolo_Gabbiadini { background-position:0 -2210px; }
.sprite-Marco_Verratti { background-position:0 -2340px; }
.sprite-Mario_Balotelli { background-position:0 -2470px; }
.sprite-Matteo_Darmian { background-position:0 -2600px; }
.sprite-Mattia_De_Sciglio { background-position:0 -2730px; }
.sprite-Mattia_Destro { background-position:0 -2860px; }
.sprite-Mattia_Perin { background-position:0 -2990px; }
.sprite-Riccardo_Montolivo { background-position:0 -3120px; }
.sprite-Salvatore_Sirigu { background-position:0 -3250px; }
.sprite-Simone_Zaza { background-position:0 -3380px; }
.sprite-Stephan_El_Shaarawy { background-position:0 -3510px; }
.sprite-Thiago_Motta { background-position:0 -3640px; }
