[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Italy-180.jpg'); background-size:630px 540px; width:180px; height:180px; }
.sprite-Giorgio_Chiellini { background-position:0 0; }
.sprite-Alessandro_Florenzi { background-position:-90px 0; }
.sprite-Andrea_Barzagli { background-position:0 -90px; }
.sprite-Andrea_Pirlo { background-position:-90px -90px; }
.sprite-Andrea_Poli { background-position:-180px 0; }
.sprite-Angelo_Ogbonna { background-position:-180px -90px; }
.sprite-Antonio_Candreva { background-position:0 -180px; }
.sprite-Ciro_Immobile { background-position:-90px -180px; }
.sprite-Daniele_De_Rossi { background-position:-180px -180px; }
.sprite-Daniele_Padelli { background-position:-270px 0; }
.sprite-Davide_Astori { background-position:-270px -90px; }
.sprite-der { background-position:-270px -180px; }
.sprite-Domencio_Criscito { background-position:0 -270px; }
.sprite-Emanuele_Giaccherini { background-position:-90px -270px; }
.sprite-Federico_Bernardeschi { background-position:-180px -270px; }
.sprite-Francesco_Acerbi { background-position:-270px -270px; }
.sprite-Franco_Vzquez { background-position:-360px 0; }
.sprite-Giacomo_Bonaventura { background-position:-360px -90px; }
.sprite-Gianlugi_Donnarumma { background-position:-360px -180px; }
.sprite-Gianluigi_Buffon { background-position:-360px -270px; }
.sprite-Alessio_Cerci { background-position:0 -360px; }
.sprite-Graziano_Pell { background-position:-90px -360px; }
.sprite-Jorginho { background-position:-180px -360px; }
.sprite-Leonardo_Bonucci { background-position:-270px -360px; }
.sprite-Leonardo_Pavoletti { background-position:-360px -360px; }
.sprite-Lorenzo_De_Silvestri { background-position:-450px 0; }
.sprite-Lorenzo_Insigne { background-position:-450px -90px; }
.sprite-Luca_Antonelli { background-position:-450px -180px; }
.sprite-Manolo_Gabbiadini { background-position:-450px -270px; }
.sprite-Marco_Parolo { background-position:-450px -360px; }
.sprite-Mario_Balotelli { background-position:0 -450px; }
.sprite-Matteo_Darmian { background-position:-90px -450px; }
.sprite-Mattia_De_Sciglio { background-position:-180px -450px; }
.sprite-Mattia_Destro { background-position:-270px -450px; }
.sprite-Riccardo_Montolivo { background-position:-360px -450px; }
.sprite-Roberto_Soriano { background-position:-450px -450px; }
.sprite-Salvatore_Sirigu { background-position:-540px 0; }
.sprite-Simone_Zaza { background-position:-540px -90px; }
.sprite-Stephan_El_Shaarawy { background-position:-540px -180px; }
.sprite-Thiago_Motta { background-position:-540px -270px; }
