[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Italy-180.jpg'); background-size:450px 450px; width:180px; height:180px; }
.sprite-Giorgio_Chiellini { background-position:0 0; }
.sprite-Alessandro_Florenzi { background-position:-90px 0; }
.sprite-Angelo_Ogbonna { background-position:0 -90px; }
.sprite-Antonio_Candreva { background-position:-90px -90px; }
.sprite-Ciro_Immobile { background-position:-180px 0; }
.sprite-Daniele_De_Rossi { background-position:-180px -90px; }
.sprite-der { background-position:0 -180px; }
.sprite-Emanuele_Giaccherini { background-position:-90px -180px; }
.sprite-Federico_Bernardeschi { background-position:-180px -180px; }
.sprite-Federico_Marchetti { background-position:-270px 0; }
.sprite-Gianluigi_Buffon { background-position:-270px -90px; }
.sprite-Andrea_Barzagli { background-position:-270px -180px; }
.sprite-Graziano_Pell { background-position:0 -270px; }
.sprite-Leonardo_Bonucci { background-position:-90px -270px; }
.sprite-Lorenzo_Insigne { background-position:-180px -270px; }
.sprite-Marco_Parolo { background-position:-270px -270px; }
.sprite-Matteo_Darmian { background-position:-360px 0; }
.sprite-Mattia_De_Sciglio { background-position:-360px -90px; }
.sprite-Salvatore_Sirigu { background-position:-360px -180px; }
.sprite-Simone_Zaza { background-position:-360px -270px; }
.sprite-Stefano_Sturaro { background-position:0 -360px; }
.sprite-Stephan_El_Shaarawy { background-position:-90px -360px; }
.sprite-Thiago_Motta { background-position:-180px -360px; }
