[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Italy-180.jpg'); background-size:540px 450px; width:180px; height:180px; }
.sprite-Graziano_Pell { background-position:0 0; }
.sprite-Alessandro_Florenzi { background-position:-90px 0; }
.sprite-Andrea_Barzagli { background-position:0 -90px; }
.sprite-Andrea_Pirlo { background-position:-90px -90px; }
.sprite-Andrea_Poli { background-position:-180px 0; }
.sprite-Angelo_Ogbonna { background-position:-180px -90px; }
.sprite-Antonio_Candreva { background-position:0 -180px; }
.sprite-Claudio_Marchisio { background-position:-90px -180px; }
.sprite-Domencio_Criscito { background-position:-180px -180px; }
.sprite-Eder { background-position:-270px 0; }
.sprite-Franco_Vzquez { background-position:-270px -90px; }
.sprite-Gianlugi_Donnarumma { background-position:-270px -180px; }
.sprite-Gianluigi_Buffon { background-position:0 -270px; }
.sprite-Giorgio_Chiellini { background-position:-90px -270px; }
.sprite-Alessio_Cerci { background-position:-180px -270px; }
.sprite-Leonardo_Bonucci { background-position:-270px -270px; }
.sprite-Lorenzo_Insigne { background-position:-360px 0; }
.sprite-Manolo_Gabbiadini { background-position:-360px -90px; }
.sprite-Marco_Verratti { background-position:-360px -180px; }
.sprite-Mario_Balotelli { background-position:-360px -270px; }
.sprite-Matteo_Darmian { background-position:0 -360px; }
.sprite-Mattia_De_Sciglio { background-position:-90px -360px; }
.sprite-Mattia_Destro { background-position:-180px -360px; }
.sprite-Mattia_Perin { background-position:-270px -360px; }
.sprite-Riccardo_Montolivo { background-position:-360px -360px; }
.sprite-Salvatore_Sirigu { background-position:-450px 0; }
.sprite-Simone_Zaza { background-position:-450px -90px; }
.sprite-Stephan_El_Shaarawy { background-position:-450px -180px; }
.sprite-Thiago_Motta { background-position:-450px -270px; }
