[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Italy-240.jpg'); background-size:720px 600px; width:240px; height:240px; }
.sprite-Graziano_Pell { background-position:0 0; }
.sprite-Alessandro_Florenzi { background-position:-120px 0; }
.sprite-Andrea_Barzagli { background-position:0 -120px; }
.sprite-Andrea_Pirlo { background-position:-120px -120px; }
.sprite-Andrea_Poli { background-position:-240px 0; }
.sprite-Angelo_Ogbonna { background-position:-240px -120px; }
.sprite-Antonio_Candreva { background-position:0 -240px; }
.sprite-Claudio_Marchisio { background-position:-120px -240px; }
.sprite-Domencio_Criscito { background-position:-240px -240px; }
.sprite-Eder { background-position:-360px 0; }
.sprite-Franco_Vzquez { background-position:-360px -120px; }
.sprite-Gianlugi_Donnarumma { background-position:-360px -240px; }
.sprite-Gianluigi_Buffon { background-position:0 -360px; }
.sprite-Giorgio_Chiellini { background-position:-120px -360px; }
.sprite-Alessio_Cerci { background-position:-240px -360px; }
.sprite-Leonardo_Bonucci { background-position:-360px -360px; }
.sprite-Lorenzo_Insigne { background-position:-480px 0; }
.sprite-Manolo_Gabbiadini { background-position:-480px -120px; }
.sprite-Marco_Verratti { background-position:-480px -240px; }
.sprite-Mario_Balotelli { background-position:-480px -360px; }
.sprite-Matteo_Darmian { background-position:0 -480px; }
.sprite-Mattia_De_Sciglio { background-position:-120px -480px; }
.sprite-Mattia_Destro { background-position:-240px -480px; }
.sprite-Mattia_Perin { background-position:-360px -480px; }
.sprite-Riccardo_Montolivo { background-position:-480px -480px; }
.sprite-Salvatore_Sirigu { background-position:-600px 0; }
.sprite-Simone_Zaza { background-position:-600px -120px; }
.sprite-Stephan_El_Shaarawy { background-position:-600px -240px; }
.sprite-Thiago_Motta { background-position:-600px -360px; }
