[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Northern Ireland-180.jpg'); background-size:540px 450px; width:180px; height:180px; }
.sprite-Lee_Hodson { background-position:0 0; }
.sprite-Aaron_Hughes { background-position:-90px 0; }
.sprite-Billy_McKay { background-position:0 -90px; }
.sprite-Chris_Baird { background-position:-90px -90px; }
.sprite-Conor_McLaughlin { background-position:-180px 0; }
.sprite-Conor_Washington { background-position:-180px -90px; }
.sprite-Corry_Evans { background-position:0 -180px; }
.sprite-Craig_Cathcart { background-position:-90px -180px; }
.sprite-Daniel_Lafferty { background-position:-180px -180px; }
.sprite-Gareth_McAuley { background-position:-270px 0; }
.sprite-Jamie_Ward { background-position:-270px -90px; }
.sprite-Jonny_Evans { background-position:-270px -180px; }
.sprite-Josh_Magennis { background-position:0 -270px; }
.sprite-Kyle_Lafferty { background-position:-90px -270px; }
.sprite-Alan_Mannus { background-position:-180px -270px; }
.sprite-Luke_McCullough { background-position:-270px -270px; }
.sprite-Michael_McGovern { background-position:-360px 0; }
.sprite-Michael_Smith { background-position:-360px -90px; }
.sprite-Niall_McGinn { background-position:-360px -180px; }
.sprite-Oliver_Norwood { background-position:-360px -270px; }
.sprite-Paddy_McCourt { background-position:0 -360px; }
.sprite-Paddy_McNair { background-position:-90px -360px; }
.sprite-Roy_Carroll { background-position:-180px -360px; }
.sprite-Ryan_McLaughlin { background-position:-270px -360px; }
.sprite-Shane_Ferguson { background-position:-360px -360px; }
.sprite-Steven_Davis { background-position:-450px 0; }
.sprite-Stuart_Dallas { background-position:-450px -90px; }
.sprite-Will_Grigg { background-position:-450px -180px; }
