[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Northern Ireland-180.jpg'); background-size:450px 450px; width:180px; height:180px; }
.sprite-Kyle_Lafferty { background-position:0 0; }
.sprite-Aaron_Hughes { background-position:-90px 0; }
.sprite-Chris_Baird { background-position:0 -90px; }
.sprite-Conor_McLaughlin { background-position:-90px -90px; }
.sprite-Conor_Washington { background-position:-180px 0; }
.sprite-Corry_Evans { background-position:-180px -90px; }
.sprite-Craig_Cathcart { background-position:0 -180px; }
.sprite-Gareth_McAuley { background-position:-90px -180px; }
.sprite-Jamie_Ward { background-position:-180px -180px; }
.sprite-Jonny_Evans { background-position:-270px 0; }
.sprite-Josh_Magennis { background-position:-270px -90px; }
.sprite-Alan_Mannus { background-position:-270px -180px; }
.sprite-Lee_Hodson { background-position:0 -270px; }
.sprite-Michael_McGovern { background-position:-90px -270px; }
.sprite-Niall_McGinn { background-position:-180px -270px; }
.sprite-Paddy_McCourt { background-position:-270px -270px; }
.sprite-Paddy_McNair { background-position:-360px 0; }
.sprite-Roy_Carroll { background-position:-360px -90px; }
.sprite-Ryan_McLaughlin { background-position:-360px -180px; }
.sprite-Shane_Ferguson { background-position:-360px -270px; }
.sprite-Steven_Davis { background-position:0 -360px; }
.sprite-Stuart_Dallas { background-position:-90px -360px; }
.sprite-Will_Grigg { background-position:-180px -360px; }
