[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Northern Ireland-260.jpg'); background-size:650px 650px; width:260px; height:260px; }
.sprite-Kyle_Lafferty { background-position:0 0; }
.sprite-Aaron_Hughes { background-position:-130px 0; }
.sprite-Chris_Baird { background-position:0 -130px; }
.sprite-Conor_McLaughlin { background-position:-130px -130px; }
.sprite-Conor_Washington { background-position:-260px 0; }
.sprite-Corry_Evans { background-position:-260px -130px; }
.sprite-Craig_Cathcart { background-position:0 -260px; }
.sprite-Gareth_McAuley { background-position:-130px -260px; }
.sprite-Jamie_Ward { background-position:-260px -260px; }
.sprite-Jonny_Evans { background-position:-390px 0; }
.sprite-Josh_Magennis { background-position:-390px -130px; }
.sprite-Alan_Mannus { background-position:-390px -260px; }
.sprite-Lee_Hodson { background-position:0 -390px; }
.sprite-Luke_McCullough { background-position:-130px -390px; }
.sprite-Michael_McGovern { background-position:-260px -390px; }
.sprite-Niall_McGinn { background-position:-390px -390px; }
.sprite-Oliver_Norwood { background-position:-520px 0; }
.sprite-Paddy_McNair { background-position:-520px -130px; }
.sprite-Roy_Carroll { background-position:-520px -260px; }
.sprite-Shane_Ferguson { background-position:-520px -390px; }
.sprite-Steven_Davis { background-position:0 -520px; }
.sprite-Stuart_Dallas { background-position:-130px -520px; }
.sprite-Will_Grigg { background-position:-260px -520px; }
