[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Northern Ireland-240.jpg'); background-size:600px 600px; width:240px; height:240px; }
.sprite-Kyle_Lafferty { background-position:0 0; }
.sprite-Aaron_Hughes { background-position:-120px 0; }
.sprite-Chris_Baird { background-position:0 -120px; }
.sprite-Conor_McLaughlin { background-position:-120px -120px; }
.sprite-Conor_Washington { background-position:-240px 0; }
.sprite-Corry_Evans { background-position:-240px -120px; }
.sprite-Craig_Cathcart { background-position:0 -240px; }
.sprite-Gareth_McAuley { background-position:-120px -240px; }
.sprite-Jamie_Ward { background-position:-240px -240px; }
.sprite-Jonny_Evans { background-position:-360px 0; }
.sprite-Josh_Magennis { background-position:-360px -120px; }
.sprite-Alan_Mannus { background-position:-360px -240px; }
.sprite-Lee_Hodson { background-position:0 -360px; }
.sprite-Luke_McCullough { background-position:-120px -360px; }
.sprite-Michael_McGovern { background-position:-240px -360px; }
.sprite-Niall_McGinn { background-position:-360px -360px; }
.sprite-Oliver_Norwood { background-position:-480px 0; }
.sprite-Paddy_McNair { background-position:-480px -120px; }
.sprite-Roy_Carroll { background-position:-480px -240px; }
.sprite-Shane_Ferguson { background-position:-480px -360px; }
.sprite-Steven_Davis { background-position:0 -480px; }
.sprite-Stuart_Dallas { background-position:-120px -480px; }
.sprite-Will_Grigg { background-position:-240px -480px; }
