[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Poland-260.jpg'); background-size:650px 650px; width:260px; height:260px; }
.sprite-Karol_Linetty { background-position:0 0; }
.sprite-Arkadiusz_Milik { background-position:-130px 0; }
.sprite-Artur_Jedrzejczyk { background-position:0 -130px; }
.sprite-Bartosz_Kapustka { background-position:-130px -130px; }
.sprite-Bartosz_Salamon { background-position:-260px 0; }
.sprite-Filip_Starzynski { background-position:-260px -130px; }
.sprite-Grzegorz_Krychowiak { background-position:0 -260px; }
.sprite-Jakub_Blaszczykowski { background-position:-130px -260px; }
.sprite-Jakub_Wawrzyniak { background-position:-260px -260px; }
.sprite-Kamil_Glik { background-position:-390px 0; }
.sprite-Kamil_Grosicki { background-position:-390px -130px; }
.sprite-Artur_Boruc { background-position:-390px -260px; }
.sprite-Krzysztof_Maczynski { background-position:0 -390px; }
.sprite-Lukasz_Fabianski { background-position:-130px -390px; }
.sprite-Lukasz_Piszczek { background-position:-260px -390px; }
.sprite-Mariusz_Stepinski { background-position:-390px -390px; }
.sprite-Michal_Pazdan { background-position:-520px 0; }
.sprite-Piotr_Zielinski { background-position:-520px -130px; }
.sprite-Robert_Lewandowski { background-position:-520px -260px; }
.sprite-Slawomir_Peszko { background-position:-520px -390px; }
.sprite-Thiago_Cionek { background-position:0 -520px; }
.sprite-Tomasz_Jodlowiec { background-position:-130px -520px; }
.sprite-Wojciech_Szczesny { background-position:-260px -520px; }
