[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Portugal-180.jpg'); background-size:450px 450px; width:180px; height:180px; }
.sprite-Joo_Mrio { background-position:0 0; }
.sprite-Adrien_Silva { background-position:-90px 0; }
.sprite-Anthony_Lopes { background-position:0 -90px; }
.sprite-Antunes { background-position:-90px -90px; }
.sprite-Bruno_Alves { background-position:-180px 0; }
.sprite-Cdric_Soares { background-position:-180px -90px; }
.sprite-Cristiano_Ronaldo { background-position:0 -180px; }
.sprite-Danilo_Pereira { background-position:-90px -180px; }
.sprite-der { background-position:-180px -180px; }
.sprite-Eduardo { background-position:-270px 0; }
.sprite-Eliseu { background-position:-270px -90px; }
.sprite-Joo_Moutinho { background-position:-270px -180px; }
.sprite-Andr_Gomes { background-position:0 -270px; }
.sprite-Jos_Fonte { background-position:-90px -270px; }
.sprite-Nani { background-position:-180px -270px; }
.sprite-Pepe { background-position:-270px -270px; }
.sprite-Rafa { background-position:-360px 0; }
.sprite-Raphal_Guerreiro { background-position:-360px -90px; }
.sprite-Renato_Sanches { background-position:-360px -180px; }
.sprite-Ricardo_Carvalho { background-position:-360px -270px; }
.sprite-Ricardo_Quaresma { background-position:0 -360px; }
.sprite-Rui_Patricio { background-position:-90px -360px; }
.sprite-Vieirinha { background-position:-180px -360px; }
.sprite-William_Carvalho { background-position:-270px -360px; }
