[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Portugal-240.jpg'); background-size:600px 600px; width:240px; height:240px; }
.sprite-Joo_Mrio { background-position:0 0; }
.sprite-Adrien_Silva { background-position:-120px 0; }
.sprite-Anthony_Lopes { background-position:0 -120px; }
.sprite-Bruno_Alves { background-position:-120px -120px; }
.sprite-Cdric_Soares { background-position:-240px 0; }
.sprite-Cristiano_Ronaldo { background-position:-240px -120px; }
.sprite-Danilo_Pereira { background-position:0 -240px; }
.sprite-der { background-position:-120px -240px; }
.sprite-Eduardo { background-position:-240px -240px; }
.sprite-Eliseu { background-position:-360px 0; }
.sprite-Joo_Moutinho { background-position:-360px -120px; }
.sprite-Andr_Gomes { background-position:-360px -240px; }
.sprite-Jos_Fonte { background-position:0 -360px; }
.sprite-Nani { background-position:-120px -360px; }
.sprite-Pepe { background-position:-240px -360px; }
.sprite-Rafa_Silva { background-position:-360px -360px; }
.sprite-Raphal_Guerreiro { background-position:-480px 0; }
.sprite-Renato_Sanches { background-position:-480px -120px; }
.sprite-Ricardo_Carvalho { background-position:-480px -240px; }
.sprite-Ricardo_Quaresma { background-position:-480px -360px; }
.sprite-Rui_Patricio { background-position:0 -480px; }
.sprite-Vieirinha { background-position:-120px -480px; }
.sprite-William_Carvalho { background-position:-240px -480px; }
