[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Portugal-260.jpg'); background-size:650px 650px; width:260px; height:260px; }
.sprite-Joo_Mrio { background-position:0 0; }
.sprite-Adrien_Silva { background-position:-130px 0; }
.sprite-Anthony_Lopes { background-position:0 -130px; }
.sprite-Antunes { background-position:-130px -130px; }
.sprite-Bruno_Alves { background-position:-260px 0; }
.sprite-Cdric_Soares { background-position:-260px -130px; }
.sprite-Cristiano_Ronaldo { background-position:0 -260px; }
.sprite-Danilo_Pereira { background-position:-130px -260px; }
.sprite-der { background-position:-260px -260px; }
.sprite-Eduardo { background-position:-390px 0; }
.sprite-Eliseu { background-position:-390px -130px; }
.sprite-Joo_Moutinho { background-position:-390px -260px; }
.sprite-Andr_Gomes { background-position:0 -390px; }
.sprite-Jos_Fonte { background-position:-130px -390px; }
.sprite-Nani { background-position:-260px -390px; }
.sprite-Pepe { background-position:-390px -390px; }
.sprite-Rafa_Silva { background-position:-520px 0; }
.sprite-Raphal_Guerreiro { background-position:-520px -130px; }
.sprite-Renato_Sanches { background-position:-520px -260px; }
.sprite-Ricardo_Carvalho { background-position:-520px -390px; }
.sprite-Ricardo_Quaresma { background-position:0 -520px; }
.sprite-Rui_Patricio { background-position:-130px -520px; }
.sprite-Vieirinha { background-position:-260px -520px; }
.sprite-William_Carvalho { background-position:-390px -520px; }
