[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Republic of Ireland-240.jpg'); background-size:600px 600px; width:240px; height:240px; }
.sprite-Jon_Walters { background-position:0 0; }
.sprite-Aiden_McGeady { background-position:-120px 0; }
.sprite-Cyrus_Christie { background-position:0 -120px; }
.sprite-Darren_Randolph { background-position:-120px -120px; }
.sprite-Daryl_Murphy { background-position:-240px 0; }
.sprite-David_Meyler { background-position:-240px -120px; }
.sprite-Glenn_Whelan { background-position:0 -240px; }
.sprite-James_McCarthy { background-position:-120px -240px; }
.sprite-James_McClean { background-position:-240px -240px; }
.sprite-Jeff_Hendrick { background-position:-360px 0; }
.sprite-John_OShea { background-position:-360px -120px; }
.sprite-Ciaran_Clark { background-position:-360px -240px; }
.sprite-Keiren_Westwood { background-position:0 -360px; }
.sprite-Richard_Keogh { background-position:-120px -360px; }
.sprite-Robbie_Brady { background-position:-240px -360px; }
.sprite-Robbie_Keane { background-position:-360px -360px; }
.sprite-Seamus_Coleman { background-position:-480px 0; }
.sprite-Shane_Duffy { background-position:-480px -120px; }
.sprite-Shane_Long { background-position:-480px -240px; }
.sprite-Shay_Given { background-position:-480px -360px; }
.sprite-Stephen_Quinn { background-position:0 -480px; }
.sprite-Stephen_Ward { background-position:-120px -480px; }
.sprite-Wes_Hoolahan { background-position:-240px -480px; }
