[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Republic of Ireland-260.jpg'); background-size:780px 650px; width:260px; height:260px; }
.sprite-John_OShea { background-position:0 0; }
.sprite-Aiden_McGeady { background-position:-130px 0; }
.sprite-Ciaran_Clark { background-position:0 -130px; }
.sprite-Cyrus_Christie { background-position:-130px -130px; }
.sprite-Darren_Randolph { background-position:-260px 0; }
.sprite-Daryl_Murphy { background-position:-260px -130px; }
.sprite-David_Forde { background-position:0 -260px; }
.sprite-David_Meyler { background-position:-130px -260px; }
.sprite-Eunan_OKane { background-position:-260px -260px; }
.sprite-Glenn_Whelan { background-position:-390px 0; }
.sprite-Harry_Arter { background-position:-390px -130px; }
.sprite-James_McCarthy { background-position:-390px -260px; }
.sprite-James_McClean { background-position:0 -390px; }
.sprite-Jeff_Hendrick { background-position:-130px -390px; }
.sprite-Anthony_Pilkington { background-position:-260px -390px; }
.sprite-Jon_Walters { background-position:-390px -390px; }
.sprite-Kevin_Doyle { background-position:-520px 0; }
.sprite-Marc_Wilson { background-position:-520px -130px; }
.sprite-Richard_Keogh { background-position:-520px -260px; }
.sprite-Robbie_Brady { background-position:-520px -390px; }
.sprite-Robbie_Keane { background-position:0 -520px; }
.sprite-Seamus_Coleman { background-position:-130px -520px; }
.sprite-Shane_Duffy { background-position:-260px -520px; }
.sprite-Shane_Long { background-position:-390px -520px; }
.sprite-Shay_Given { background-position:-520px -520px; }
.sprite-Stephen_Quinn { background-position:-650px 0; }
.sprite-Stephen_Ward { background-position:-650px -130px; }
.sprite-Wes_Hoolahan { background-position:-650px -260px; }
