[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Romania-260.jpg'); background-size:650px 650px; width:260px; height:260px; }
.sprite-Drago_Grigore { background-position:0 0; }
.sprite-Adrian_Popa { background-position:-130px 0; }
.sprite-Alexandru_Mel { background-position:0 -130px; }
.sprite-Andrei_Prepeli { background-position:-130px -130px; }
.sprite-Bogdan_Stancu { background-position:-260px 0; }
.sprite-Ciprian_Ttruanu { background-position:-260px -130px; }
.sprite-Claudiu_Keeru { background-position:0 -260px; }
.sprite-Cosmin_Moi { background-position:-130px -260px; }
.sprite-Costel_Pantilimon { background-position:-260px -260px; }
.sprite-Cristian_Spunaru { background-position:-390px 0; }
.sprite-Denis_Alibec { background-position:-390px -130px; }
.sprite-Alexandru_Chipciu { background-position:-390px -260px; }
.sprite-Florin_Andone { background-position:0 -390px; }
.sprite-Gabriel_Torje { background-position:-130px -390px; }
.sprite-Lucian_Snmrtean { background-position:-260px -390px; }
.sprite-Mihai_Pintilii { background-position:-390px -390px; }
.sprite-Nicolae_Stanciu { background-position:-520px 0; }
.sprite-Ovidiu_Hoban { background-position:-520px -130px; }
.sprite-Rzvan_Ra { background-position:-520px -260px; }
.sprite-Silviu_Lung { background-position:-520px -390px; }
.sprite-Steliano_Filip { background-position:0 -520px; }
.sprite-Valeric_Gman { background-position:-130px -520px; }
.sprite-Vlad_Chiriche { background-position:-260px -520px; }
