[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Romania-180.jpg'); background-size:450px 450px; width:180px; height:180px; }
.sprite-Drago_Grigore { background-position:0 0; }
.sprite-Adrian_Popa { background-position:-90px 0; }
.sprite-Alexandru_Mel { background-position:0 -90px; }
.sprite-Andrei_Prepeli { background-position:-90px -90px; }
.sprite-Bogdan_Stancu { background-position:-180px 0; }
.sprite-Ciprian_Ttruanu { background-position:-180px -90px; }
.sprite-Claudiu_Keeru { background-position:0 -180px; }
.sprite-Cosmin_Moi { background-position:-90px -180px; }
.sprite-Costel_Pantilimon { background-position:-180px -180px; }
.sprite-Cristian_Spunaru { background-position:-270px 0; }
.sprite-Denis_Alibec { background-position:-270px -90px; }
.sprite-Alexandru_Chipciu { background-position:-270px -180px; }
.sprite-Florin_Andone { background-position:0 -270px; }
.sprite-Gabriel_Torje { background-position:-90px -270px; }
.sprite-Lucian_Snmrtean { background-position:-180px -270px; }
.sprite-Mihai_Pintilii { background-position:-270px -270px; }
.sprite-Nicolae_Stanciu { background-position:-360px 0; }
.sprite-Ovidiu_Hoban { background-position:-360px -90px; }
.sprite-Rzvan_Ra { background-position:-360px -180px; }
.sprite-Silviu_Lung { background-position:-360px -270px; }
.sprite-Steliano_Filip { background-position:0 -360px; }
.sprite-Valeric_Gman { background-position:-90px -360px; }
.sprite-Vlad_Chiriche { background-position:-180px -360px; }
