[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Romania-240.jpg'); background-size:720px 600px; width:240px; height:240px; }
.sprite-Florin_Andone { background-position:0 0; }
.sprite-Adrian_Popa { background-position:-120px 0; }
.sprite-Alexandru_Maxim { background-position:0 -120px; }
.sprite-Alexandru_Mel { background-position:-120px -120px; }
.sprite-Alin_Toca { background-position:-240px 0; }
.sprite-Bogdan_Stancu { background-position:-240px -120px; }
.sprite-Ciprian_Marica { background-position:0 -240px; }
.sprite-Ciprian_Ttruanu { background-position:-120px -240px; }
.sprite-Claudiu_Keeru { background-position:-240px -240px; }
.sprite-Cosmin_Moi { background-position:-360px 0; }
.sprite-Costel_Pantilimon { background-position:-360px -120px; }
.sprite-Cristian_Spunaru { background-position:-360px -240px; }
.sprite-Denis_Alibec { background-position:0 -360px; }
.sprite-Drago_Grigore { background-position:-120px -360px; }
.sprite-Adrian_Ropotan { background-position:-240px -360px; }
.sprite-Florin_Tnase { background-position:-360px -360px; }
.sprite-Gabriel_Torje { background-position:-480px 0; }
.sprite-Ioan_Hora { background-position:-480px -120px; }
.sprite-Lszl_Sepsi { background-position:-480px -240px; }
.sprite-Lucian_Snmrtean { background-position:-480px -360px; }
.sprite-Mihai_Pintilii { background-position:0 -480px; }
.sprite-Nicolae_Stanciu { background-position:-120px -480px; }
.sprite-Ovidiu_Hoban { background-position:-240px -480px; }
.sprite-Raul_Rusescu { background-position:-360px -480px; }
.sprite-Rzvan_Ra { background-position:-480px -480px; }
.sprite-Silviu_Lung { background-position:-600px 0; }
.sprite-Steliano_Filip { background-position:-600px -120px; }
.sprite-Valeric_Gman { background-position:-600px -240px; }
.sprite-Vlad_Chiriche { background-position:-600px -360px; }
