[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Romania-240.jpg'); background-size:120px 3480px; width:240px; height:240px; }
.sprite-Adrian_Popa { background-position:0 0; }
.sprite-Adrian_Ropotan { background-position:0 -120px; }
.sprite-Alexandru_Maxim { background-position:0 -240px; }
.sprite-Alexandru_Mel { background-position:0 -360px; }
.sprite-Alin_Toca { background-position:0 -480px; }
.sprite-Bogdan_Stancu { background-position:0 -600px; }
.sprite-Ciprian_Marica { background-position:0 -720px; }
.sprite-Ciprian_Ttruanu { background-position:0 -840px; }
.sprite-Claudiu_Keeru { background-position:0 -960px; }
.sprite-Cosmin_Moi { background-position:0 -1080px; }
.sprite-Costel_Pantilimon { background-position:0 -1200px; }
.sprite-Cristian_Spunaru { background-position:0 -1320px; }
.sprite-Denis_Alibec { background-position:0 -1440px; }
.sprite-Drago_Grigore { background-position:0 -1560px; }
.sprite-Florin_Andone { background-position:0 -1680px; }
.sprite-Florin_Tnase { background-position:0 -1800px; }
.sprite-Gabriel_Torje { background-position:0 -1920px; }
.sprite-Ioan_Hora { background-position:0 -2040px; }
.sprite-Lszl_Sepsi { background-position:0 -2160px; }
.sprite-Lucian_Snmrtean { background-position:0 -2280px; }
.sprite-Mihai_Pintilii { background-position:0 -2400px; }
.sprite-Nicolae_Stanciu { background-position:0 -2520px; }
.sprite-Ovidiu_Hoban { background-position:0 -2640px; }
.sprite-Raul_Rusescu { background-position:0 -2760px; }
.sprite-Rzvan_Ra { background-position:0 -2880px; }
.sprite-Silviu_Lung { background-position:0 -3000px; }
.sprite-Steliano_Filip { background-position:0 -3120px; }
.sprite-Valeric_Gman { background-position:0 -3240px; }
.sprite-Vlad_Chiriche { background-position:0 -3360px; }
