[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Romania-180.jpg'); background-size:540px 540px; width:180px; height:180px; }
.sprite-Drago_Grigore { background-position:0 0; }
.sprite-Adrian_Popa { background-position:-90px 0; }
.sprite-Alexandru_Chipciu { background-position:0 -90px; }
.sprite-Alexandru_Maxim { background-position:-90px -90px; }
.sprite-Alexandru_Mel { background-position:-180px 0; }
.sprite-Alin_Toca { background-position:-180px -90px; }
.sprite-Andrei_Prepeli { background-position:0 -180px; }
.sprite-Bogdan_Stancu { background-position:-90px -180px; }
.sprite-Ciprian_Marica { background-position:-180px -180px; }
.sprite-Ciprian_Ttruanu { background-position:-270px 0; }
.sprite-Claudiu_Keeru { background-position:-270px -90px; }
.sprite-Constantin_Budescu { background-position:-270px -180px; }
.sprite-Cosmin_Moi { background-position:0 -270px; }
.sprite-Costel_Pantilimon { background-position:-90px -270px; }
.sprite-Cristian_Spunaru { background-position:-180px -270px; }
.sprite-Denis_Alibec { background-position:-270px -270px; }
.sprite-Adrian_Ropotan { background-position:-360px 0; }
.sprite-Florin_Andone { background-position:-360px -90px; }
.sprite-Florin_Tnase { background-position:-360px -180px; }
.sprite-Gabriel_Torje { background-position:-360px -270px; }
.sprite-Ioan_Hora { background-position:0 -360px; }
.sprite-Lszl_Sepsi { background-position:-90px -360px; }
.sprite-Lucian_Snmrtean { background-position:-180px -360px; }
.sprite-Mihai_Pintilii { background-position:-270px -360px; }
.sprite-Nicolae_Stanciu { background-position:-360px -360px; }
.sprite-Ovidiu_Hoban { background-position:-450px 0; }
.sprite-Raul_Rusescu { background-position:-450px -90px; }
.sprite-Rzvan_Ra { background-position:-450px -180px; }
.sprite-Silviu_Lung { background-position:-450px -270px; }
.sprite-Steliano_Filip { background-position:-450px -360px; }
.sprite-Valeric_Gman { background-position:0 -450px; }
.sprite-Vlad_Chiriche { background-position:-90px -450px; }
