[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Romania-180.jpg'); background-size:90px 2610px; width:180px; height:180px; }
.sprite-Adrian_Popa { background-position:0 0; }
.sprite-Adrian_Ropotan { background-position:0 -90px; }
.sprite-Alexandru_Maxim { background-position:0 -180px; }
.sprite-Alexandru_Mel { background-position:0 -270px; }
.sprite-Alin_Toca { background-position:0 -360px; }
.sprite-Bogdan_Stancu { background-position:0 -450px; }
.sprite-Ciprian_Marica { background-position:0 -540px; }
.sprite-Ciprian_Ttruanu { background-position:0 -630px; }
.sprite-Claudiu_Keeru { background-position:0 -720px; }
.sprite-Cosmin_Moi { background-position:0 -810px; }
.sprite-Costel_Pantilimon { background-position:0 -900px; }
.sprite-Cristian_Spunaru { background-position:0 -990px; }
.sprite-Denis_Alibec { background-position:0 -1080px; }
.sprite-Drago_Grigore { background-position:0 -1170px; }
.sprite-Florin_Andone { background-position:0 -1260px; }
.sprite-Florin_Tnase { background-position:0 -1350px; }
.sprite-Gabriel_Torje { background-position:0 -1440px; }
.sprite-Ioan_Hora { background-position:0 -1530px; }
.sprite-Lszl_Sepsi { background-position:0 -1620px; }
.sprite-Lucian_Snmrtean { background-position:0 -1710px; }
.sprite-Mihai_Pintilii { background-position:0 -1800px; }
.sprite-Nicolae_Stanciu { background-position:0 -1890px; }
.sprite-Ovidiu_Hoban { background-position:0 -1980px; }
.sprite-Raul_Rusescu { background-position:0 -2070px; }
.sprite-Rzvan_Ra { background-position:0 -2160px; }
.sprite-Silviu_Lung { background-position:0 -2250px; }
.sprite-Steliano_Filip { background-position:0 -2340px; }
.sprite-Valeric_Gman { background-position:0 -2430px; }
.sprite-Vlad_Chiriche { background-position:0 -2520px; }
