[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Russia-240.jpg'); background-size:600px 600px; width:240px; height:240px; }
.sprite-Igor_Akinfeev { background-position:0 0; }
.sprite-Aleksandr_Kokorin { background-position:-120px 0; }
.sprite-Alexander_Golovin { background-position:0 -120px; }
.sprite-Alexander_Samedov { background-position:-120px -120px; }
.sprite-Artyom_Dzyuba { background-position:-240px 0; }
.sprite-Denis_Glushakov { background-position:-240px -120px; }
.sprite-Dmitri_Kombarov { background-position:0 -240px; }
.sprite-Dmitri_Torbinsky { background-position:-120px -240px; }
.sprite-Fyodor_Smolov { background-position:-240px -240px; }
.sprite-Georgi_Schennikov { background-position:-360px 0; }
.sprite-Guilherme { background-position:-360px -120px; }
.sprite-Aleksei_Berezutski { background-position:-360px -240px; }
.sprite-Igor_Denisov { background-position:0 -360px; }
.sprite-Igor_Smolnikov { background-position:-120px -360px; }
.sprite-Oleg_Ivanov { background-position:-240px -360px; }
.sprite-Oleg_Shatov { background-position:-360px -360px; }
.sprite-Pavel_Mamaev { background-position:-480px 0; }
.sprite-Roman_Neustdter { background-position:-480px -120px; }
.sprite-Roman_Shirokov { background-position:-480px -240px; }
.sprite-Roman_Shishkin { background-position:-480px -360px; }
.sprite-Sergei_Ignashevich { background-position:0 -480px; }
.sprite-Vasili_Berezutski { background-position:-120px -480px; }
.sprite-Yuri_Lodygin { background-position:-240px -480px; }
