[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Russia-180.jpg'); background-size:540px 450px; width:180px; height:180px; }
.sprite-Guilherme { background-position:0 0; }
.sprite-Alan_Dzagoev { background-position:-90px 0; }
.sprite-Aleksandr_Kokorin { background-position:0 -90px; }
.sprite-Aleksei_Berezutski { background-position:-90px -90px; }
.sprite-Alexander_Golovin { background-position:-180px 0; }
.sprite-Alexander_Samedov { background-position:-180px -90px; }
.sprite-Alexey_Ionov { background-position:0 -180px; }
.sprite-Artur_Yusupov { background-position:-90px -180px; }
.sprite-Artyom_Dzyuba { background-position:-180px -180px; }
.sprite-Denis_Cheryshev { background-position:-270px 0; }
.sprite-Denis_Glushakov { background-position:-270px -90px; }
.sprite-Dmitri_Kombarov { background-position:-270px -180px; }
.sprite-Dmitri_Tarasov { background-position:0 -270px; }
.sprite-Dmitri_Torbinsky { background-position:-90px -270px; }
.sprite-Aleksandr_Kerzhakov { background-position:-180px -270px; }
.sprite-Igor_Akinfeev { background-position:-270px -270px; }
.sprite-Igor_Denisov { background-position:-360px 0; }
.sprite-Igor_Smolnikov { background-position:-360px -90px; }
.sprite-Oleg_Ivanov { background-position:-360px -180px; }
.sprite-Oleg_Kuzmin { background-position:-360px -270px; }
.sprite-Oleg_Shatov { background-position:0 -360px; }
.sprite-Pavel_Mamaev { background-position:-90px -360px; }
.sprite-Roman_Neustdter { background-position:-180px -360px; }
.sprite-Roman_Shirokov { background-position:-270px -360px; }
.sprite-Sergei_Ignashevich { background-position:-360px -360px; }
.sprite-Stanislav_Kritsyuk { background-position:-450px 0; }
.sprite-Vasili_Berezutsk { background-position:-450px -90px; }
.sprite-Yuri_Lodygin { background-position:-450px -180px; }
.sprite-Yuri_Zhirkov { background-position:-450px -270px; }
