[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Russia-260.jpg'); background-size:650px 650px; width:260px; height:260px; }
.sprite-Guilherme { background-position:0 0; }
.sprite-Aleksandr_Kokorin { background-position:-130px 0; }
.sprite-Alexander_Golovin { background-position:0 -130px; }
.sprite-Alexander_Samedov { background-position:-130px -130px; }
.sprite-Artur_Yusupov { background-position:-260px 0; }
.sprite-Artyom_Dzyuba { background-position:-260px -130px; }
.sprite-Denis_Glushakov { background-position:0 -260px; }
.sprite-Dmitri_Kombarov { background-position:-130px -260px; }
.sprite-Dmitri_Torbinsky { background-position:-260px -260px; }
.sprite-Fyodor_Smolov { background-position:-390px 0; }
.sprite-Georgi_Schennikov { background-position:-390px -130px; }
.sprite-Aleksei_Berezutski { background-position:-390px -260px; }
.sprite-Igor_Akinfeev { background-position:0 -390px; }
.sprite-Igor_Smolnikov { background-position:-130px -390px; }
.sprite-Oleg_Ivanov { background-position:-260px -390px; }
.sprite-Oleg_Shatov { background-position:-390px -390px; }
.sprite-Pavel_Mamaev { background-position:-520px 0; }
.sprite-Roman_Neustdter { background-position:-520px -130px; }
.sprite-Roman_Shirokov { background-position:-520px -260px; }
.sprite-Roman_Shishkin { background-position:-520px -390px; }
.sprite-Sergei_Ignashevich { background-position:0 -520px; }
.sprite-Vasili_Berezutski { background-position:-130px -520px; }
.sprite-Yuri_Lodygin { background-position:-260px -520px; }
