[class^='sprite-'], [class*=' sprite-'] { background-image:url('../img/Russia-240.jpg'); background-size:120px 3480px; width:240px; height:240px; }
.sprite-Alan_Dzagoev { background-position:0 0; }
.sprite-Aleksandr_Kerzhakov { background-position:0 -120px; }
.sprite-Aleksandr_Kokorin { background-position:0 -240px; }
.sprite-Aleksei_Berezutski { background-position:0 -360px; }
.sprite-Alexander_Golovin { background-position:0 -480px; }
.sprite-Alexander_Samedov { background-position:0 -600px; }
.sprite-Alexey_Ionov { background-position:0 -720px; }
.sprite-Artur_Yusupov { background-position:0 -840px; }
.sprite-Artyom_Dzyuba { background-position:0 -960px; }
.sprite-Denis_Cheryshev { background-position:0 -1080px; }
.sprite-Denis_Glushakov { background-position:0 -1200px; }
.sprite-Dmitri_Kombarov { background-position:0 -1320px; }
.sprite-Dmitri_Tarasov { background-position:0 -1440px; }
.sprite-Dmitri_Torbinsky { background-position:0 -1560px; }
.sprite-Guilherme { background-position:0 -1680px; }
.sprite-Igor_Akinfeev { background-position:0 -1800px; }
.sprite-Igor_Denisov { background-position:0 -1920px; }
.sprite-Igor_Smolnikov { background-position:0 -2040px; }
.sprite-Oleg_Ivanov { background-position:0 -2160px; }
.sprite-Oleg_Kuzmin { background-position:0 -2280px; }
.sprite-Oleg_Shatov { background-position:0 -2400px; }
.sprite-Pavel_Mamaev { background-position:0 -2520px; }
.sprite-Roman_Neustdter { background-position:0 -2640px; }
.sprite-Roman_Shirokov { background-position:0 -2760px; }
.sprite-Sergei_Ignashevich { background-position:0 -2880px; }
.sprite-Stanislav_Kritsyuk { background-position:0 -3000px; }
.sprite-Vasili_Berezutsk { background-position:0 -3120px; }
.sprite-Yuri_Lodygin { background-position:0 -3240px; }
.sprite-Yuri_Zhirkov { background-position:0 -3360px; }
