[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Slovakia-240.jpg'); background-size:600px 600px; width:240px; height:240px; }
.sprite-Michal_uri { background-position:0 0; }
.sprite-Adam_Nemec { background-position:-120px 0; }
.sprite-Jn_Gregu { background-position:0 -120px; }
.sprite-Jn_Mucha { background-position:-120px -120px; }
.sprite-Jn_Novota { background-position:-240px 0; }
.sprite-Jn_urica { background-position:-240px -120px; }
.sprite-Juraj_Kucka { background-position:0 -240px; }
.sprite-Kornel_Salta { background-position:-120px -240px; }
.sprite-Marek_Hamk { background-position:-240px -240px; }
.sprite-Martin_krtel { background-position:-360px 0; }
.sprite-Mat_Kozik { background-position:-360px -120px; }
.sprite-Duan_vento { background-position:-360px -240px; }
.sprite-Milan_kriniar { background-position:0 -360px; }
.sprite-Miroslav_Stoch { background-position:-120px -360px; }
.sprite-Nrbert_Gymbr { background-position:-240px -360px; }
.sprite-Ondrej_Duda { background-position:-360px -360px; }
.sprite-Patrik_Hroovsk { background-position:-480px 0; }
.sprite-Peter_Pekark { background-position:-480px -120px; }
.sprite-Rbert_Mak { background-position:-480px -240px; }
.sprite-Stanislav_estk { background-position:-480px -360px; }
.sprite-Tom_Huboan { background-position:0 -480px; }
.sprite-Viktor_Peovsk { background-position:-120px -480px; }
.sprite-Vladimr_Weiss { background-position:-240px -480px; }
