[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Slovakia-260.jpg'); background-size:780px 650px; width:260px; height:260px; }
.sprite-Mat_Bero { background-position:0 0; }
.sprite-Adam_Nemec { background-position:-130px 0; }
.sprite-Duan_vento { background-position:0 -130px; }
.sprite-Erik_Sabo { background-position:-130px -130px; }
.sprite-Jn_Gregu { background-position:-260px 0; }
.sprite-Jn_Mucha { background-position:-260px -130px; }
.sprite-Jn_Novota { background-position:0 -260px; }
.sprite-Jn_urica { background-position:-130px -260px; }
.sprite-Juraj_Kucka { background-position:-260px -260px; }
.sprite-Kornel_Salta { background-position:-390px 0; }
.sprite-Luk_Tesk { background-position:-390px -130px; }
.sprite-Marek_Hamk { background-position:-390px -260px; }
.sprite-Martin_Dbravka { background-position:0 -390px; }
.sprite-Martin_Jakubko { background-position:-130px -390px; }
.sprite-Martin_krtel { background-position:-260px -390px; }
.sprite-Adam_Zrek { background-position:-390px -390px; }
.sprite-Mat_Kozik { background-position:-520px 0; }
.sprite-Michal_uri { background-position:-520px -130px; }
.sprite-Miroslav_Stoch { background-position:-520px -260px; }
.sprite-Nrbert_Gymbr { background-position:-520px -390px; }
.sprite-Ondrej_Duda { background-position:0 -520px; }
.sprite-Patrik_Hroovsk { background-position:-130px -520px; }
.sprite-Peter_Pekark { background-position:-260px -520px; }
.sprite-Rbert_Mak { background-position:-390px -520px; }
.sprite-Rbert_Vittek { background-position:-520px -520px; }
.sprite-Stanislav_estk { background-position:-650px 0; }
.sprite-Tom_Huboan { background-position:-650px -130px; }
.sprite-ubomr_Michalk { background-position:-650px -260px; }
.sprite-Viktor_Peovsk { background-position:-650px -390px; }
.sprite-Vladimr_Weiss { background-position:-650px -520px; }
