[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Spain-260.jpg'); background-size:650px 650px; width:260px; height:260px; }
.sprite-Juanfran { background-position:0 0; }
.sprite-Andrs_Iniesta { background-position:-130px 0; }
.sprite-Bruno_Soriano { background-position:0 -130px; }
.sprite-Cesc_Fbregas { background-position:-130px -130px; }
.sprite-Csar_Azpilicueta { background-position:-260px 0; }
.sprite-David_de_Gea { background-position:-260px -130px; }
.sprite-David_Silva { background-position:0 -260px; }
.sprite-Gerard_Piqu { background-position:-130px -260px; }
.sprite-Hctor_Bellern { background-position:-260px -260px; }
.sprite-Iker_Casillas { background-position:-390px 0; }
.sprite-Jordi_Alba { background-position:-390px -130px; }
.sprite-Aritz_Aduriz { background-position:-390px -260px; }
.sprite-Koke { background-position:0 -390px; }
.sprite-Lucas_Vzquez { background-position:-130px -390px; }
.sprite-lvaro_Morata { background-position:-260px -390px; }
.sprite-Marc_Bartra { background-position:-390px -390px; }
.sprite-Mikel_San_Jos { background-position:-520px 0; }
.sprite-Nolito { background-position:-520px -130px; }
.sprite-Pedro { background-position:-520px -260px; }
.sprite-Sergio_Busquets { background-position:-520px -390px; }
.sprite-Sergio_Ramos { background-position:0 -520px; }
.sprite-Sergio_Rico { background-position:-130px -520px; }
.sprite-Thiago_Alcntara { background-position:-260px -520px; }
