[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Sweden-240.jpg'); background-size:720px 600px; width:240px; height:240px; }
.sprite-Ludwig_Augustinsson { background-position:0 0; }
.sprite-Abdulrahman_Khalili { background-position:-120px 0; }
.sprite-Alexander_Milosevic { background-position:0 -120px; }
.sprite-Andreas_Granqvist { background-position:-120px -120px; }
.sprite-Andreas_Isaksson { background-position:-240px 0; }
.sprite-Emil_Forsberg { background-position:-240px -120px; }
.sprite-Emil_Salomonsson { background-position:0 -240px; }
.sprite-Erik_Johansson { background-position:-120px -240px; }
.sprite-Erkan_Zengin { background-position:-240px -240px; }
.sprite-Filip_Helander { background-position:-360px 0; }
.sprite-Jimmy_Durmaz { background-position:-360px -120px; }
.sprite-John_Guidetti { background-position:-360px -240px; }
.sprite-Kim_Kllstrm { background-position:0 -360px; }
.sprite-Kristoffer_Nordfeldt { background-position:-120px -360px; }
.sprite-Albin_Ekdal { background-position:-240px -360px; }
.sprite-Marcus_Berg { background-position:-360px -360px; }
.sprite-Martin_Olsson { background-position:-480px 0; }
.sprite-Mikael_Antonsson { background-position:-480px -120px; }
.sprite-Mikael_Lustig { background-position:-480px -240px; }
.sprite-Oscar_Hiljemark { background-position:-480px -360px; }
.sprite-Oscar_Lewicki { background-position:0 -480px; }
.sprite-Patrik_Carlgren { background-position:-120px -480px; }
.sprite-Pierre_Bengtsson { background-position:-240px -480px; }
.sprite-Pontus_Wernbloom { background-position:-360px -480px; }
.sprite-Rasmus_Elm { background-position:-480px -480px; }
.sprite-Robin_Olsen { background-position:-600px 0; }
.sprite-Sebastian_Larsson { background-position:-600px -120px; }
.sprite-Victor_Nilsson_Lindelf { background-position:-600px -240px; }
