[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Sweden-180.jpg'); background-size:540px 450px; width:180px; height:180px; }
.sprite-Ludwig_Augustinsson { background-position:0 0; }
.sprite-Abdulrahman_Khalili { background-position:-90px 0; }
.sprite-Alexander_Milosevic { background-position:0 -90px; }
.sprite-Andreas_Granqvist { background-position:-90px -90px; }
.sprite-Andreas_Isaksson { background-position:-180px 0; }
.sprite-Emil_Forsberg { background-position:-180px -90px; }
.sprite-Emil_Salomonsson { background-position:0 -180px; }
.sprite-Erik_Johansson { background-position:-90px -180px; }
.sprite-Erkan_Zengin { background-position:-180px -180px; }
.sprite-Filip_Helander { background-position:-270px 0; }
.sprite-Jimmy_Durmaz { background-position:-270px -90px; }
.sprite-John_Guidetti { background-position:-270px -180px; }
.sprite-Kim_Kllstrm { background-position:0 -270px; }
.sprite-Kristoffer_Nordfeldt { background-position:-90px -270px; }
.sprite-Albin_Ekdal { background-position:-180px -270px; }
.sprite-Marcus_Berg { background-position:-270px -270px; }
.sprite-Martin_Olsson { background-position:-360px 0; }
.sprite-Mikael_Antonsson { background-position:-360px -90px; }
.sprite-Mikael_Lustig { background-position:-360px -180px; }
.sprite-Oscar_Hiljemark { background-position:-360px -270px; }
.sprite-Oscar_Lewicki { background-position:0 -360px; }
.sprite-Patrik_Carlgren { background-position:-90px -360px; }
.sprite-Pierre_Bengtsson { background-position:-180px -360px; }
.sprite-Pontus_Wernbloom { background-position:-270px -360px; }
.sprite-Rasmus_Elm { background-position:-360px -360px; }
.sprite-Robin_Olsen { background-position:-450px 0; }
.sprite-Sebastian_Larsson { background-position:-450px -90px; }
.sprite-Victor_Nilsson_Lindelf { background-position:-450px -180px; }
