[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Sweden-260.jpg'); background-size:780px 650px; width:260px; height:260px; }
.sprite-Ludwig_Augustinsson { background-position:0 0; }
.sprite-Abdulrahman_Khalili { background-position:-130px 0; }
.sprite-Alexander_Milosevic { background-position:0 -130px; }
.sprite-Andreas_Granqvist { background-position:-130px -130px; }
.sprite-Andreas_Isaksson { background-position:-260px 0; }
.sprite-Emil_Forsberg { background-position:-260px -130px; }
.sprite-Emil_Salomonsson { background-position:0 -260px; }
.sprite-Erik_Johansson { background-position:-130px -260px; }
.sprite-Erkan_Zengin { background-position:-260px -260px; }
.sprite-Filip_Helander { background-position:-390px 0; }
.sprite-Jimmy_Durmaz { background-position:-390px -130px; }
.sprite-John_Guidetti { background-position:-390px -260px; }
.sprite-Kim_Kllstrm { background-position:0 -390px; }
.sprite-Kristoffer_Nordfeldt { background-position:-130px -390px; }
.sprite-Albin_Ekdal { background-position:-260px -390px; }
.sprite-Marcus_Berg { background-position:-390px -390px; }
.sprite-Martin_Olsson { background-position:-520px 0; }
.sprite-Mikael_Antonsson { background-position:-520px -130px; }
.sprite-Mikael_Lustig { background-position:-520px -260px; }
.sprite-Oscar_Hiljemark { background-position:-520px -390px; }
.sprite-Oscar_Lewicki { background-position:0 -520px; }
.sprite-Patrik_Carlgren { background-position:-130px -520px; }
.sprite-Pierre_Bengtsson { background-position:-260px -520px; }
.sprite-Pontus_Wernbloom { background-position:-390px -520px; }
.sprite-Rasmus_Elm { background-position:-520px -520px; }
.sprite-Robin_Olsen { background-position:-650px 0; }
.sprite-Sebastian_Larsson { background-position:-650px -130px; }
.sprite-Victor_Nilsson_Lindelf { background-position:-650px -260px; }
