[class^='sprite-'], [class*=' sprite-'] { background-image:url('../img/Sweden-260.jpg'); background-size:130px 3640px; width:260px; height:260px; }
.sprite-Abdulrahman_Khalili { background-position:0 0; }
.sprite-Albin_Ekdal { background-position:0 -130px; }
.sprite-Alexander_Milosevic { background-position:0 -260px; }
.sprite-Andreas_Granqvist { background-position:0 -390px; }
.sprite-Andreas_Isaksson { background-position:0 -520px; }
.sprite-Emil_Forsberg { background-position:0 -650px; }
.sprite-Emil_Salomonsson { background-position:0 -780px; }
.sprite-Erik_Johansson { background-position:0 -910px; }
.sprite-Erkan_Zengin { background-position:0 -1040px; }
.sprite-Filip_Helander { background-position:0 -1170px; }
.sprite-Jimmy_Durmaz { background-position:0 -1300px; }
.sprite-John_Guidetti { background-position:0 -1430px; }
.sprite-Kim_Kllstrm { background-position:0 -1560px; }
.sprite-Kristoffer_Nordfeldt { background-position:0 -1690px; }
.sprite-Ludwig_Augustinsson { background-position:0 -1820px; }
.sprite-Marcus_Berg { background-position:0 -1950px; }
.sprite-Martin_Olsson { background-position:0 -2080px; }
.sprite-Mikael_Antonsson { background-position:0 -2210px; }
.sprite-Mikael_Lustig { background-position:0 -2340px; }
.sprite-Oscar_Hiljemark { background-position:0 -2470px; }
.sprite-Oscar_Lewicki { background-position:0 -2600px; }
.sprite-Patrik_Carlgren { background-position:0 -2730px; }
.sprite-Pierre_Bengtsson { background-position:0 -2860px; }
.sprite-Pontus_Wernbloom { background-position:0 -2990px; }
.sprite-Rasmus_Elm { background-position:0 -3120px; }
.sprite-Robin_Olsen { background-position:0 -3250px; }
.sprite-Sebastian_Larsson { background-position:0 -3380px; }
.sprite-Victor_Nilsson_Lindelf { background-position:0 -3510px; }
