[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Sweden-240.jpg'); background-size:120px 3360px; width:240px; height:240px; }
.sprite-Abdulrahman_Khalili { background-position:0 0; }
.sprite-Albin_Ekdal { background-position:0 -120px; }
.sprite-Alexander_Milosevic { background-position:0 -240px; }
.sprite-Andreas_Granqvist { background-position:0 -360px; }
.sprite-Andreas_Isaksson { background-position:0 -480px; }
.sprite-Emil_Forsberg { background-position:0 -600px; }
.sprite-Emil_Salomonsson { background-position:0 -720px; }
.sprite-Erik_Johansson { background-position:0 -840px; }
.sprite-Erkan_Zengin { background-position:0 -960px; }
.sprite-Filip_Helander { background-position:0 -1080px; }
.sprite-Jimmy_Durmaz { background-position:0 -1200px; }
.sprite-John_Guidetti { background-position:0 -1320px; }
.sprite-Kim_Kllstrm { background-position:0 -1440px; }
.sprite-Kristoffer_Nordfeldt { background-position:0 -1560px; }
.sprite-Ludwig_Augustinsson { background-position:0 -1680px; }
.sprite-Marcus_Berg { background-position:0 -1800px; }
.sprite-Martin_Olsson { background-position:0 -1920px; }
.sprite-Mikael_Antonsson { background-position:0 -2040px; }
.sprite-Mikael_Lustig { background-position:0 -2160px; }
.sprite-Oscar_Hiljemark { background-position:0 -2280px; }
.sprite-Oscar_Lewicki { background-position:0 -2400px; }
.sprite-Patrik_Carlgren { background-position:0 -2520px; }
.sprite-Pierre_Bengtsson { background-position:0 -2640px; }
.sprite-Pontus_Wernbloom { background-position:0 -2760px; }
.sprite-Rasmus_Elm { background-position:0 -2880px; }
.sprite-Robin_Olsen { background-position:0 -3000px; }
.sprite-Sebastian_Larsson { background-position:0 -3120px; }
.sprite-Victor_Nilsson_Lindelf { background-position:0 -3240px; }
