[class^='sprite-'], [class*=' sprite-'] { background-image:url('../img/Sweden-180.jpg'); background-size:90px 2520px; width:180px; height:180px; }
.sprite-Abdulrahman_Khalili { background-position:0 0; }
.sprite-Albin_Ekdal { background-position:0 -90px; }
.sprite-Alexander_Milosevic { background-position:0 -180px; }
.sprite-Andreas_Granqvist { background-position:0 -270px; }
.sprite-Andreas_Isaksson { background-position:0 -360px; }
.sprite-Emil_Forsberg { background-position:0 -450px; }
.sprite-Emil_Salomonsson { background-position:0 -540px; }
.sprite-Erik_Johansson { background-position:0 -630px; }
.sprite-Erkan_Zengin { background-position:0 -720px; }
.sprite-Filip_Helander { background-position:0 -810px; }
.sprite-Jimmy_Durmaz { background-position:0 -900px; }
.sprite-John_Guidetti { background-position:0 -990px; }
.sprite-Kim_Kllstrm { background-position:0 -1080px; }
.sprite-Kristoffer_Nordfeldt { background-position:0 -1170px; }
.sprite-Ludwig_Augustinsson { background-position:0 -1260px; }
.sprite-Marcus_Berg { background-position:0 -1350px; }
.sprite-Martin_Olsson { background-position:0 -1440px; }
.sprite-Mikael_Antonsson { background-position:0 -1530px; }
.sprite-Mikael_Lustig { background-position:0 -1620px; }
.sprite-Oscar_Hiljemark { background-position:0 -1710px; }
.sprite-Oscar_Lewicki { background-position:0 -1800px; }
.sprite-Patrik_Carlgren { background-position:0 -1890px; }
.sprite-Pierre_Bengtsson { background-position:0 -1980px; }
.sprite-Pontus_Wernbloom { background-position:0 -2070px; }
.sprite-Rasmus_Elm { background-position:0 -2160px; }
.sprite-Robin_Olsen { background-position:0 -2250px; }
.sprite-Sebastian_Larsson { background-position:0 -2340px; }
.sprite-Victor_Nilsson_Lindelf { background-position:0 -2430px; }
