[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Switzerland-260.jpg'); background-size:650px 650px; width:260px; height:260px; }
.sprite-Johan_Djourou { background-position:0 0; }
.sprite-Admir_Mehmedi { background-position:-130px 0; }
.sprite-Breel_Embolo { background-position:0 -130px; }
.sprite-Denis_Zakaria { background-position:-130px -130px; }
.sprite-Eren_Derdiyok { background-position:-260px 0; }
.sprite-Fabian_Frei { background-position:-260px -130px; }
.sprite-Fabian_Schr { background-position:0 -260px; }
.sprite-Glson_Fernandes { background-position:-130px -260px; }
.sprite-Granit_Xhaka { background-position:-260px -260px; }
.sprite-Haris_Seferovi { background-position:-390px 0; }
.sprite-Jacques_Franois_Moubandje { background-position:-390px -130px; }
.sprite-Blerim_Dzemaili { background-position:-390px -260px; }
.sprite-Marwin_Hitz { background-position:0 -390px; }
.sprite-Michael_Lang { background-position:-130px -390px; }
.sprite-Nico_Elvedi { background-position:-260px -390px; }
.sprite-Ricardo_Rodrguez { background-position:-390px -390px; }
.sprite-Roman_Brki { background-position:-520px 0; }
.sprite-Shani_Tarashaj { background-position:-520px -130px; }
.sprite-Stephan_Lichtsteiner { background-position:-520px -260px; }
.sprite-Steve_von_Bergen { background-position:-520px -390px; }
.sprite-Valon_Behrami { background-position:0 -520px; }
.sprite-Xherdan_Shaqiri { background-position:-130px -520px; }
.sprite-Yann_Sommer { background-position:-260px -520px; }
