[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Switzerland-180.jpg'); background-size:450px 450px; width:180px; height:180px; }
.sprite-Johan_Djourou { background-position:0 0; }
.sprite-Admir_Mehmedi { background-position:-90px 0; }
.sprite-Breel_Embolo { background-position:0 -90px; }
.sprite-Denis_Zakaria { background-position:-90px -90px; }
.sprite-Eren_Derdiyok { background-position:-180px 0; }
.sprite-Fabian_Frei { background-position:-180px -90px; }
.sprite-Fabian_Schr { background-position:0 -180px; }
.sprite-Glson_Fernandes { background-position:-90px -180px; }
.sprite-Granit_Xhaka { background-position:-180px -180px; }
.sprite-Haris_Seferovi { background-position:-270px 0; }
.sprite-Jacques_Franois_Moubandje { background-position:-270px -90px; }
.sprite-Blerim_Dzemaili { background-position:-270px -180px; }
.sprite-Marwin_Hitz { background-position:0 -270px; }
.sprite-Michael_Lang { background-position:-90px -270px; }
.sprite-Nico_Elvedi { background-position:-180px -270px; }
.sprite-Ricardo_Rodrguez { background-position:-270px -270px; }
.sprite-Roman_Brki { background-position:-360px 0; }
.sprite-Shani_Tarashaj { background-position:-360px -90px; }
.sprite-Stephan_Lichtsteiner { background-position:-360px -180px; }
.sprite-Steve_von_Bergen { background-position:-360px -270px; }
.sprite-Valon_Behrami { background-position:0 -360px; }
.sprite-Xherdan_Shaqiri { background-position:-90px -360px; }
.sprite-Yann_Sommer { background-position:-180px -360px; }
