[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Switzerland-240.jpg'); background-size:600px 600px; width:240px; height:240px; }
.sprite-Johan_Djourou { background-position:0 0; }
.sprite-Admir_Mehmedi { background-position:-120px 0; }
.sprite-Breel_Embolo { background-position:0 -120px; }
.sprite-Denis_Zakaria { background-position:-120px -120px; }
.sprite-Eren_Derdiyok { background-position:-240px 0; }
.sprite-Fabian_Frei { background-position:-240px -120px; }
.sprite-Fabian_Schr { background-position:0 -240px; }
.sprite-Glson_Fernandes { background-position:-120px -240px; }
.sprite-Granit_Xhaka { background-position:-240px -240px; }
.sprite-Haris_Seferovi { background-position:-360px 0; }
.sprite-Jacques_Franois_Moubandje { background-position:-360px -120px; }
.sprite-Blerim_Dzemaili { background-position:-360px -240px; }
.sprite-Marwin_Hitz { background-position:0 -360px; }
.sprite-Michael_Lang { background-position:-120px -360px; }
.sprite-Nico_Elvedi { background-position:-240px -360px; }
.sprite-Ricardo_Rodrguez { background-position:-360px -360px; }
.sprite-Roman_Brki { background-position:-480px 0; }
.sprite-Shani_Tarashaj { background-position:-480px -120px; }
.sprite-Stephan_Lichtsteiner { background-position:-480px -240px; }
.sprite-Steve_von_Bergen { background-position:-480px -360px; }
.sprite-Valon_Behrami { background-position:0 -480px; }
.sprite-Xherdan_Shaqiri { background-position:-120px -480px; }
.sprite-Yann_Sommer { background-position:-240px -480px; }
