[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Turkey-260.jpg'); background-size:780px 780px; width:260px; height:260px; }
.sprite-Mehmet_Topal { background-position:0 0; }
.sprite-Ahmet_alk { background-position:-130px 0; }
.sprite-Ali_aal_Vural { background-position:0 -130px; }
.sprite-Alper_Potuk { background-position:-130px -130px; }
.sprite-Arda_Turan { background-position:-260px 0; }
.sprite-Burak_Ylmaz { background-position:-260px -130px; }
.sprite-Caner_Erkin { background-position:0 -260px; }
.sprite-Cenk_Tosun { background-position:-130px -260px; }
.sprite-Emre_Mor { background-position:-260px -260px; }
.sprite-ener_zbayrakl { background-position:-390px 0; }
.sprite-Gkhan_Gnl { background-position:-390px -130px; }
.sprite-Gkhan_Tre { background-position:-390px -260px; }
.sprite-Hakan_alhanolu { background-position:0 -390px; }
.sprite-Hakan_Kadir_Balta { background-position:-130px -390px; }
.sprite-Harun_Tekin { background-position:-260px -390px; }
.sprite-Mahmut_Tekdemir { background-position:-390px -390px; }
.sprite-alar_Sync { background-position:-520px 0; }
.sprite-mer_Toprak { background-position:-520px -130px; }
.sprite-Mevlt_Erdin { background-position:-520px -260px; }
.sprite-Nuri_ahin { background-position:-520px -390px; }
.sprite-Olcay_ahan { background-position:0 -520px; }
.sprite-Onur_Kivrak { background-position:-130px -520px; }
.sprite-Ouzhan_zyakup { background-position:-260px -520px; }
.sprite-Ozan_Tufan { background-position:-390px -520px; }
.sprite-Seluk_nan { background-position:-520px -520px; }
.sprite-Semih_Kaya { background-position:-650px 0; }
.sprite-Serdar_Aziz { background-position:-650px -130px; }
.sprite-smail_Kyba { background-position:-650px -260px; }
.sprite-Volkan_Babacan { background-position:-650px -390px; }
.sprite-Volkan_en { background-position:-650px -520px; }
.sprite-Yasin_ztekin { background-position:0 -650px; }
.sprite-Yunus_Mall { background-position:-130px -650px; }
