[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Turkey-260.jpg'); background-size:650px 650px; width:260px; height:260px; }
.sprite-Mehmet_Topal { background-position:0 0; }
.sprite-Ahmet_alk { background-position:-130px 0; }
.sprite-Burak_Ylmaz { background-position:0 -130px; }
.sprite-Caner_Erkin { background-position:-130px -130px; }
.sprite-Cenk_Tosun { background-position:-260px 0; }
.sprite-Emre_Mor { background-position:-260px -130px; }
.sprite-ener_zbayrakl { background-position:0 -260px; }
.sprite-Gkhan_Gnl { background-position:-130px -260px; }
.sprite-Hakan_alhanolu { background-position:-260px -260px; }
.sprite-Hakan_Kadir_Balta { background-position:-390px 0; }
.sprite-Harun_Tekin { background-position:-390px -130px; }
.sprite-Arda_Turan { background-position:-390px -260px; }
.sprite-Nuri_ahin { background-position:0 -390px; }
.sprite-Olcay_ahan { background-position:-130px -390px; }
.sprite-Onur_Kvrak { background-position:-260px -390px; }
.sprite-Ouzhan_zyakup { background-position:-390px -390px; }
.sprite-Ozan_Tufan { background-position:-520px 0; }
.sprite-Seluk_nan { background-position:-520px -130px; }
.sprite-Semih_Kaya { background-position:-520px -260px; }
.sprite-smail_Kyba { background-position:-520px -390px; }
.sprite-Volkan_Babacan { background-position:0 -520px; }
.sprite-Volkan_en { background-position:-130px -520px; }
.sprite-Yunus_Mall { background-position:-260px -520px; }
