[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Turkey-180.jpg'); background-size:450px 450px; width:180px; height:180px; }
.sprite-Mehmet_Topal { background-position:0 0; }
.sprite-Ahmet_alk { background-position:-90px 0; }
.sprite-Burak_Ylmaz { background-position:0 -90px; }
.sprite-Caner_Erkin { background-position:-90px -90px; }
.sprite-Cenk_Tosun { background-position:-180px 0; }
.sprite-Emre_Mor { background-position:-180px -90px; }
.sprite-ener_zbayrakl { background-position:0 -180px; }
.sprite-Gkhan_Gnl { background-position:-90px -180px; }
.sprite-Hakan_alhanolu { background-position:-180px -180px; }
.sprite-Hakan_Kadir_Balta { background-position:-270px 0; }
.sprite-Harun_Tekin { background-position:-270px -90px; }
.sprite-Arda_Turan { background-position:-270px -180px; }
.sprite-Nuri_ahin { background-position:0 -270px; }
.sprite-Olcay_ahan { background-position:-90px -270px; }
.sprite-Onur_Kvrak { background-position:-180px -270px; }
.sprite-Ouzhan_zyakup { background-position:-270px -270px; }
.sprite-Ozan_Tufan { background-position:-360px 0; }
.sprite-Seluk_nan { background-position:-360px -90px; }
.sprite-Semih_Kaya { background-position:-360px -180px; }
.sprite-smail_Kyba { background-position:-360px -270px; }
.sprite-Volkan_Babacan { background-position:0 -360px; }
.sprite-Volkan_en { background-position:-90px -360px; }
.sprite-Yunus_Mall { background-position:-180px -360px; }
