[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Ukraine-260.jpg'); background-size:780px 780px; width:260px; height:260px; }
.sprite-Oleksandr_Kucher { background-position:0 0; }
.sprite-Anatoliy_Tymoshchuk { background-position:-130px 0; }
.sprite-Andriy_Yarmolenko { background-position:0 -130px; }
.sprite-Artem_Fedetskyi { background-position:-130px -130px; }
.sprite-Artem_Kravets { background-position:-260px 0; }
.sprite-Bohdan_Butko { background-position:-260px -130px; }
.sprite-Denys_Boyko { background-position:0 -260px; }
.sprite-Denys_Harmash { background-position:-130px -260px; }
.sprite-Ivan_Petryak { background-position:-260px -260px; }
.sprite-Maksym_Malyshev { background-position:-390px 0; }
.sprite-Mykyta_Kamenyuka { background-position:-390px -130px; }
.sprite-Mykyta_Shevchenko { background-position:-390px -260px; }
.sprite-Oleh_Husyev { background-position:0 -390px; }
.sprite-Oleksandr_Hladkyi { background-position:-130px -390px; }
.sprite-Oleksandr_Karavayev { background-position:-260px -390px; }
.sprite-Andriy_Pyatov { background-position:-390px -390px; }
.sprite-Oleksandr_Zinchenko { background-position:-520px 0; }
.sprite-Pylyp_Budkivskyi { background-position:-520px -130px; }
.sprite-Roman_Zozulya { background-position:-520px -260px; }
.sprite-Ruslan_Malinovskyi { background-position:-520px -390px; }
.sprite-Ruslan_Rotan { background-position:0 -520px; }
.sprite-Serhiy_Rybalka { background-position:-130px -520px; }
.sprite-Serhiy_Sydorchuk { background-position:-260px -520px; }
.sprite-Taras_Stepanenko { background-position:-390px -520px; }
.sprite-Viktor_Kovalenko { background-position:-520px -520px; }
.sprite-Vitaliy_Buyalskyi { background-position:-650px 0; }
.sprite-Vyacheslav_Shevchuk { background-position:-650px -130px; }
.sprite-Yaroslav_Rakitskyi { background-position:-650px -260px; }
.sprite-Yevhen_Khacheridi { background-position:-650px -390px; }
.sprite-Yevhen_Konoplyanka { background-position:-650px -520px; }
.sprite-Yevhen_Seleznyov { background-position:0 -650px; }
