[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Ukraine-240.jpg'); background-size:600px 600px; width:240px; height:240px; }
.sprite-Pylyp_Budkivskiy { background-position:0 0; }
.sprite-Anatoliy_Tymoshchuk { background-position:-120px 0; }
.sprite-Andriy_Yarmolenko { background-position:0 -120px; }
.sprite-Artem_Fedetskiy { background-position:-120px -120px; }
.sprite-Bohdan_Butko { background-position:-240px 0; }
.sprite-Denys_Boyko { background-position:-240px -120px; }
.sprite-Denys_Garmash { background-position:0 -240px; }
.sprite-Mykyta_Shevchenko { background-position:-120px -240px; }
.sprite-Olexandr_Karavayev { background-position:-240px -240px; }
.sprite-Olexandr_Kucher { background-position:-360px 0; }
.sprite-Olexandr_Zinchenko { background-position:-360px -120px; }
.sprite-Andriy_Pyatov { background-position:-360px -240px; }
.sprite-Roman_Zozulya { background-position:0 -360px; }
.sprite-Ruslan_Rotan { background-position:-120px -360px; }
.sprite-Serhiy_Rybalka { background-position:-240px -360px; }
.sprite-Serhiy_Sydorchuk { background-position:-360px -360px; }
.sprite-Taras_Stepanenko { background-position:-480px 0; }
.sprite-Viktor_Kovalenko { background-position:-480px -120px; }
.sprite-Vyacheslav_Shevchuk { background-position:-480px -240px; }
.sprite-Yaroslav_Rakitskiy { background-position:-480px -360px; }
.sprite-Yevhen_Khacheridi { background-position:0 -480px; }
.sprite-Yevhen_Konoplyanka { background-position:-120px -480px; }
.sprite-Yevhen_Seleznyov { background-position:-240px -480px; }
