[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Ukraine-240.jpg'); background-size:720px 720px; width:240px; height:240px; }
.sprite-Oleksandr_Kucher { background-position:0 0; }
.sprite-Anatoliy_Tymoshchuk { background-position:-120px 0; }
.sprite-Andriy_Yarmolenko { background-position:0 -120px; }
.sprite-Artem_Fedetskyi { background-position:-120px -120px; }
.sprite-Artem_Kravets { background-position:-240px 0; }
.sprite-Bohdan_Butko { background-position:-240px -120px; }
.sprite-Denys_Boyko { background-position:0 -240px; }
.sprite-Denys_Harmash { background-position:-120px -240px; }
.sprite-Ivan_Petryak { background-position:-240px -240px; }
.sprite-Maksym_Malyshev { background-position:-360px 0; }
.sprite-Mykyta_Kamenyuka { background-position:-360px -120px; }
.sprite-Mykyta_Shevchenko { background-position:-360px -240px; }
.sprite-Oleh_Husyev { background-position:0 -360px; }
.sprite-Oleksandr_Hladkyi { background-position:-120px -360px; }
.sprite-Oleksandr_Karavayev { background-position:-240px -360px; }
.sprite-Andriy_Pyatov { background-position:-360px -360px; }
.sprite-Oleksandr_Zinchenko { background-position:-480px 0; }
.sprite-Pylyp_Budkivskyi { background-position:-480px -120px; }
.sprite-Roman_Zozulya { background-position:-480px -240px; }
.sprite-Ruslan_Malinovskyi { background-position:-480px -360px; }
.sprite-Ruslan_Rotan { background-position:0 -480px; }
.sprite-Serhiy_Rybalka { background-position:-120px -480px; }
.sprite-Serhiy_Sydorchuk { background-position:-240px -480px; }
.sprite-Taras_Stepanenko { background-position:-360px -480px; }
.sprite-Viktor_Kovalenko { background-position:-480px -480px; }
.sprite-Vitaliy_Buyalskyi { background-position:-600px 0; }
.sprite-Vyacheslav_Shevchuk { background-position:-600px -120px; }
.sprite-Yaroslav_Rakitskyi { background-position:-600px -240px; }
.sprite-Yevhen_Khacheridi { background-position:-600px -360px; }
.sprite-Yevhen_Konoplyanka { background-position:-600px -480px; }
.sprite-Yevhen_Seleznyov { background-position:0 -600px; }
