[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Ukraine-260.jpg'); background-size:650px 650px; width:260px; height:260px; }
.sprite-Pylyp_Budkivskiy { background-position:0 0; }
.sprite-Anatoliy_Tymoshchuk { background-position:-130px 0; }
.sprite-Andriy_Yarmolenko { background-position:0 -130px; }
.sprite-Artem_Fedetskiy { background-position:-130px -130px; }
.sprite-Bohdan_Butko { background-position:-260px 0; }
.sprite-Denys_Boyko { background-position:-260px -130px; }
.sprite-Denys_Garmash { background-position:0 -260px; }
.sprite-Mykyta_Shevchenko { background-position:-130px -260px; }
.sprite-Olexandr_Karavayev { background-position:-260px -260px; }
.sprite-Olexandr_Kucher { background-position:-390px 0; }
.sprite-Olexandr_Zinchenko { background-position:-390px -130px; }
.sprite-Andriy_Pyatov { background-position:-390px -260px; }
.sprite-Roman_Zozulya { background-position:0 -390px; }
.sprite-Ruslan_Rotan { background-position:-130px -390px; }
.sprite-Serhiy_Rybalka { background-position:-260px -390px; }
.sprite-Serhiy_Sydorchuk { background-position:-390px -390px; }
.sprite-Taras_Stepanenko { background-position:-520px 0; }
.sprite-Viktor_Kovalenko { background-position:-520px -130px; }
.sprite-Vyacheslav_Shevchuk { background-position:-520px -260px; }
.sprite-Yaroslav_Rakitskiy { background-position:-520px -390px; }
.sprite-Yevhen_Khacheridi { background-position:0 -520px; }
.sprite-Yevhen_Konoplyanka { background-position:-130px -520px; }
.sprite-Yevhen_Seleznyov { background-position:-260px -520px; }
