[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Ukraine-180.jpg'); background-size:450px 450px; width:180px; height:180px; }
.sprite-Pylyp_Budkivskyi { background-position:0 0; }
.sprite-Anatoliy_Tymoshchuk { background-position:-90px 0; }
.sprite-Andriy_Yarmolenko { background-position:0 -90px; }
.sprite-Artem_Fedetskyi { background-position:-90px -90px; }
.sprite-Bohdan_Butko { background-position:-180px 0; }
.sprite-Denys_Boyko { background-position:-180px -90px; }
.sprite-Denys_Harmash { background-position:0 -180px; }
.sprite-Mykyta_Shevchenko { background-position:-90px -180px; }
.sprite-Oleksandr_Karavayev { background-position:-180px -180px; }
.sprite-Oleksandr_Kucher { background-position:-270px 0; }
.sprite-Oleksandr_Zinchenko { background-position:-270px -90px; }
.sprite-Andriy_Pyatov { background-position:-270px -180px; }
.sprite-Roman_Zozulya { background-position:0 -270px; }
.sprite-Ruslan_Rotan { background-position:-90px -270px; }
.sprite-Serhiy_Rybalka { background-position:-180px -270px; }
.sprite-Serhiy_Sydorchuk { background-position:-270px -270px; }
.sprite-Taras_Stepanenko { background-position:-360px 0; }
.sprite-Viktor_Kovalenko { background-position:-360px -90px; }
.sprite-Vyacheslav_Shevchuk { background-position:-360px -180px; }
.sprite-Yaroslav_Rakitskyi { background-position:-360px -270px; }
.sprite-Yevhen_Khacheridi { background-position:0 -360px; }
.sprite-Yevhen_Konoplyanka { background-position:-90px -360px; }
.sprite-Yevhen_Seleznyov { background-position:-180px -360px; }
