[class^='sprite-'], [class*=' sprite-'] { background-image:url('assets/imgs/teams/Wales-260.jpg'); background-size:650px 650px; width:260px; height:260px; }
.sprite-George_Williams { background-position:0 0; }
.sprite-Aaron_Ramsey { background-position:-130px 0; }
.sprite-Ashley_Jazz_Richards { background-position:0 -130px; }
.sprite-Ashley_Williams { background-position:-130px -130px; }
.sprite-Ben_Davies { background-position:-260px 0; }
.sprite-Chris_Gunter { background-position:-260px -130px; }
.sprite-Danny_Ward { background-position:0 -260px; }
.sprite-David_Cotterill { background-position:-130px -260px; }
.sprite-David_Edwards { background-position:-260px -260px; }
.sprite-David_Vaughan { background-position:-390px 0; }
.sprite-Gareth_Bale { background-position:-390px -130px; }
.sprite-Andy_King { background-position:-390px -260px; }
.sprite-Hal_RobsonKanu { background-position:0 -390px; }
.sprite-James_Chester { background-position:-130px -390px; }
.sprite-James_Collins { background-position:-260px -390px; }
.sprite-Joe_Allen { background-position:-390px -390px; }
.sprite-Joe_Ledley { background-position:-520px 0; }
.sprite-Jonathan_Williams { background-position:-520px -130px; }
.sprite-Neil_Taylor { background-position:-520px -260px; }
.sprite-OwainFon_Williams { background-position:-520px -390px; }
.sprite-Sam_Vokes { background-position:0 -520px; }
.sprite-Simon_Church { background-position:-130px -520px; }
.sprite-Wayne_Hennessey { background-position:-260px -520px; }
