[class^='sprite-'], [class*=' sprite-'] { background-image:url('../img/Wales-260.jpg'); background-size:130px 3770px; width:260px; height:260px; }
.sprite-Aaron_Ramsey { background-position:0 0; }
.sprite-Adam_Henley { background-position:0 -130px; }
.sprite-Adam_Matthews { background-position:0 -260px; }
.sprite-Andy_King { background-position:0 -390px; }
.sprite-Ashley_Richards { background-position:0 -520px; }
.sprite-Ashley_Williams { background-position:0 -650px; }
.sprite-Ben_Davies { background-position:0 -780px; }
.sprite-Chris_Gunter { background-position:0 -910px; }
.sprite-Danny_Ward { background-position:0 -1040px; }
.sprite-David_Cotterill { background-position:0 -1170px; }
.sprite-David_Edwards { background-position:0 -1300px; }
.sprite-David_Vaughan { background-position:0 -1430px; }
.sprite-Emyr_Huws { background-position:0 -1560px; }
.sprite-Gareth_Bale { background-position:0 -1690px; }
.sprite-George_Williams { background-position:0 -1820px; }
.sprite-Hal_RobsonKanu { background-position:0 -1950px; }
.sprite-James_Chester { background-position:0 -2080px; }
.sprite-James_Collins { background-position:0 -2210px; }
.sprite-Joe_Allen { background-position:0 -2340px; }
.sprite-Joe_Ledley { background-position:0 -2470px; }
.sprite-Jonathan_Williams { background-position:0 -2600px; }
.sprite-Neil_Taylor { background-position:0 -2730px; }
.sprite-OwainFon_Williams { background-position:0 -2860px; }
.sprite-Paul_Dummett { background-position:0 -2990px; }
.sprite-Sam_Vokes { background-position:0 -3120px; }
.sprite-Simon_Church { background-position:0 -3250px; }
.sprite-Tom_Bradshaw { background-position:0 -3380px; }
.sprite-Tom_Lawrence { background-position:0 -3510px; }
.sprite-Wayne_Hennessey { background-position:0 -3640px; }
